{% extends "layout.html "%}
{% load producao_tags %}
{% block title %}Especificações {{ cliente.nome }} {{ artigo.cod }} | {{ block.super }}{% endblock %}
{% block content %}


<div class="container">
    <a href="{% url 'producao:cliente_details' pk=cliente.pk %}" class="btn btn-outline-primary" role="button">Voltar</a>
    <a href="{% url 'producao:especificacoes_artigo_cliente_add' pk=artigo_cliente.pk %}" class="btn btn-outline-primary" role="button">Novas especificações</a>
    
</div>
<br>
<div>
    <h3 class="text-center">Especificações</h3>
</div>
<br>
<div class="container">
    <div class="container">
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Cliente:</label></div>
            <div class="col-10">{{ cliente.nome }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Artigo:</label></div>
            <div class="col-10">{{ artigo }} - {{ artigo.des }}</div>
        </div>
        
    </div>
    <br>
    <div class="table-responsive">
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th scope="col">Especificações</th>
                    {% if request.user|has_group:"Logistica Supervisor"%}
                    <th scope="col">Detalhes</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Remover</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for spec in especificacoes %}
                <tr>                   
                    <td>{{ spec.spec }}</td>
                    <td><a href="{% url 'producao:especificacoes_details' pk=spec.pk %}"><i class="fas fa-th-list"></i></a></td>
                    {% if request.user|has_group:"Logistica Supervisor"%}
                    <td><a href="#"><i class="fas fa-edit"></i></a></td>
                    <td><a href="#"><i class="fas fa-trash"></i></a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    



{% endblock %}
                    
                    