{% extends "layout.html "%} 
{% block title %}Adicionar Transporte | {{ block.super }}{% endblock %}
{% block content %}

<div class="container">
    <a href="{% url 'producao:especificacoes_artigo_cliente' pk_artigo=artigo.pk pk_cliente=cliente.pk %}" class="btn btn-outline-primary" role="button">Voltar</a>
    <!-- <a href="#" class="btn btn-outline-primary" role="button">Criar Artigo</a> -->
    
</div>
<div class="container">
    <div class="container">
        <h3 class="text-center">Novas Especificações</h3>
    </div>
    <br>
    <div class="container">
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Cliente:</label></div>
            <div class="col-10">{{ cliente.nome }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Artigo:</label></div>
            <div class="col-10">{{ artigo }} - {{ artigo.des }}</div>
        </div>
        
    </div>
    <br>
    <form method="POST" action="">
        {% csrf_token %}
                
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Nome Método:</label></div>
            <div class="col-10">{{ form.spec }}</div>
        </div>
        <div class="table-responsive">
            <table class="table table-fixed">
                <thead>
                    <tr>
                        <th scope="col">Propriedade</th>
                        <th scope="col">Inferior</th>
                        <th scope="col">Superior</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Basis Weight (g/m2)</td>
                        <td>{{ form.basis_weight_inf }}</td>
                        <td>{{ form.basis_weight_sup }}</td>
                    </tr>
                    <tr>
                        <td>Tensile at peak CD (N/25mm)</td>
                        <td>{{ form.tensile_peak_cd_inf }}</td>
                        <td>{{ form.tensile_peak_cd_sup }}</td>
                    </tr>
                    <tr>
                        <td>Elongation at break CD (%)</td>
                        <td>{{ form.elongation_break_cd_inf }}</td>
                        <td>{{ form.elongation_break_cd_sup }}</td>
                    </tr>
                    <tr>
                        <td>Elongation at 9.81N CD (%)</td>
                        <td>{{ form.elongation_n_cd_inf }}</td>
                        <td>{{ form.elongation_n_cd_sup }}</td>
                    </tr>
                    <tr>
                        <td>Tensile at peak MD (N/25mm)</td>
                        <td>{{ form.tensile_peak_md_inf }}</td>
                        <td>{{ form.tensile_peak_md_sup }}</td>
                    </tr>
                    <tr>
                        <td>Elongation at break MD (%)</td>
                        <td>{{ form.elongation_break_md_inf }}</td>
                        <td>{{ form.elongation_break_md_sup }}</td>
                    </tr>
                    <tr>
                        <td>Elongation at 9.81N MD (%)</td>
                        <td>{{ form.elongation_n_md_inf }}</td>
                        <td>{{ form.elongation_n_md_sup }}</td>
                    </tr>
                    <tr>
                        <td>Load at 5% elongation 1st cycle (N)</td>
                        <td>{{ form.load_five_inf }}</td>
                        <td>{{ form.load_five_sup }}</td>
                    </tr>
                    <tr>
                        <td>Load at 10% elongation 1st cycle (N)</td>
                        <td>{{ form.load_ten_inf }}</td>
                        <td>{{ form.load_ten_sup }}</td>
                    </tr>
                    <tr>
                        <td>Load at 20% elongation 1st cycle (N)</td>
                        <td>{{ form.load_twenty_inf }}</td>
                        <td>{{ form.load_twenty_sup }}</td>
                    </tr>
                    <tr>
                        <td>Load at 50% elongation 1st cycle (N)</td>
                        <td>{{ form.load_50_inf }}</td>
                        <td>{{ form.load_50_sup }}</td>
                    </tr>
                    <tr>
                        <td>Permanent set 2º Cicle (%)</td>
                        <td>{{ form.permanent_set_second_inf }}</td>
                        <td>{{ form.permanent_set_second_sup }}</td>
                    </tr>
                    <tr>
                        <td>Load at 100% elongation 2cicle (N/50mm)</td>
                        <td>{{ form.load_hundred_second_inf }}</td>
                        <td>{{ form.load_hundred_second_sup }}</td>
                    </tr>
                    <tr>
                        <td>Permanent set 3º Cicle (%)</td>
                        <td>{{ form.permanent_set_third_inf }}</td>
                        <td>{{ form.permanent_set_third_sup }}</td>
                    </tr>
                    <tr>
                        <td>Load at 100% elongation 3cicle (N/50mm)</td>
                        <td>{{ form.load_hundred_third_inf }}</td>
                        <td>{{ form.load_hundred_third_sup }}</td>
                    </tr>
                    <tr>
                        <td>Peel test - (CD) (N/25mm)</td>
                        <td>{{ form.peel_test_inf }}</td>
                        <td>{{ form.peel_test_sup }}</td>
                    </tr>
                    <tr>
                        <td>Elongation at 10 N (mm)</td>
                        <td>{{ form.elongation_ten_inf }}</td>
                        <td>{{ form.elongation_ten_sup }}</td>
                    </tr>
                    <tr>
                        <td>Force Max (N)</td>
                        <td>{{ form.force_max_inf }}</td>
                        <td>{{ form.force_max_sup }}</td>
                    </tr>
                    <tr>
                        <td>Force Relaxation 1st Cycle (%)</td>
                        <td>{{ form.force_relax_inf }}</td>
                        <td>{{ form.force_relax_sup }}</td>
                    </tr>
                    <tr>
                        <td>Tensile Set (%)</td>
                        <td>{{ form.tensile_set_inf }}</td>   
                        <td>{{ form.tensile_set_sup }}</td>
                    </tr>
                    <tr>
                        <td>LOAD 1ST CYCLE (N/50mm)</td>
                        <td>{{ form.load_first_cycle_inf }}</td>   
                        <td>{{ form.load_first_cycle_sup }}</td>
                    </tr>
                    <tr>
                        <td>LOAD 1ST RELAXATION (N/50mm)</td>
                        <td>{{ form.load_first_relax_inf }}</td>   
                        <td>{{ form.load_first_relax_sup }}</td>
                    </tr>
                    <tr>
                        <td>1ST RETRACTION FORCE AT 50% (N/50mm)</td>
                        <td>{{ form.first_retract_force_fifty_inf }}</td>   
                        <td>{{ form.first_retract_force_fifty_sup }}</td>
                    </tr>
                    <tr>
                        <td>1st cycle PERMANENT SET (mm)</td>
                        <td>{{ form.first_cycle_permanent_set_inf }}</td>   
                        <td>{{ form.first_cycle_permanent_set_sup }}</td>
                    </tr>
                    <tr>
                        <td>LOAD 2ND CYCLE (N/50mm)</td>
                        <td>{{ form.load_second_cycle_inf }}</td>   
                        <td>{{ form.load_second_cycle_sup }}</td>
                    </tr>
                    <tr>
                        <td>LOAD 2ND RELAXATION (N/50mm)</td>
                        <td>{{ form.load_second_relax_inf }}</td>   
                        <td>{{ form.load_second_relax_sup }}</td>
                    </tr>
                    <tr>
                        <td>2ND RETRACTION FORCE AT 50% (N/50mm)</td>
                        <td>{{ form.second_retract_force_fifty_inf }}</td>   
                        <td>{{ form.second_retract_force_fifty_sup }}</td>
                    </tr>
                    <tr>
                        <td>MAXIMUM LOAD (N/50mm)</td>
                        <td>{{ form.max_load_inf }}</td>   
                        <td>{{ form.max_load_sup }}</td>
                    </tr>
                    <tr>
                        <td>EXTENSION AT MAXIMUM LOAD (mm)</td>
                        <td>{{ form.extension_max_load_inf }}</td>   
                        <td>{{ form.extension_max_load_sup }}</td>
                    </tr>
                    <tr>
                        <td>LOAD AT BREAK (N/50mm)</td>
                        <td>{{ form.load_break_inf }}</td>   
                        <td>{{ form.load_break_sup }}</td>
                    </tr>
                    <tr>
                        <td>EXTENSION AT BREAK (mm)</td>
                        <td>{{ form.extencion_break_inf }}</td>   
                        <td>{{ form.extencion_break_sup }}</td>
                    </tr>
                    <tr>
                        <td>EXTENSION AT PRESET POINT - LOAD 10N (mm)</td>
                        <td>{{ form.extencion_preset_point_load_ten_inf }}</td>   
                        <td>{{ form.extencion_preset_point_load_ten_sup }}</td>
                    </tr>
                    <tr>
                        <td>LOAD AT PRESET POINT - TENSILE EXTENSION 45mm (N/50mm)</td>
                        <td>{{ form.load_preset_point_tensile_extention_fortyfive_inf }}</td>   
                        <td>{{ form.load_preset_point_tensile_extention_fortyfive_sup }}</td>
                    </tr>
                    <tr>
                        <td>Elongation capacity (%)</td>
                        <td>{{ form.elongation_capacity_inf }}</td>   
                        <td>{{ form.elongation_capacity_sup }}</td>
                    </tr>
                    <tr>
                        <td>Maximum elongation capacity (%)</td>
                        <td>{{ form.max_elongation_capacity_inf }}</td>   
                        <td>{{ form.max_elongation_capacity_sup }}</td>
                    </tr>
                    <tr>
                        <td>Retraction capacity (%)</td>
                        <td>{{ form.retract_capacity_inf }}</td>   
                        <td>{{ form.retract_capacity_sup }}</td>
                    </tr>
                    <tr>
                        <td>Deformation (%)</td>
                        <td>{{ form.deformation_inf }}</td>   
                        <td>{{ form.deformation_sup }}</td>
                    </tr>
                    <tr>
                        <td>Tensile strengh (N/50mm)</td>
                        <td>{{ form.tensile_strengh_inf }}</td>   
                        <td>{{ form.tensile_strengh_sup }}</td>
                    </tr>
                    <tr>
                        <td>Elongation at break CD (%)</td>
                        <td>{{ form.elongation_break_cd_inf }}</td>   
                        <td>{{ form.elongation_break_cd_sup }}</td>
                    </tr>
                    <tr>
                        <td>Elongation at 9,81N - fora estufa (%)</td>
                        <td>{{ form.elongation_n_out_inf }}</td>   
                        <td>{{ form.elongation_n_out_sup }}</td>
                    </tr>
                    <tr>
                        <td>Elongation after 1h at 40°C (%)</td>
                        <td>{{ form.elongation_after_one_forty_inf }}</td>   
                        <td>{{ form.elongation_after_one_forty_sup }}</td>
                    </tr>

                    
                </tbody>
            </table>
        </div>
        <div class="row mt-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</div>

{% endblock %}