{% extends "layout.html "%}
{% load bootstrap3 %}

{% block title %}Perfil Delete | {{ block.super }}{% endblock %}
{% block content %}

<div class="container">
    
    <div class="row">
            <h1 id="center">Deseja remover a bobine {{ bobine.nome }} do inventário DM?</h1>
    </div>
    <br>
    <div class="row">
        <form action="." method="POST">
            {% csrf_token %}
            <p id="center"><input type="submit" class="btn btn-block btn-danger" value="Sim"> <a href="{% url 'producao:inventario_bobines_list' %}" class="btn btn-block btn-primary" role="button">Cancelar</a></p>
            
        </form>
    </div>

    
</div>


{% endblock %}
        