{% extends "layout.html" %}
{% load static %}
{% block head_title %}Inventário Paletes Cliente{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row">
        <a href="{% url 'producao:planeamento_home' %}" role="button" class="btn btn-primary">Voltar</a>
        <a href="{% url 'producao:inventario_palete_cliente_insert' %}" role="button" class="btn btn-primary pull-right">Inserir Paletes Cliente</a>
    </div>
    <div class="row">
        <h1 id="center">Inventário Paletes Cliente</h1>
    </div>
    <br>
    

    <div class="row">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th id="center">Palete</th>
                            <th>Artigo</th>
                            <th id="center">Cliente</th>
                            <th id="center">Comp. Total (m)</th>
                            <th id="center">Área (m<sup>2</sup>)</th>
                            <th id="center">Largura Bobines (mm)</th>
                            <th id="center">OD Min. / OD. Máx. (mm)</th>
                            <th id="center">Core (")</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in paletes_inventario %}
                        <tr>
                            <td id="center"><strong>{{ p.nome }}</strong></td>
                            <td>{{ p.artigo }}</td>
                            <td id="center">{{ p.cliente }}</td>
                            <td id="center">{{ p.comp_total }}</td>
                            <td id="center">{{ p.area }}</td>
                            <td id="center">{{ p.largura_bobine }}</td>
                            <td id="center">{{ p.diam_min }} / {{ p.diam_max }}</td>
                            <td id="center">{{ p.core_bobines }}</td>
                           
                            <!-- <td id="center"><a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></span></a></td> -->
                            
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
</div>



{% endblock %}