{% extends "layout.html "%}
{% load static %}
{% block title %}Encomendas | {{ block.super }}{% endblock %}
{% block content %}

<div class="container">
    
   <h1>Olá</h1>
</div>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>


<script>
$(document).ready(

   onLoadAlert()
   

)


</script>

{% endblock %}