{% extends "layout.html" %}
{% load bootstrap3 %}
{% load producao_tags %}
{% block content %}
<div>
    {% if palete.estado == 'G'%}
    <a href="{% url 'producao:palete_list_all' %}"  class="btn_back" role="button">Voltar</a>
    {% elif palete.estado == 'DM' %}
    <a href="{% url 'producao:paletes_retrabalho' %}"  class="btn_back" role="button">Voltar</a>
    {% endif %}
</div>
<div class="title_block-list">
    <h1>Palete</h1>
    <h2>{{ palete.nome }}</h2>
    {% if palete.estado == 'G'%}<h3 id="estado_palete_g">GOOD</h3>{% elif palete.estado == 'DM' %}<h3 id="estado_palete_dm">DM12</h3>{% endif %}
</div>
{% if palete.num_bobines_act == 0 %}
<div class="title_block-list">
    <h1>Palete Vazia</h1>
    
</div>                 
{% endif %}
<div class="content_details">
    <div>
        <div><h3>Data: <span>{{ palete.data_pal|date:"d-n-Y" }}</span></h3></div>
        {% if palete.ordem == None %}
        <div><h3>Ordem de Fabrico: <span>S/ ordem de fabrico associada</span></h3></div>
        {% else%}
        <div><h3>Ordem de Fabrico: <span>{{ palete.ordem }}</span></h3></div>
        {% endif %}
        {% if palete.num_palete_ordem != None %}
        <div><h3>Nº Palete da Ordem: <span>{{ palete.num_palete_ordem }}</span></h3></div>
        {% else %}
        <div><h3>Nº Palete da Ordem: <span>S/ ordem de fabrico associada</span></h3></div>
        {% endif %}
        {% if palete.ordem_original != None %}
        <div><h3>Ordem de Fabrico original: <span>{{ palete.ordem_original }}</span></h3></div>
        {% endif %}
        <div><h3>Comprimento: <span>{{ palete.comp_total }} m</span></h3></div>
        <div><h3>Área: <span>{{ palete.area }} m<sup>2</sup></span></h3></div>
        <div><h3>Bobines: <span>{{ palete.num_bobines_act }} / {{ palete.num_bobines }}</span></h3></div>
        {% if palete.estado == 'G' %}
        <div><h3>Largura das bobines: <span>{{ palete.largura_bobines }} mm</span></h3></div>
        <div><h3>Core: <span>{{ palete.core_bobines }}"</span></h3></div>
        {% endif %}
        
    </div>
    <div>
        {% if palete.estado == 'G' %}
            {% if palete.cliente != None %}
                <div><h3>Cliente: <span>{{ palete.cliente }}</span></h3></div>
            {% else %}
                <div><h3>Cliente: <span>S/cliente atribuido</span></h3></div>
            {% endif %}  
            {% if palete.destino != None %}      
            <div><h3>Destino: <span>{{ palete.destino }}</span></h3></div>
            {% else %}
            <div><h3>Destino: <span>S/ destino atribuido</span></h3></div>
            {% endif %}
            {% if palete.carga == None %}<div><h3>Carga: <span>S/ carga atribuida</span></h3></div>{% else %}<div><h3>Carga: <span>{{ palete.carga.carga }}</span></h3></div>{% endif %}
            {% if palete.stock == False %}<div><h3>Stock: <span class="td-icon" ><i class="fas fa-times"></i></span></h3></div>{% else %}<div><h3>Stock: <span class="td-icon" ><i class="fas fa-check"></i></span></h3></div>{% endif %}
            {% endif %}
            {% if palete.peso_bruto == None %}<div><h3>Peso Bruto: <span>Não pesada</span></h3></div>{% else %}<div><h3>Peso Bruto: <span>{{ palete.peso_bruto }}</span></h3></div>{% endif %}
            {% if palete.peso_liquido == None %}<div><h3>Peso Liquido: <span>Não pesada</span></h3></div>{% else %}<div><h3>Peso Liquido: <span>{{ palete.peso_liquido }}</span></h3></div>{% endif %}
        </div>
</div>
{% if request.user|has_group:"Produção Supervisor" or request.user|has_group:"Produção Operador" %}
<div class="content_details"> 
    <div>
        <form method="POST" action="#">
            <h3>Imprimir Etiquetas</h3>
            {% csrf_token %}
            <label for="id_impressora">Impressora: </label>{{ form.impressora }}
            <label for="id_num_copias">Nº de Cópias: </label>{{ form.num_copias }}
            <input type="submit" value="Imprimir" id="confirm-btn">
        </form>
    </div>
    <div>
        {% if has_carga == False %}
        <a href="{% url 'producao:palete_rabrir' pk=palete.pk %}" type="button" class="btn_list_r">Refazer Palete</a>
        {% else %}
        <p>Não é possivel refazer a Palete porque ela já está atribuida a uma carga.</p>
        {% endif %}
    </div>
    
    
</div>
{% endif %}

<div>
    <h3>Bobines</h3>
    <table class="content-table">
        <thead>
            <tr id="obs">
                <th>Nº</th>
                <th>Reciclada</th>
                <th style="min-width: 120px;">Bobine</th>
                <th>Estado</th>
                <th>Largura</th>
                <th>Diâmetro (mm)</th>
                <th>Core (")</th>
                <th>Comp.(m)</th>
                <th>Área(m<sup>2</sup>)</th>
                <th>Destino Bobine</th>
                <th>Observações</th>
                <th style="min-width: 120px;">Bobine original 1</th>
                <th>Destino</th>
                <th>Observações</th>
                <th style="min-width: 120px;">Bobine original 2</th>
                <th>Destino</th>
                <th>Observações</th>
                <th style="min-width: 120px;">Bobine original 3</th>
                <th>Destino</th>
                <th>Observações</th>

                
            
            </tr>
        </thead>
        <tbody>
            
                {% for b in bobines %}
                <tr id="obs">
                    <td>{{ b.posicao_palete }}</td>
                    {% if b.recycle == True %}<td class="td-icon"><i class="fas fa-check"></i></td>{% else %}<td></td>{% endif %}
                    <td><a href="{% url 'producao:bobine_details' pk=b.pk %}">{{ b.nome }}</a></td>
                    {% if b.estado == 'G' %}<td id="estado_good">{{ b.estado }}</td>
                    {% elif b.estado == 'R' %}<td id="estado_rejected">{{ b.estado }}</td>
                    {% elif b.estado == 'DM' %}<td id="estado_dm">{{ b.estado }}</td>
                    {% elif b.estado == 'BA' %}<td id="estado_ba">{{ b.estado }}</td>
                    {% elif b.estado == 'LAB' %}<td id="estado_lab">{{ b.estado }}</td>
                    {% elif b.estado == 'IND' %}<td id="estado_ind">{{ b.estado }}</td>
                    {% elif b.estado == 'HOLD' %}<td id="estado_hold">{{ b.estado }}</td>
                    {% elif b.estado == 'SC' %}<td id="estado_sc">{{ b.estado }}</td>{% endif %}
                    <td>{{ b.largura.largura }}</td>
                    <td>{{ b.bobinagem.diam }}</td>
                    <td>{{ b.largura.perfil.core }}</td>
                    <td>{{ b.comp }}</td>
                    <td>{{ b.area }}</td>
                    <td>{{ b.destino }}</td>
                    <td>{{ b.obs }}</td>
                    {% for em in b.bobinagem.emenda_set.all %}
                        <td><a href="{% url 'producao:bobine_details' pk=b.pk %}">{{ em.bobine.nome }}</a></td>
                        <td>{{ em.bobine.destino }}</td>
                        <td>{{ em.bobine.obs }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
    
                
            </tbody>
        </table>
</div>
   
 

{% if palete.estado == 'DM' %}
<br>
<br>
<br>
<div class="title_block-list">
    <h3>Histórico de Bobines</h3>
</div> 
<div>
    <table class="content-table">
        <thead>
            <tr>
                <th>Bobine</th>
                <th>Data de picagem</th>
                <th>Destino</th>
            </tr>
        </thead>
        <tbody>
            <tbody>    
                {% for mov in movimentos_bobines %}   
                <tr>
                    <td>{{ mov.bobine }}</td>
                    <td>{{ mov.timestamp|date:"d-m-Y G:i" }}</td>
                    <td>{{ mov.destino }}</td>
                </tr>
                {% endfor %}
            </tbody>  
        </tbody>
    </table>
</div>  
{% endif %}
                    
    

    
           
                    
 
{% endblock %}