{% extends "layout.html "%} 
{% load bootstrap3 %}
{% block title %}Picagem de bobines | {{ block.super }}{% endblock %}
{% block content %}
<div>
    <a href="{% url 'producao:palete_list_all' %}"  class="btn btn-outline-primary" role="button">Cancelar</a>
</div>
<div class="title">
    <section>
        <h1>{{palete.nome}}</h1>
    </section>
</div>
<form action="" method="POST">
    <div class=cabecalho>
        <div class="cabecalho-1">
            
            <section class="cabecalho-1-section-1">
                <h1 class="atr-palete" class="atr-palete">Cliente:</h1>
                <h1 class="atr-palete">Nº de bobines: </h1>
                <h1 class="atr-palete">Largura bobines: </h1>
                <h1 class="atr-palete">Core bobines: </h1>
              
            </section>
            <section class="cabecalho-1-section-1">
                <h1 class="atr-palete">{{palete.cliente}}</h1>
                <h1 class="atr-palete">{{palete.num_bobines}}</h1>
                <h1 class="atr-palete">{{palete.largura_bobines}}</h1>
                <h1 class="atr-palete">{{palete.core_bobines}}</h1>
              
            </section>
            
        </div>
        <div class="cabecalho-2">
            <section class="cabecalho-2-section-1">
                    <h1 class="atr-palete">Destino: </h1>
                    <h1 class="atr-palete">Ordem de Produção: </h1>
                    <h1 class="atr-palete">Encomenda: </h1>
                    
                  
            </section>
            <section class="cabecalho-2-section-2">
                    <h1 class="atr-palete">{{palete.destino}}</h1>
                    <h1 class="atr-palete">{{palete.ordem}}</h1>
                    <h1 class="atr-palete">{{palete.ordem.enc }}</h1>
                    
            </section>
            
        </div>
        
    </div>
    <div class="title_block-list">
        {% if messages %}
               
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">
                    <h3 id="center">ERRO!</h3>
                    <p id="center"> {{message}} </p>
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    <h3 id="center">SUCESSO!</h3>
                    <p id="center"> {{message}} </p>
                </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning" role="alert">
                    <h3 id="center">JÁ EXISTE!</h3>
                    <p id="center"> {{message}} </p>
                </div>
                {% endif %}
            {% endfor %}
                
        {% endif %}
    </div>
    <div class="titles">
        <section>
            <h1>Bobines</h1>
        </section>
        <section>
            <h1>Pesagem</h1>
        </section>
    </div>
    <div class=corpo>
        <div class="corpo-1">
            <section class="corpo-1-section-1">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    <p class="contador-bobines">{{ forloop.counter }}</p>
                {% endfor %}             
            </section>
            <section class="corpo-1-section-2">
                {% for form in formset %}
                    {% for field in form %}
                        {{ field }}
                    {% endfor %}
                {% endfor %}
            </section>
        </div>
        <div class="corpo-2">
            <section class="corpo-2-section-1">
                <p>Peso Bruto: </p>
                <p>Peso Palete: </p>
            </section>
            <section class="corpo-2-section-2">
                <p>{{ form.peso_bruto }}</p>
                <p>{{ form.peso_palete }}</p>
                <input type="submit" value="Validar" class="btn btn-outline-primary">
            </section>
        </div>
        
    </div>
    
</form>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
  $(document).keydown(function(e) {

        // Set self as the current item in focus
        var self = $(':focus'),
            // Set the form by the current item in focus
            form = self.parents('form:eq(0)'),
            focusable;

        // Array of Indexable/Tab-able items
        focusable = form.find('input,a,select,button,textarea').filter(':visible');

        function enterKey(){
        if (e.which === 13 && !self.is('textarea')) { // [Enter] key

            // If not a regular hyperlink/button/textarea
            if ($.inArray(self, focusable) && (!self.is('a')) && (!self.is('button'))){
            // Then prevent the default [Enter] key behaviour from submitting the form
            e.preventDefault();
            } // Otherwise follow the link/button as by design, or put new line in textarea

            // Focus on the next item (either previous or next depending on shift)
            focusable.eq(focusable.index(self) + (e.shiftKey ? -1 : 1)).focus();

            return false;
        }
        }
        // We need to capture the [Shift] key and check the [Enter] key either way.
        if (e.shiftKey) { enterKey() } else { enterKey() }
});


  

</script>

{% endblock %}