{% load bootstrap3 %}
<div class="container">
<form method="POST" action="#" id="formid">
    <div class="container">
        
        <br>
        
    <div class="row">
            
        <div class="container col-md-4">
            {% bootstrap_field form.bobine %}
                
        </div>
 
     
    </div>
            
    <!-- <div class="row">  
        <div class="col-md-2"></div>  
        <div class="col-md-8">
            {% csrf_token %}
            <a href="#" class="btn btn-primary pull-left" role="button">Voltar</a>
            <input type="submit" class="btn btn-primary pull-right" value="Gravar">
        </div>
        <div class="col-md-2"></div>
</div> -->
    
</div>

    
</form>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<script>
$('#formid').on('keyup keypress', function(e) {
  var keyCode = e.keyCode || e.which;
  if (keyCode === 13) { 
    e.preventDefault();
    return false;
  }
});


</script>