{% extends "layout.html "%} 
{% block title %}Paletes para retrabalho | {{ block.super }}{% endblock %}
{% block content %}

<div class="container">
    <a href="{% url 'producao:producao_home' %}" class="btn btn-primary" role="button">Voltar</a>
    <a href="{% url 'producao:palete_create_retrabalho' %}" class="btn btn-primary pull-right" role="button">Criar palete</a>


</div>
<div class="container table-responsive">
    <h1 id="center">Paletes para Retrabalho</h1><br>
    <br><br>
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <input id="myInput" type="text" placeholder="Palete" onkeyup="searchPalete()" autofocus/><br><br>
    <table class="table fit" id="myTable">
        <thead>
            <tr>
                <th>Palete</th>
                <th>Nº</th>
                <th>Data</th>
                <th>Estado</th>
                <th>Bobines</th>
                <th>Área (m2)</th>
                <th>Comprimento total (m)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="palete-dm">
            
        </tbody>
        
    </table>
</div>
<div class="col-md-2"></div>




</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function(){

    $.ajax({
        type:"GET",
        dataType: "json",
        url: "/api/palete/dm/",
        success: function(paletes_dm){
            
            if(!paletes_dm || paletes_dm.length === 0) {
                    return;
                }
            var paletes_dm_length = paletes_dm.length
            for ( i = 0; i < paletes_dm_length; i++){
                var link = "/producao/palete/" + paletes_dm[i].id
                var link_del = "/producao/palete/delete/" + paletes_dm[i].id
                
                var a1=$(document.createElement("a")).text(paletes_dm[i].nome).attr('href', link), td1=$(document.createElement("td"));
                var td2=$(document.createElement("td"))
                var td3=$(document.createElement("td")).attr('id', "center")
                var td4=$(document.createElement("td")).attr('id', "estado_dm")
                var td5=$(document.createElement("td")).attr('id', "center")
                var td6=$(document.createElement("td")).attr('id', "center")
                var td7=$(document.createElement("td")).attr('id', "center")

                td1.append(a1);
                td2.text(paletes_dm[i].num);
                td3.text(paletes_dm[i].data_pal);
                td4.text(paletes_dm[i].estado);
                td5.text(paletes_dm[i].num_bobines_act + " / " + paletes_dm[i].num_bobines);
                td6.text(paletes_dm[i].area);
                td7.text(paletes_dm[i].comp_total);
                
                var tr=$(document.createElement("tr"));
                tr.append(td1).append(td2).append(td3).append(td4).append(td5).append(td6).append(td7);

                $("#palete-dm").append(tr);

            }
        }
    })
})
function searchPalete() {
    // Declare variables 
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }









</script>

{% endblock %}