{% extends "layout.html "%}
{% load producao_tags %}
{% block title %}Seleção Palete a pesar | {{ block.super }}{% endblock %}
{% block content %}

<div>
    <input type="button" value="Voltar" id="confirm-btn" onclick="history.back()">
</div>
{% if request.user|has_group:"Logistica Supervisor" or  request.user|has_group:"Logistica Operador"%}
<div class="title_block-list">
    <h1>Pique a palete que deseja pesar</h1>
</div>
<form action="" method="POST" class="submission-form">
    {% csrf_token %}
    <label for="id_palete">Palete</label>{{ form.palete }}
    <input type="submit" value="Avançar" id="validate-btn">
</form>
{% else %}
<h3>Acesso Restrito</h3>
{% endif %}
{% endblock %}