{% extends "layout.html "%} 
{% load bootstrap3 %}
{% block title %}Picagem de bobines | {{ block.super }}{% endblock %}
{% block content %}
<form action="" method="POST">
    <div>
        <input type="button" value="Cancelar" id="confirm-btn" onclick="history.back()">
        <input type="submit" value="Validar" id="validate-btn">
    </div>
    
    <div class="title_block-list">
        <br>
        <h1>Palete: {{ palete.num }}-2020</h1>
        {% if palete.estado == 'G'%}<h3 id="estado_palete_g">GOOD</h3>{% elif palete.estado == 'DM' %}<h3 id="estado_palete_dm">DM12</h3>{% endif %}
        <h3>Cliente: {{ palete.cliente.nome }}</h3>
        <h3>Nº de bobines total: {{ palete.num_bobines }}</h3>
        <h3>Largura das bobines: {{ palete.largura_bobines }}</h3>
        <h3>Core das bobines: {{ palete.core_bobines }}</h3>
    </div>
    <div class="title_block-list">
        {% if messages %}
               
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">
                    <h3 id="center">ERRO!</h3>
                    <p id="center"> {{message}} </p>
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    <h3 id="center">SUCESSO!</h3>
                    <p id="center"> {{message}} </p>
                </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning" role="alert">
                    <h3 id="center">JÁ EXISTE!</h3>
                    <p id="center"> {{message}} </p>
                </div>
                {% endif %}
            {% endfor %}
                
        {% endif %}
    </div>
    <div class="content-form">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
        <div class="title_block-list">
            <h3>Bobine {{ forloop.counter }}</h3>
        </div>
  
           
            {% for field in form %}
            <div class="content-form-2" id="largura-real">
                {{ field }}
            </div>
            
            {% endfor %}
        {% endfor %}

    </div>
</form>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
  $(document).keydown(function(e) {

        // Set self as the current item in focus
        var self = $(':focus'),
            // Set the form by the current item in focus
            form = self.parents('form:eq(0)'),
            focusable;

        // Array of Indexable/Tab-able items
        focusable = form.find('input,a,select,button,textarea').filter(':visible');

        function enterKey(){
        if (e.which === 13 && !self.is('textarea')) { // [Enter] key

            // If not a regular hyperlink/button/textarea
            if ($.inArray(self, focusable) && (!self.is('a')) && (!self.is('button'))){
            // Then prevent the default [Enter] key behaviour from submitting the form
            e.preventDefault();
            } // Otherwise follow the link/button as by design, or put new line in textarea

            // Focus on the next item (either previous or next depending on shift)
            focusable.eq(focusable.index(self) + (e.shiftKey ? -1 : 1)).focus();

            return false;
        }
        }
        // We need to capture the [Shift] key and check the [Enter] key either way.
        if (e.shiftKey) { enterKey() } else { enterKey() }
});


  

</script>

{% endblock %}