{% extends "layout.html "%}
{% load producao_tags %}


{% block title %}Palete pesagem DM | {{ block.super }}{% endblock %}
{% block content %}

<div class="box1">
    <div class="box1-1">
        
        <div class="box1-1-1">
            <h1>Pesagem Palete DM12</h1>
        </div>
        <div class="box1-1-2">
            <h2>{{ palete.nome }}</h2>
        </div>
               
        
    </div>
    {% if messages %}
    <div>
        
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="error_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="success_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div>
                    <p>{{message}} </p>
                </div>
            {% endif %}
        {% endfor %}

    </div>
    {% endif %}
    <div class="box1-2">
        <div class="box1-2-1">
            <div class="box1-2-1-1">
                <h2>Bobines</h2>
                <table class="content-table">
                    <thead>
                        <tr id="obs">
                            <th>Nº</th>
                            <th>Reciclada</th>
                            <th style="min-width: 120px;">Bobine</th>
                            <th>Estado</th>
                            <th>Largura</th>
                            <th>Diâmetro (mm)</th>
                            <th>Core (")</th>
                            <th>Comp.(m)</th>
                            <th>Área(m<sup>2</sup>)</th>
                            <th>Destino Bobine</th>
                            <th>Observações</th>
                            
            
                            
                        
                        </tr>
                    </thead>
                    <tbody>
                        
                            {% for b in bobines %}
                            <tr id="obs">
                                <td>{{ b.posicao_palete }}</td>
                                {% if b.recycle == True %}<td class="td-icon"><i class="fas fa-check"></i></td>{% else %}<td></td>{% endif %}
                                <td><a href="{% url 'producao:bobine_details' pk=b.pk %}">{{ b.nome }}</a></td>
                                {% if b.estado == 'G' %}<td id="estado_good">{{ b.estado }}</td>
                                {% elif b.estado == 'R' %}<td id="estado_rejected">{{ b.estado }}</td>
                                {% elif b.estado == 'DM' %}<td id="estado_dm">{{ b.estado }}</td>
                                {% elif b.estado == 'BA' %}<td id="estado_ba">{{ b.estado }}</td>
                                {% elif b.estado == 'LAB' %}<td id="estado_lab">{{ b.estado }}</td>
                                {% elif b.estado == 'IND' %}<td id="estado_ind">{{ b.estado }}</td>
                                {% elif b.estado == 'HOLD' %}<td id="estado_hold">{{ b.estado }}</td>
                                {% elif b.estado == 'SC' %}<td id="estado_sc">{{ b.estado }}</td>{% endif %}
                                <td>{{ b.largura.largura }}</td>
                                <td>{{ b.bobinagem.diam }}</td>
                                <td>{{ b.largura.perfil.core }}</td>
                                <td>{{ b.comp }}</td>
                                <td>{{ b.area }}</td>
                                <td>{{ b.destino }}</td>
                                <td>{{ b.obs }}</td>
                               
                            </tr>
                            {% endfor %}
                
                            
                        </tbody>
                    </table>
            </div>
        </div>
        
        <div class="box1-2-2">
            <div class="box1-2-2-1">
                <h2>Pesagem</h2>
            </div>
            <form action="" method="POST">
                <div class="box1-2-2-1">
                    {% csrf_token %}
                    <div>
                       <label for="id_peso_bruto">Peso Bruto:</label> {{ form.peso_bruto }}
                    </div>
                    <div>
                        <label for="id_peso_palete">Peso Palete:</label> {{ form.peso_palete }}
                    </div>
                </div>
                <div class="box1-2-2-2">
                    <a href="{% url 'producao:paletes_retrabalho' %}" class="btn-cancel" role="button">Cancelar</a>
                    <input type="submit" class="btn-submit" value="Confirmar">
                </div>
                
            </form>
        </div>
    </div>
    
    
</div>


{% endblock %}