{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="container">
        {% if palete.estado == 'G' %}
        <a href="{% url 'producao:palete_list_all' %}" class="btn btn-primary" role="button">Voltar</a>
        {% elif palete.estado == 'DM' %}
        <a href="{% url 'producao:paletes_retrabalho' %}" class="btn btn-primary" role="button">Voltar</a>
        {% endif %}
        {% if palete.estado == 'G'%}
        <a href="{% url 'producao:palete_create' %}" class="btn btn-primary" role="button">Nova Palete</a>
        {% endif %}
    </div>
    <div class="container">
            {% if palete.estado != 'DM'%}
            <div class="row">
                <h1 id="id_palete" data-catid="{{ palete.id }}">Palete: {{ palete.nome }}</h1>
                {% if palete.cliente != None %}
                <h2>Cliente: {{ palete.cliente.nome}}</h2>
                {% else %}
                <h2>Cliente: Sem cliente atribuido</h2>
                {% endif %}
                {% if palete.estado == 'G' %}
                    <h3 id="estado_good">Good</h3>
                {% elif palete.estado == 'R' %}
                    <h3 id="estado_rejected">Rejected</h3>
                {% elif palete.estado == 'DM' %}
                    <h3 id="estado_dm">DM12</h3>
                {% endif %}
                <div class="container col-md-6">
                    <h3 id="num_bobine">Bobines: {{ palete.num_bobines_act }} / {{ palete.num_bobines }}</h3>
                    <h3>Largura bobines: {{ palete.largura_bobines }}</h3>
                    {% if e_p.diam_min != Null or e_p.diam_max != Null %}
                    <h3>Diâmetro: {{ e_p.diam_min }} / {{ e_p.diam_max }}</h3>
                    {% endif %}
                    <h3>Core: {{ palete.core_bobines }}</h3>
                </div>
                <div class="container col-md-6">
                        <h2 id="area_palete">Área total: {{ palete.area }} m2</h2>
                        <h2 id="comp_palete">Comprimento total: {{ palete.comp_total }} m</h2>
                </div>
            </div>
            {% else %}
            <div class="row">
                <h1>Palete: {{ palete.nome }}</h1>
                {% if palete.estado == 'G' %}
                    <h3 id="estado_good">Good</h3>
                {% elif palete.estado == 'R' %}
                    <h3 id="estado_rejected">Rejected</h3>
                {% elif palete.estado == 'DM' %}
                    <h3 id="estado_dm">DM12</h3>
                {% endif %}
                <div class="container col-md-6">
                    <h3>Bobines: {{ palete.num_bobines_act }}</h3>
                    
                </div>
                <div class="container col-md-6">
                    <h2 id="area_palete">Área total: {{ palete.area }}</h2>
                    <h2 id="comp_palete">Comprimento total: {{ palete.comp_total }}</h2>
                </div>
            </div>
            {% endif %}
        </div>
    <br><br><br><br><br>
    <p id="palete_id" data-catid="{{ palete.id }}" hidden>{{ palete.id }}</p> 
    <div class="container">
        <input id="bobine-input" type="text" placeholder="Bobine" autofocus/>
        <input id="btn-bobine" type="submit" class="btn btn-success" value="Adicionar"/>
        <p id="erro"></p>
    </div>
    <br><br><br><br>
    <div class="container">
        <table class="table fit">
            <thead>
                <tr>
                    
                    
                    <th id="center">Bobine nº</th>
                    <th>Bobine</th>
                    <th id="center">Estado</th>
                    <th id="center">Largura</th>
                    <th id="center">Diâmetro</th>
                    <th id="center">Core</th>
                    <th id="center">Área</th>
                    <th id="center"><a id="btn-bobine" class="btn btn-success validar-bobines" value="Validar palete">Validar palete</a>
                    <th id="center"><a id="btn-bobine" class="btn btn-danger limpar-bobines" value="Limpar palete">Limpar Palete</a>
                </tr>
            </thead>
            <tbody id="bobines-palete">

            </tbody>
        </table>        
    </div>
        
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>

$(document).ready(function(){

    var id = $("#palete_id").attr("data-catid");
    var num = 0;
    var area_total = 0;
    var comp_total = 0;
    var id_rem = 0;
    var valid = [];
    var list_bobines = [];
    
    $.ajax({
        type:"GET",
        dataType: "json",
        url: "/api/palete/" + id,
        success: function(data){
                $('.limpar-bobines').click(function(){
                    $('#bobines-palete').empty()
                    num = 0
                    area_total = 0
                    comp_total = 0
                    valid = []
                    list_bobines = []
                                        
                    $("#num_bobine").text("Bobines: " + num + " / " + data.num_bobines);
                    $("#area_palete").text("Área total: "  + area_total + " m2");
                    $("#comp_palete").text("Comprimento total: " + comp_total + " m");
                })
            }
        })

    $('#btn-bobine').click(function() { 
        var input_value = $('#bobine-input').val();
        $('#bobine-input').val('')
        $.ajax({
            type:"GET",
            dataType: "json",
            url: "/api/bobinelist/",
            success: function(bobine){
                  
                if(!bobine || bobine.length === 0) {
                        return;
                        }
                var data_length = bobine.length
                $.ajax({
                    type:"GET",
                    dataType: "json",
                    url: "/api/palete/" + id,
                    success: function(palete){   
                        if(palete.num_bobines > num){     
                            for (i = 0; i < data_length; i++){
                                if (bobine [i].nome === input_value){
                                
                                var id_bobine = bobine[i].id
                                $.ajax({
                                    type: "GET",
                                    dataType: "json",
                                    url: "/api/bobine/" + id_bobine,
                                    success: function(bobine_data){
                                            num += Number(1) 
                                            id_reg = "reg" + num
                                            id_remover = "rem" + num
                                            var td1=$(document.createElement("td")).attr('id', "center")
                                            var td2=$(document.createElement("td"))
                                            
                                            switch(bobine_data.estado) {
                                                case 'G':
                                                    var td3=$(document.createElement("td")).attr('id', "estado_good")
                                                    break;
                                                case 'DM':
                                                    var td3=$(document.createElement("td")).attr('id', "estado_dm")
                                                    break;
                                                case 'R':
                                                    var td3=$(document.createElement("td")).attr('id', "estado_rejected")
                                                    break;
                                                case 'BA':
                                                    var td3=$(document.createElement("td")).attr('id', "estado_ba")
                                                    break;
                                                case 'IND':
                                                    var td3=$(document.createElement("td")).attr('id', "estado_ind")
                                                    break;
                                                case 'LAB':
                                                    var td3=$(document.createElement("td")).attr('id', "estado_lab")
                                                    break;
                                                case 'HOLD':
                                                    var td3=$(document.createElement("td")).attr('id', "estado_hold")
                                                    break;
                                                default:
                                                    // code block
                                            }
                                            
                                            var td4=$(document.createElement("td")).attr('id', "center")
                                            var td5=$(document.createElement("td")).attr('id', "center")
                                            var td6=$(document.createElement("td")).attr('id', "center")
                                            var td7=$(document.createElement("td")).attr('id', "center")
                                            var td8=$(document.createElement("td")).attr('id', "center")
                                            var tr=$(document.createElement("tr")).addClass(id_reg)
                                            // var td9=$(document.createElement("td")).addClass("glyphicon glyphicon-arrow-up btn-success")
                                            // var td10=$(document.createElement("td")).addClass("glyphicon glyphicon-arrow-down btn-danger")
                                            
                                            td1.text(num)
                                            td2.text(bobine_data.nome)
                                            td3.text(bobine_data.estado)
                                            td4.text(bobine_data.largura.largura)
                                            td5.text(bobine_data.bobinagem.diam)
                                            td6.text(bobine_data.largura.perfil.core)
                                            td7.text(bobine_data.area)
                                            // td8.addClass('btn btn-danger ' + id_remover).text("Remover")
                                            
                                            tr.append(td1).append(td2).append(td3).append(td4).append(td5).append(td6).append(td7).append(td8);
                                            area_total += Number(bobine_data.area);
                                            comp_total += Number(bobine_data.comp_actual);
                                            $("#bobines-palete").append(tr);
                                            
                                            
                                            // $.ajax({
                                            //     type:"GET",
                                            //     dataType: "json",
                                            //     url: "/api/palete/" + id,
                                            //     success: function(palete){
                                                    
                                            $("#num_bobine").text("Bobines: " + num + " / " + palete.num_bobines);
                                            $("#area_palete").text("Área total: "  + area_total + " m2");
                                            $("#comp_palete").text("Comprimento total: " + comp_total + " m");
                                            // alert(bobine_data.palete)
                                            // alert(palete.id)
                                            // alert(palete.cliente.limsup)
                                            // alert(bobine_data.bobinagem.diam)
                                            // alert(palete.cliente.liminf)
                                            // alert(bobine_data.bobinagem.perfil.core)
                                            // alert(palete.core_bobines)
                                            // alert(bobine_data.largura.largura)
                                            // alert(palete.largura_bobines)
                                            // alert(bobine_data.id)

                                            if (num <= palete.num_bobines){
                                                if (bobine_data.palete != null && bobine_data.palete.estado != 'DM'){
                                                    valid[num-1] = false
                                                    list_bobines[num-1] = Number(bobine_data.id) 
                                                                                        
                                                }else if(bobine_data.largura.largura == palete.largura_bobines && bobine_data.bobinagem.perfil.core == palete.core_bobines && Number(bobine_data.bobinagem.diam) <= Number(palete.cliente.limsup)){
                                                    valid[num-1] = true
                                                    list_bobines[num-1] = Number(bobine_data.id)
                                                    
                                                    
                                                                                    
                                                }else{
                                                    valid[num-1] = false
                                                    list_bobines[num-1] = Number(bobine_data.id)    
                                                    }
                                            }
                                                    
                                                    
                                              
                                            
                                            
                                           
                                                                        
                                        //     var rem = $(tr).attr("class");
                                        //     $("." + rem).click(function() {
                                        //         var posicao_bobine = $(td1).text();
                                                
                                        //         $(this).remove()
                                        //         num -= Number(1)
                                        //         area_total -= Number(bobine_data.area);
                                        //         comp_total -= Number(bobine_data.comp_actual);
                                        //         valid[posicao_bobine - 1] = 0
                                        //         list_bobines[posicao_bobine - 1] = 0
                                                
                                                
                                                
                                                
                                        //         $.ajax({
                                        //             type:"GET",
                                        //             dataType: "json",
                                        //             url: "/api/palete/" + id,
                                        //             success: function(palete){
                                        //                 $("#num_bobine").text("Bobines: " + num + " / " + palete.num_bobines);
                                        //                 $("#area_palete").text("Área total: "  + area_total + " m2");
                                        //                 $("#comp_palete").text("Comprimento total: " + comp_total + " m");
                                                       


                                                        

                                                    
                                        //         }
                                        //     })
                                        
                                                                    
                                        // })
                                    }
                            })
                        }else{$('#bobine-input').val(''); }


                    
                    }
                    }else{
                        $('#bobine-input').val(''); 
                        alert("A palete está completa!!!")
                        }
                }
                })
                }
                
                
            })
        
            
        
            
    }); 

       
        
    var input = document.getElementById("bobine-input");
    input.addEventListener("keyup", function(event){
        event.preventDefault();
        if(event.keyCode === 13){
            document.getElementById("btn-bobine").click();
            
        }
    });
    
    $('.validar-bobines').click(function () { 
        var v = valid.length
        var lb = list_bobines.length
        var validation = 0
        var cont = 0
        $.ajax({
            type:"GET",
            dataType: "json",
            url: "/api/palete/" + id,
            success: function(palete){ 

                for(i = 0; i < v; i++){

                    if (valid[i] == true){
                        validation = true
                    }else{
                        validation = false
                        break;
                    }
                }
                for(i = 0; i < lb; i++ ){
                    for(j = i; j < lb; j++){
                        if(i != j && list_bobines[i] == list_bobines[j]){
                            validation = false
                        }
                    }
                }
                            
                
                    if(validation == true && num == palete.num_bobines){
                        url_id = "/producao/palete/validate/" + palete.id + "/"
                        for (i = 0; i < lb; i++){
                            url_id += list_bobines[i] + "-"
                        }
                        // alert(url_id)
                        window.location.href = url_id;
                    }else{alert("A palete contém erros. Por favor verifique bobines picadas.")}

                    }
                })



     })

});



</script>

{% endblock %}