{% extends "layout.html "%}

{% load producao_tags %}


{% block title %}Criar Palete Cliente | {{ block.super }}{% endblock %}
{% block content %}
      
<div>
    <input type="button" value="Voltar" id="confirm-btn" onclick="history.back()">
</div>
{% if request.user|has_group:"Produção Supervisor" or request.user|has_group:"Produção Operador" %}
<div class="title_block-list">
    <h1>Criar Palete para Cliente</h1>
</div>
{% if messages %}
    <div>
        
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="error_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="success_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div>
                    <p>{{message}} </p>
                </div>
            {% endif %}
    {% endfor %}

</div>
{% endif %}
<form action="" method="POST" class="submission-form">
    {% csrf_token %}
    <label for="id_ordem">Ordem de Produção</label>{{ form.ordem }}
    <label for="id_num">Palete Nº</label>{{ form.num }}
    <label for="id_data_pal">Data</label>{{ form.data_pal }}
    <label for="id_num_bobines">Bobines Total</label>{{ form.num_bobines }}
    <label for="id_largura_bobines">Largura das Bobines</label>{{ form.largura_bobines }}
    <label for="id_core_bobines">Core das Bobines</label>{{ form.core_bobines }}
    <!-- <label for="id_destino">Destino</label>{{ form.destino }} -->
    <input type="submit" value="Criar" id="validate-btn">
</form>
{% else %}
<h3>Acesso Restrito</h3>
{% endif %}
{% endblock %}