{% extends "layout.html "%}

{% load producao_tags %}


{% block title %}Criar Palete Cliente | {{ block.super }}{% endblock %}
{% block content %}
      
<div>
    <input type="button" value="Voltar" id="confirm-btn" onclick="history.back()">
</div>
{% if request.user|has_group:"Produção Supervisor" or request.user|has_group:"Produção Operador" %}
<div class="title_block-list">
    <h1>Criar Palete para Cliente</h1>
</div>
{% if messages %}
    <div>
        
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="error_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="success_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div>
                    <p>{{message}} </p>
                </div>
            {% endif %}
        {% endfor %}

</div>
{% endif %}
<form action="" method="POST" class="submission-form">
    {% csrf_token %}
    <label for="id_ordem">Ordem de Produção</label>{{ form.ordem }}
    <label for="id_perfil_embalamento">Embalamento</label>{{ form.perfil_embalamento }}
    <label for="id_num">Palete Nº</label>{{ form.num }}
    <label for="id_data_pal">Data</label>{{ form.data_pal }}
    <label for="id_num_bobines">Bobines Total</label>{{ form.num_bobines }}
    <label for="id_largura_bobines">Largura das Bobines</label>{{ form.largura_bobines }}
    <label for="id_core_bobines">Core das Bobines</label>{{ form.core_bobines }}
    <!-- <label for="id_destino">Destino</label>{{ form.destino }} -->
    <input type="submit" value="Criar" id="validate-btn">
    
</form>

{% else %}
<h3>Acesso Restrito</h3>
{% endif %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
   
$("#id_ordem").change(function() {
    var id_ordem = $(this).val()
        
    $.ajax({
        type: "GET",
        dataType: "json",
        url: "/plan-api/ordem/" + id_ordem,
        success: function(data) {
            
            if(data.core === '3\"'){
                $("#id_core_bobines").val('3')
            } else if (data.core === '6\"') {
                $("#id_core_bobines").val('6')
            }  
           
            $("#id_num_bobines").val(data.bobines_por_palete)          

            $("#id_largura_bobines").val(data.largura)
            // $("#id_core_bobines").val(data.core)
            
        }
    })
})


</script>
{% endblock %}