{% extends "layout.html " %} 
{% load bootstrap3 %}
{% load static %}
{% load producao_tags %}
{% block title %}Paletes | {{ block.super }}{% endblock %} 
{% block content %}
<div>
    <form>
        <input type="button" value="Voltar" id="confirm-btn" onclick="history.back()">
        {% if request.user|has_group:"Produção Supervisor" or request.user|has_group:"Produção Operador" %}
        <a href="{% url 'producao:palete_create' %}"  class="btn_create" role="button">Criar Palete</a>
        {% endif %}

    </form>
</div>
<div class="title_block-list">
    <h1>Paletes</h1>
</div>
<div class="form-search">
    <form action="" method="GET">
        <input type="text" name="q">
        <input type="submit" value="Procurar">
        <a href="{% url 'producao:palete_list_all' %}">Reset</a>
    </form>
</div>
<div>
    <table class="content-table">
        <thead>
            <tr>
                <th id="designacao">Palete</th>
                <th>Nº</th>
                <th>Data</th>
                <th>Estado</th>
                <th>Bobines</th>
                <th>Core</th>
                <th>Largura</th>
                <th>Ordem de Produção</th>
                <th>Nº de palete da ordem</th>
                <th>Cliente</th>
                <th>Área (m<sup>2</sup>)</th>
                <th>Comprimento (m)</th>
                <th>Pesar</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for pal in palete %}
            <tr>
                
                <td id="designacao"><a href="{% url 'producao:addbobinepalete' pk=pal.pk %}">{{ pal.nome }}</a></td>
                <td>{{ pal.num }}</td>
                <td>{{ pal.data_pal|date:"d-n-Y" }}</td>
                {% if pal.estado == 'G' %}<td id="estado_good">{{ pal.estado }}</td>
                {% elif pal.estado == 'DM' %}<td id="estado_dm">{{ pal.estado }}</td>{% endif %}
                <td>{{ pal.num_bobines_act }} / {{ pal.num_bobines }}</td>
                <td>{{ pal.core_bobines }}</td>
                <td>{{ pal.largura_bobines }}</td>
                {% if pal.ordem != None %}
                <td>{{ pal.ordem }}</td>
                {% else %}
                <td>Sem ordem de produção</td>
                {% endif %}
                {% if pal.num_palete_ordem != None %}
                <td>{{ pal.num_palete_ordem }} / {{ pal.ordem.num_paletes_total }}</td>
                {% else %}
                <td>Sem ordem de produção</td>
                {% endif %}
                {% if pal.cliente != None %}
                <td>{{ pal.cliente }}</td>
                {% else %}
                <td>Stock</td>
                {% endif %}
                <td>{{ pal.area }}</td>
                <td>{{ pal.comp_total }}</td>
                {% if request.user|has_group:"Produção Supervisor" or request.user|has_group:"Produção Operador" %}
                <td class="td-icon"><a href="{% url 'producao:palete_pesagem' pk=pal.pk %}"><i class="fas fa-weight"></i></a></td>
                {% endif %}
                {% if request.user|has_group:"Produção Supervisor" or request.user|has_group:"Produção Operador" %}
                <td class="td-icon"><a href="{% url 'producao:palete_delete' pk=pal.pk %}"><i class="fas fa-trash"></i></a></td>
                {% endif %}

                
            </tr>
            {% endfor%}
        </tbody>
        </table>
            
      
                

            
            
</div>
<div class="pagination">
    {% if palete.has_other_pages %}
    <div>
        <span>
            {% if palete.has_previous %}
                <a role="button" class="fas fa-angle-double-left" href="?{% if query %}q={{query}}&{% endif %}page=1"></a>
                <a role="button" class="fas fa-angle-left" href="?{% if query %}q={{query}}&{% endif %}page={{ palete.previous_page_number }}"></a>
            {% endif %}
    
            <span>
                Pág. {{ palete.number }} de {{ palete.paginator.num_pages }}
            </span>
    
            {% if palete.has_next %}
                <a role="button" class="fas fa-angle-right" href="?{% if query %}q={{query}}&{% endif %}page={{ palete.next_page_number }}"></a>
                <a role="button" class="fas fa-angle-double-right" href="?{% if query %}q={{query}}&{% endif %}page={{ palete.paginator.num_pages }}"></a>
            {% endif %}
        </span>
    </div>
    {% endif %}

</div>



{% endblock %}