{% extends "layout.html "%} 
{% block title %}Paletes | {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
        <a href="{% url 'producao:producao_home' %}" class="btn btn-primary" role="button">Voltar</a>
        
        <a href="{% url 'producao:palete_create' %}"  class="btn btn-primary pull-right" role="button">Criar palete</a>
        
    </div>
<h1 id="center">Paletes</h1><br>
<div class="container">
    <input id="myInput" type="text" placeholder="Palete" onkeyup="searchPalete()" autofocus/>
        
    
</div>
<div class="container table-responsive size-table">
        
<table class="table fit" id="myTable">
    <thead>
        <tr>
            <th>Palete</th>
            <th>Nº</th>
            <th>Data</th>
            <th>Estado</th>    
            <th>Bobines</th>                              
            <th>Core(")</th>
            <th>Largura(mm)</th>
            <th>Diâmetro(mm)</th>
            <th>Comprimento()</th>
            <th>Área(m2)</th> 

        </tr>
    </thead>
    <tbody id="jsonresp">
        
    </tbody>
    
</table>
</div>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

$(window).load(function() {
    $.ajax({ 
        type: "GET",
        dataType: "json",
        url: "/api/palete/",
        success: function(data){        
            if(!data || data.length === 0) {
                    return;
                }
            var data_length = data.length
            for ( i = 0; i < data_length; i++){
                
                if (data[i].estado == 'G' && data[i].num != 0){
                    var link = "/producao/palete/" + data[i].id
                    var link_del = "/producao/palete/delete/" + data[i].id
                    
                    
                    var a1=$(document.createElement("a")).text(data[i].nome).attr('href', link), td1=$(document.createElement("td"));
                    var td2=$(document.createElement("td"))
                    var td3=$(document.createElement("td")).attr('id', "center")
                    var td4=$(document.createElement("td")).attr('id', "estado_good")
                    var td5=$(document.createElement("td")).attr('id', "center")
                    var td6=$(document.createElement("td")).attr('id', "center")
                    var td7=$(document.createElement("td")).attr('id', "center")
                    var td8=$(document.createElement("td")).attr('id', "center")
                    var td9=$(document.createElement("td")).attr('id', "center")
                    var td10=$(document.createElement("td")).attr('id', "center")
                    var td11=$(document.createElement("a"))
                    
                                       

                    td1.append(a1);
                    td2.text(data[i].num);
                    td3.text(data[i].data_pal);
                    td4.text(data[i].estado);
                    td5.text(data[i].num_bobines_act + " / " + data[i].num_bobines);
                    td6.text(data[i].core_bobines);
                    td7.text(data[i].largura_bobines);
                    if (data[i].diametro == null){
                        td8.text(0);
                    }else{
                        td8.text(data[i].diametro);
                    }
                    
                        
                    td9.text(data[i].area);
                    td10.text(data[i].comp_total);
                     
                    td11.addClass('btn btn-danger glyphicon glyphicon-trash').attr('href', link_del);

                    var tr=$(document.createElement("tr"));
                    tr.append(td1).append(td2).append(td3).append(td4).append(td5).append(td6).append(td7).append(td8).append(td9).append(td10).append(td11);
                    
                }    
               

                
                a1.click(function () {
                    window.location = link
                    
                    }); 
                $("#jsonresp").append(tr);
            }
        }
    }); 
});
function searchPalete() {
  // Declare variables 
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}


</script>
{% endblock %}