{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="container">
        <a href="{% url 'producao:armazem_home' %}" class="btn btn-primary" role="button">Voltar</a>
    </div>
    <br>
    <div class="container">
        <h1>{{ palete.nome }}</h1>
        <br>
        <br>
        <div class="container col-sm-6">
            <table>
                <tr>
                    <th>Cliente:</th>
                    <td id="right">{{ palete.cliente}}</td>
                </tr>
                <tr>
                    <th>Carga:</th>
                    <td id="right">{{ palete.carga }}</td>
                </tr>
                <tr>
                    <th>Encomenda:</th>
                    <td id="right">{{ palete.carga.enc }}</td>
                </tr>
                <tr>
                    <th>Proforma:</th>
                    <td id="right">{{ palete.carga.enc.prf }}</td>
                </tr>
            </table>
        </div>
        <div class="container col-sm-6">

            <table>
                <tr>
                    <th>Área:</th>
                    <td id="right">{{ palete.area }}</td>
                </tr>
                <tr>
                    <th>Comprimento total:</th>
                    <td id="right">{{ palete.comp_total }}</td>
                </tr>
                <tr>
                    <th>Peso Bruto:</th>
                    <td id="right">{{ palete.peso_bruto }}</td>
                </tr>
                <tr>
                    <th>Peso Líquido:</th>
                    <td id="right">{{ palete.peso_liquido }}</td>
                </tr>
                <tr>
                    <th>Peso Pelete:</th>
                    <td id="right">{{ palete.peso_palete }}</td>
                </tr>
            </table>
        



        </div>
        
      
    </div>
    <div class="container">

    </div>
</div>
        
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% endblock %}