#content {
    margin-top: 70px;
}

.pt {
   padding-top: 10px; 
}

.table td.fit, .table.fit {
    white-space: nowrap;
    width: 1%;
    
}

.table td.check {
    text-align: center;
}

.table th.check {
    text-align: center;
}

/* td {
    text-align: center;
}

th 
    text-align: center;
} */


#estado_good {
    background-color: green;
    color: white;
    text-align: center;
   
    
}


#estado_rejected {
    background-color: red;
    color: white;
    text-align: center;
}
#estado_dm {
    background-color: orange;
    color: white;
    text-align: center;
}

.estado_dm {
    background-color: orange;
    color: white;
    text-align: center;
}

#estado_ba {
    background-color:red;
    color: white;
    text-align: center;
}

#estado_lab {
    background-color: cyan;
    color: black;
    text-align: center;
}

#estado_ind {
    background-color: blue;
    color: yellow;
    text-align: center;
}

#estado_hold {
    background-color: #b237cc;
    color:black;
    text-align: center;
}

.bobines {
    height: 400px;
}

.size-table {
    height: 950px;
}
.size-table2 {
    height: 350px;
}
.size-table3 {
    height: 700px;
}

#center{
    text-align: center;
}

#right  {
    float: right;
}

#error {
    color: red;
}

#white {
    color: white;
}

.btn-lg {
    width: 250px;
    height: 125px;
    
}

.center-text {
    text-align: center;
}

.estado_boot_class {
    width: 100px;
}

.popup-picagem-bobines{
    visibility: hidden;
    position:absolute;
    background:#ffffff;
    
    width:50%;
    height:50%;
    left:25%;
}

.popup-picagem-bobines.active{
    visibility: visible;
}

.erro{
    color: red;
}

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

p#atencao {
    color:red
}

#span_details_perfil {
    font-size: 0.8em;
}

/* #search_form {
    display: none;
} */