{% extends "layout.html "%} 
{% load bootstrap3 %}
{% block title %}Perfil Larguras | {{ block.super }}{% endblock %}
{% block content %}
{% if can_edit == True %}   
<div>
    <a href="{% url 'producao:perfil_list_v2' %}"  class="btn_back" role="button">Cancelar</a>
</div>
<form method="post" id="largurasForm" data-artigos-url="{% url 'producao:load_artigos_cliente' %}">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="title_block-list">
        <h1>Atribuir Larguras</h1>
        <h2>{{ perfil.nome }}</h2>

        <input type="submit" value="Validar" id="validate-btn">
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}" id="error">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <!-- <div class="content-form_larguras">
        {% for form in formset %}
        <div class="form_box">
            <div>{{ forloop.counter }}</div>
            {% for field in form %}
                <div class="form_fields">{% bootstrap_field field %}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <div><input type="submit" value="Validar" id="validate-btn"></div>
    </div> -->
    <div>
        <table class="content-table_formset">
            <thead>
                <tr>
                    <th>Nº bobine</th>
                    <th>Produto</th>
                    <th>Largura</th>
                    <th>Gsm</th>
                    <th>Cliente</th>
                    <th>Artigo</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% for field in form %}
                        <td>{{ field }}</td>
                        {% endfor %}
                    </tr>
                {% endfor%}
            </tbody>
            </table>
            
          
                    
    
                
                
    </div>
</form>
{% else %}
<div class="title_block-list">
    <h1>O perfil não pode ser editado porque já foram geradas bobinagens com o mesmo.</h1>
    <a href="{% url 'producao:perfil_list_v2' %}"  class="btn_back" role="button">Cancelar</a>
</div>
{% endif %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    
    var num_forms = $('#id_form-TOTAL_FORMS').val()

    
    

    $("#id_form-0-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-0-artigo").html(data);  
                console.log(data)
            }
        });

    });

    
    $("#id_form-1-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-1-artigo").html(data);  
            }
        });

    });

    $("#id_form-2-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-2-artigo").html(data);  
            }
        });

    });

    $("#id_form-3-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-3-artigo").html(data);  
            }
        });

    });

    $("#id_form-4-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-4-artigo").html(data);  
            }
        });

    });

    $("#id_form-5-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-5-artigo").html(data);  
            }
        });

    });

    $("#id_form-6-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-6-artigo").html(data);  
            }
        });

    });

    $("#id_form-7-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-7-artigo").html(data);  
            }
        });

    });

    $("#id_form-8-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-8-artigo").html(data);  
            }
        });

    });

    $("#id_form-9-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-9-artigo").html(data);  
            }
        });

    });

    $("#id_form-10-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-10-artigo").html(data);  
            }
        });

    });

    $("#id_form-11-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-11-artigo").html(data);  
            }
        });

    });

    $("#id_form-12-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-12-artigo").html(data);  
            }
        });

    });

    $("#id_form-13-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-13-artigo").html(data);  
            }
        });

    });

    $("#id_form-14-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-14-artigo").html(data);  
            }
        });

    });
    $("#id_form-15-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-15-artigo").html(data);  
            }
        });

    });
    $("#id_form-16-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-16-artigo").html(data);  
            }
        });

    });
    $("#id_form-17-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-17-artigo").html(data);  
            }
        });

    });
    $("#id_form-18-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-18-artigo").html(data);  
            }
        });

    });
    $("#id_form-19-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-19-artigo").html(data);  
            }
        });

    });
    $("#id_form-20-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-20-artigo").html(data);  
            }
        });

    });
    $("#id_form-21-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-21-artigo").html(data);  
            }
        });

    });
    $("#id_form-22-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-22-artigo").html(data);  
            }
        });

    });
    $("#id_form-23-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-23-artigo").html(data);  
            }
        });

    });
    $("#id_form-24-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-24-artigo").html(data);  
            }
        });

    });
    $("#id_form-25-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-25-artigo").html(data);  
            }
        });

    });
    $("#id_form-26-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-26-artigo").html(data);  
            }
        });

    });
    $("#id_form-27-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-27-artigo").html(data);  
            }
        });

    });
    $("#id_form-28-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-28-artigo").html(data);  
            }
        });

    });
    $("#id_form-29-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-29-artigo").html(data);  
            }
        });

    });
    $("#id_form-30-cliente").change(function () {
        var url = $("#largurasForm").attr("data-artigos-url");  
        var clienteId = $(this).val();  
        
        $.ajax({                       
            url: url,                   
            data: {
                'cliente': clienteId      
            },
            success: function (data) { 
               
                $("#id_form-30-artigo").html(data);  
            }
        });

    });

  </script>
{% endblock %}
                                                     
                            
                            
                            
                                
                            
                            
                
               
