{% extends "layout.html "%}
{% load bootstrap3 %}

{% block title %}Perfil | {{ block.super }}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="container">  
                <a href="{% url 'producao:perfil_list_v2' %}" class="btn btn-primary">Voltar</a>
                
        </div>
        
    </div>
  
    


    <div class="row">
        <div class="container">
            <div class="row">
                <h1 id="center">Perfil: {{ perfil.nome }}</h1>
            </div>
            <div class="row">
                <h2>Nº de Bobines: <span id="span_details_perfil">{{ perfil.num_bobines }}</span></h2>
                <h2>Largura total: <span id="span_details_perfil">{{ perfil.largura_bobinagem }} mm</span></h2>
                <h2>Core: <span id="span_details_perfil">{{ perfil.core }}"</span></h2>
            </div>
            <br>
            <div class="row">
                    <h1 id="center">Cortes</h1>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-striped">
                        
                        <tr>
                            <th>Bobine</td>
                            {% for lar in largura %}
                                <th id="center">{{ lar.num_bobine }}</th>
                            {% endfor%}
                        </tr>
                        <tr>
                            <th>Largura</td>
                            {% for lar in largura %}
                                {% if not lar.largura == None%}
                                <td id="center">{{ lar.largura }}</td>
                                
                                {% else %}
                                <td></td>
                                {% endif %}
                            {% endfor%}
                        </tr>
                        
                        <tr>
                            <th>Produto</td>
                            {% for lar in largura %}
                                {% if not lar.largura == None %}
                                <td id="center">{{ lar.designacao_prod }}</td>
                                
                                {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor%}
                            
                        </tr>
                        <tr>
                            <th>Gramagem</td>
                            {% for lar in largura %}
                                {% if not lar.largura == None %}
                                <td id="center">{{ lar.gsm }}</td>
                                
                                {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor%}
                            
                        </tr>
                        
                            
                    </table>
                        
                </div>



        </div>
        
    </div>
    
</div>

{% endblock %}