{% extends "layout.html "%}
{% load bootstrap3 %}


{% block title %}Perfil | {{ block.super }}{% endblock %}
{% block content %}
<div class="container">  
    <a href="{% url 'producao:planeamento_home' %}" class="btn btn-primary">Voltar</a>
    <a href="{% url 'producao:perfil_create' %}" class="btn btn-primary pull-right" role="button">Criar perfil</a>
</div>
<div class="container table-responsive size-table">
    
    <h1 id="center">Perfis</h1></br>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>Perfil</th>
                    <th>Produto</th>
                    <th id="center">Nº de Bobines</th>
                    <th id="center">Largura total</th>
                    <th id="center">Core</th>
                    <th id="center">Retrabalho</th>
                    <th></th>
                    <!-- <td>Gramagem</td>
                    <td>Espessura</td>
                    <td>Densidade MP</td>
                    <td>Velocidade</td>
                    <td>Produção</td> -->
                </tr>
                {% for obj in object_list %}
                <tr>
                    <td><a href='{{ obj.get_absolute_url }}'>{{ obj.nome }}</a></td>
                    <td>{{ obj.produto }}</td>
                    <td id="center">{{ obj.num_bobines }}</td>
                     
                    <td id="center">{{ obj.largura_bobinagem }}</td>
                    <td id="center">{{ obj.core }}</td>
                    <!-- <td>{{ obj.gramagem }}</td>
                    <td>{{ obj.espessura }}</td>
                    <td>{{ obj.densidade_mp }}</td>
                    <td>{{ obj.velocidade }}</td>
                    <td>{{ obj.producao }}</td> -->
                    {% if obj.retrabalho == True %}
                    <td class="check"><span style="color:green"><i class="glyphicon glyphicon-ok"></i></span></td>
                    {% else %}
                    <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                    {% endif %}
                    <td id="center"><a href="{% url 'producao:perfil_delete' pk=obj.pk %}" class="btn btn-danger">Apagar</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
         

      

    </div>
    
</div>



{% endblock %}