{% extends "layout.html "%}
{% load bootstrap3 %}

{% block title %}Perfil | {{ block.super }}{% endblock %}
{% block content %}
<div>
    <form>
        <input type="button" value="Voltar" id="confirm-btn" onclick="history.back()">
        <a href="{% url 'producao:perfil_create_linha_v2' %}"  class="btn_create" role="button">Criar Perfil Linha</a>
        <a href="{% url 'producao:perfil_create_dm_v2' %}"  class="btn_create" role="button">Criar Perfil DM</a>
    </form>
</div>
<div class="title_block-list">
    <h1>Perfis (cortes)</h1>
</div>
<div class="form-search">
    <form action="" method="GET">
        <input type="text" name="q">
        <input type="submit" value="Procurar">
        <a href="{% url 'producao:perfil_list_v2' %}">Reset</a>
    </form>
</div>
<div>
    <table class="content-table">
        <thead>
            <tr>
                <th>Perfil</th>
                <th>Produto</th>
                <th>Nº de Bobines</th>
                <th>Core</th>
                <th>Largura total</th>
                <th>Retrabalho</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for p in perfil %}
            <tr>
                <td id="designacao"><a href="{% url 'producao:perfil_details_v2' pk=p.pk %}">{{ p.nome }}</a></td>
                <td id="td_produto">{{ p.produto }}</td>
                <td>{{ p.num_bobines }}</td>
                <td>{{ p.core }}</td>
                <td>{{ p.largura_bobinagem }}</td>
                {% if p.retrabalho == True %}
                    <td><i class="fas fa-check"></i></td>
                    {% else %}
                    <td><i class="fas fa-times"></i></td>
                {% endif %}
                <td class="td-icon"><a href="{% url 'producao:perfil_edit_larguras_v2' pk=p.pk %}"><i class="fas fa-pencil-alt"></i></a></td>
                <td class="td-icon"><a href="{% url 'producao:perfil_delete_v2' pk=p.pk %}"><i class="fas fa-trash"></i></a></td>
                
            </tr>
            {% endfor%}
        </tbody>
        </table>
            
      
                

            
            
</div>
<div class="pagination">
    {% if perfil.has_other_pages %}
    <div>
        <span>
            {% if perfil.has_previous %}
                <a role="button" class="" href="?{% if query %}q={{query}}&{% endif %}page=1"><<</a>
                <a role="button" class="" href="?{% if query %}q={{query}}&{% endif %}page={{ perfil.previous_page_number }}"><</a>
            {% endif %}
    
            <span>
                Pág. {{ perfil.number }} de {{ perfil.paginator.num_pages }}
            </span>
    
            {% if perfil.has_next %}
                <a role="button" class="" href="?{% if query %}q={{query}}&{% endif %}page={{ perfil.next_page_number }}">></a>
                <a role="button" href="?{% if query %}q={{query}}&{% endif %}page={{ perfil.paginator.num_pages }}">>></a>
            {% endif %}
        </span>
    </div>
    {% endif %}

</div>

{% endblock %}

