{% extends "layout.html "%}
{% load producao_tags %}
{% block title %}Armazém{% endblock %}
{% block content %}

<div class="container">
    <a href="{% url 'home' %}" class="btn btn-outline-primary" role="button">Voltar</a>
    
</div>
<div class="container">
    <div>
        <h3 class="text-center">Armazém</h3>
    </div>
    <br>
    <div class="container" id="embalamento-menu">
        <div class="row mb-2">
            <div class="col-4">            
                <a href="{% url 'producao:carga_list' %}" class="btn btn-primary btn-lg" role="button"><h1 class="p-3 m-2">Cargas</h1></a>
            </div>
            {% if request.user|has_group:"Logistica Supervisor" or  request.user|has_group:"Logistica Operador"%}
            <div class="col-4 text-center">
                <a href="{% url 'producao:palete_selecao' %}" class="btn btn-primary btn-lg" role="button"><h1 class="p-3 m-2">Pesagem</h1></a>
            </div>
            {% endif %}
            <div class="col-4 text-center">
                <a href="{% url 'producao:stock_list' %}" class="btn btn-primary btn-lg" role="button"><h1 class="p-3 m-2">Stock</h1></a>
            </div>
        </div>
        <!-- <div>
        <a href="{% url 'producao:rececao_list' %}">Receções</a>
        </div> -->
        <!-- <div>
            <a href="{% url 'producao:calendario_expedicoes' %}">Calendário de Expedições</a>
        </div> -->
       
    </div>
</div>






{% endblock %}