{% extends "layout.html "%}



{% block title %}Armazém{% endblock %}
{% block content %}
<div>
    <a href="{% url 'home' %}" class="btn_back">Voltar</a>
</div>
<div class="title_block">
    <h1>Armazém</h1>
</div>
<div class="menu">
    <div>
        <a href="{% url 'producao:carga_list' %}">Cargas</a>
    </div>
    <div>
        <a href="{% url 'producao:palete_selecao' %}">Pesagem</a>
    </div>
    <div>
        <a href="{% url 'producao:stock_list' %}">Stock</a>
    </div>
    <!-- <div>
        <a href="{% url 'producao:rececao_list' %}">Receções</a>
    </div> -->
    
    
</div>




{% endblock %}