{% extends "layout.html "%}
{% load producao_tags %}
{% block title %}Bobinagem | {{ block.super }}{% endblock %}

{% block content %}

<div class="container">

    <div class="container">
        <h1 id="center">Editar bobinagem: {{ object.nome }}</h1><br>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="container col-sm-2"><p>Tipo Nonwoven superior:</p></div>
                <div class="container col-sm-4"><p>{{ form.tiponwsup }}</p></div>
                <div class="container col-sm-2"><p>Tipo Nonwoven inferior:</p></div>                
                <div class="container col-sm-4"><p>{{ form.tiponwinf }}</p></div>                
            </div>
            <div class="row">
                <div class="container col-sm-2"><p>Lote Nonwoven superior:</p></div>
                <div class="container col-sm-4"><p>{{ form.lotenwsup }}</p></div>
                <div class="container col-sm-2"><p>Lote Nonwoven inferior:</p></div>                
                <div class="container col-sm-4"><p>{{ form.lotenwinf }}</p></div>                  
            </div>
            <div class="row">
                <div class="container col-sm-2"><p>Consumo Nonwoven superior:</p></div>
                <div class="container col-sm-4"><p>{{ form.nwsup }}</p></div>
                <div class="container col-sm-2"><p>Consumo Nonwoven inferior:</p></div>                
                <div class="container col-sm-4"><p>{{ form.nwinf }}</p></div>               
            </div>
            <div class="row">
                <div class="container col-sm-2">Diâmetro:</div>
                <div class="container col-sm-4">{{ form.diam }}</div>
            </div>
            <div class="row">
                <div class="container col-sm-2"><p>Comprimento final:</p></div>
                <div class="container col-sm-4"><p>{{ form.comp }}</p></div>
                <div class="container col-sm-2"><p>Comprimento emenda:</p></div>                
                <div class="container col-sm-4"><p>{{ form.comp_par }}</p></div>               
            </div>
            <div class="row">
                <div class="container col-sm-2"><p>Inicio:</p></div>
                <div class="container col-sm-4"><p>{{ form.inico }}</p></div>
                <div class="container col-sm-2"><p>Fim:</p></div>                
                <div class="container col-sm-4"><p>{{ form.fim }}</p></div>            
            </div>
            <input type="submit" value="Atualizar" class="btn btn-primary pull-right">
            <a href="{% url 'producao:bobinestatus' object.pk %}" class="btn btn-primary" role="button">Voltar</a>
        
            </div>

        </form>
    </div>
</div>

{% endblock %}