{% extends "layout.html " %} 
{% load bootstrap3 %}
{% load static %}

{% block title %}Bobinagens Linha 1 | {{ block.super }}{% endblock %} 
{% block content %}
<div>
    <input type="button" value="Voltar" id="confirm-btn" onclick="history.back()">
    <a href="{% url 'producao:bobinagem_create' %}"  class="btn_create" role="button">Criar Bobinagem</a>
    <a href="{% url 'producao:export_bobine_to_excel' %}"  class="btn_create" role="button">Export Bobines</a>

</div>
<div class="title_block-list">
    <h1>Bobinagens Linha 1</h1>
</div>
<div class="form-search">
    <form action="" method="GET">
        <input type="text" name="q">
        <input type="submit" value="Procurar">
        <a href="{% url 'producao:bobinagem_list_v3' %}">Reset</a>
    </form>
</div>
<div>
    <table class="content-table">
        <thead>
            <tr>
                <th id="designacao">Bobinagem</th>
                <th>Data</th>
                <th>Início</th>
                <th>Fim</th>
                <th>Duração</th>
                <th>Core</th>
                <th>Comp(m)</th>
                <th>Comp. Emenda(m)</th>
                <th>Comp. Cliente</th>
                <th>Área(m<sup>2</sup>)</th>
                <th></th>
                <!-- <th></th> -->
                <!-- <th></th>
                <th></th>
                <th></th>
                <th></th> -->
            </tr>
        </thead>
        <tbody>
            {% for b in bobinagem %}
            <tr>
                
                <td id="designacao"><a href="{% url 'producao:bobinestatus' pk=b.pk %}">{{ b.nome }}</a></td>
                <td>{{ b.data|date:"d-n-Y" }}</td>
                <td>{{ b.inico|date:"G:i" }}</td>
                <td>{{ b.fim|date:"G:i" }}</td>
                <td>{{ b.duracao }}</td>
                <td>{{ b.perfil.core }}</td>
                <td>{{ b.comp }}</td>
                <td>{{ b.comp_par }}</td>
                <td>{{ b.comp_cli }}</td>
                <td>{{ b.area }}</td>
                {% if b.estado == 'LAB' %}
                    <!-- <td><a href="{% url 'producao:classificacao_bobines_all' pk=b.pk operation='ap' %}" class="btn_list_g" role="button">Aprovar</a></td> -->
                    <!-- <td><a href="{% url 'producao:classificacao_bobines_all' pk=b.pk operation='dm' %}" class="btn_list_dm" role="button">DM</a></td> -->
                    <!-- <td><a href="{% url 'producao:classificacao_bobines_all' pk=b.pk operation='rej' %}" class="btn_list_r" role="button">Rejeitar</a></td>
                    <td><a href="{% url 'producao:classificacao_bobines_all' pk=b.pk operation='hold' %}" class="btn_list_hold" role="button">Hold</a></td> -->
                    <td class="td-icon"><a href="{% url 'producao:bobinagem_delete' pk=b.pk %}"><i class="fas fa-trash"></i></a></td>
                {% else %}
                    <!-- <td></td> -->
                    <!-- <td></td> -->
                    <!-- <td></td> -->
                    <!-- <td></td> -->
                    <td class="td-icon"><a href="{% url 'producao:bobinagem_delete' pk=b.pk %}"><i class="fas fa-trash"></i></a></td>

                {% endif %}
                
            </tr>
            {% endfor%}
        </tbody>
        </table>
            
      
                

            
            
</div>
<div class="pagination">
    {% if bobinagem.has_other_pages %}
    <div>
        <span>
            {% if bobinagem.has_previous %}
                <a role="button" class="fas fa-angle-double-left" href="?{% if query %}q={{query}}&{% endif %}page=1"></a>
                <a role="button" class="fas fa-angle-left" href="?{% if query %}q={{query}}&{% endif %}page={{ bobinagem.previous_page_number }}"></a>
            {% endif %}
    
            <span>
                Pág. {{ bobinagem.number }} de {{ bobinagem.paginator.num_pages }}
            </span>
    
            {% if bobinagem.has_next %}
                <a role="button" class="fas fa-angle-right" href="?{% if query %}q={{query}}&{% endif %}page={{ bobinagem.next_page_number }}"></a>
                <a role="button" class="fas fa-angle-double-right" href="?{% if query %}q={{query}}&{% endif %}page={{ bobinagem.paginator.num_pages }}"></a>
            {% endif %}
        </span>
    </div>
    {% endif %}

</div>



{% endblock %}