{% extends "layout.html" %}

{% block head_title %}Bobinagem{% endblock head_title %}
{% block content %}

<div class="container">
    <div class="container">
        {% if bobinagem.perfil.retrabalho == False %}
        <a href="{% url 'producao:bobinagens' %}" class="btn btn-primary" role="button">Voltar</a>
        {% else %}
        <a href="{% url 'producao:retrabalho_home' %}" class="btn btn-primary" role="button">Voltar</a>
        
        {% endif %}
        {% if user.is_staff %}
        <a href="{% url 'producao:bobinagemupdate' bobinagem.pk %}" class="btn btn-primary pull-right" role="button">Editar</a>
        {% endif %}
    </div>
<div class="container">
    <div class="row">
            <h1 id="center">Detalhe da bobinagem</h1>
            <h2 id="center">{{ bobinagem.nome }}</h2>
            <br/>
            
            <div class="container col-md-6">
                <!-- <p>Data: {{ bobinagem.data|date:"d-n-Y" }}</p>
                <p>Emendas: {{ bobinagem.num_emendas }}</p>
                <p>Comprimento: {{ bobinagem.comp }}</p>
                <p>Diâmetro: {{ bobinagem.diam }}</p>
                <p>Área: {{ bobinagem.area }}</p>
                <p>Ínicio: {{ bobinagem.inico|date:"G:i"  }}</p>
                <p>Fim: {{ bobinagem.fim|date:"G:i"  }}</p>
                <p>Duração: {{ bobinagem.duracao }}</p> -->
                <table>
                    <tr>
                       <th>Data:</th>
                       <td id="right">{{ bobinagem.data|date:"d-n-Y" }}</td>
                    </tr>
                   
                    <tr>
                        <th>Comprimento (m):</th>
                        <td id="right">{{ bobinagem.comp }}</td>
                    </tr>
                    <tr>
                        <th>Diâmetro (mm):</th>
                        <td id="right">{{ bobinagem.diam }}</td>
                    </tr>
                    <tr>
                        <th>Área (m2):</th>
                        <td id="right">{{ bobinagem.area }}</td>
                    </tr>
                    <tr>
                            <th>Desperdício:</th>
                            <td id="right">{{ bobinagem.desper }}</td>
                        </tr>
                    <tr>
                        <th>Ínicio:</th>
                        <td id="right">{{ bobinagem.inico|date:"G:i" }}</td>
                    </tr>
                    <tr>
                        <th>Fim:</th>
                        <td id="right">{{ bobinagem.fim|date:"G:i" }}</td>
                    </tr>
                    <tr>
                        <th>Duração:</th>
                        <td id="right">{{ bobinagem.duracao }}</td>
                    </tr>
                    
                         
                    
                </table>
            </div>
            {% if bobinagem.perfil.retrabalho == False %}
            <div class="container col-md-6">
                 
                    <table class="table table-fixed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nonwoven Superior</th>
                                <th>Nonwoven inferior</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Tipo:</th>
                                <td>{{ bobinagem.tiponwsup }}</td>
                                <td>{{ bobinagem.tiponwinf }}</td>
                            </tr>
                            <tr>
                                <th>Lote:</th>
                                <td>{{ bobinagem.lotenwsup }}</td>
                                <td>{{ bobinagem.lotenwinf }}</td>
                            </tr>
                            <tr>
                                <th>Consumo (m):</th>
                                <td>{{ bobinagem.nwsup }}</td>
                                <td>{{ bobinagem.nwinf }}</td>
                            </tr>
                        </tbody>
                    </table>

            </div>
            {% endif%}
              

    </div>
    <br/>
    <div class="row">
    
    <!-- {% if bobinagem.estado == 'G' %}
        <h2 id="estado_good">{{ bobinagem.estado }}</h2>
    {% elif bobinagem.estado == 'DM' %}
        <h2 id="estado_dm">{{ bobinagem.estado }}</h2>
    {% elif bobinagem.estado == 'R' %}
        <h2 id="estado_rejected">{{ bobinagem.estado }}</h2>
    {% elif  obj.estado == "BA"%}
        <h2 id="estado_ba">{{ bobinagem.estado }}</h2>
    {% else %}
        <h2 id="estado_lab">{{ bobinagem.estado }}</h2>
    {% endif %} -->
        <h3 id="center">Bobines</h3><br>
      <table class="table table-fixed">
          <thead>
            <tr>
                <th style="min-width:120px;">Nome</th>
                <th id="center">Largura</th>
                <th id="center">Área</th>
                <th class="check">Estado</th>
                <th class="check">Cónico</th>
                <th class="check">Desc.</th>
                <th class="check">Presa</th>
                <th class="check">Diâm.</th>
                <th class="check">Furos</th>
                <th class="check">Buracos</th>
                <th class="check">Gram.</th>
                <th class="check">Troca</th>
                <th class="check">Outros</th>
                <th>Observações</th>
            </tr>
        </thead>
            {% for item in bobine %}
            <tbody>    
            <tr>
                <td><a href="{{ item.get_absolute_url }}">{{ item.nome }}</a></td>
                <td id="center">{{ item.largura.largura }}</td>
                <td id="center">{{ item.area }}</td>
                {% if item.estado == "G" %}
                    <td id="estado_good">{{ item.estado }}</td>
                {% elif item.estado == "DM"%}
                    <td id="estado_dm">{{ item.estado }}</td>
                {% elif item.estado == "R" %}
                    <td id="estado_rejected">{{ item.estado }}</td>
                {% elif item.estado == "LAB" %}
                    <td id="estado_lab">{{ item.estado }}</td>
                {% elif item.estado == "BA" %}
                    <td id="estado_ba">{{ item.estado }}</td>
                {% elif item.estado == "IND" %}
                    <td id="estado_ind">{{ item.estado }}</td>
                {% elif item.estado == "HOLD" %}
                    <td id="estado_hold">{{ item.estado }}</td>
                {% endif %}
                {% if not item.con %}
                <td></td>
                {% else %}
                <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                {% endif %}

                {% if not item.descen %}
                <td></td>
                {% else %}
                <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                {% endif %}

                {% if not item.presa %}
                <td></td>
                {% else %}
                <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                {% endif %}

                {% if not item.diam_insuf %}
                <td></td>
                {% else %}
                <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                {% endif %}

                {% if not item.furos %}
                <td></td>
                {% else %}
                <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                {% endif %}

                {% if not item.buraco %}
                <td></td>
                {% else %}
                <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                {% endif %}

                {% if not item.esp %}
                <td></td>
                {% else %}
                <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                {% endif %}

                {% if not item.troca_nw %}
                <td></td>
                {% else %}
                <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                {% endif %}

                {% if not item.outros %}
                <td></td>
                {% else %}
                <td class="check"><span style="color:red"><i class="glyphicon glyphicon-remove"></i></span></td>
                {% endif %}
          
                <td>{{ item.obs }}</td>
                <td><a href="{% url 'producao:bobineupdate' item.pk %}" class="btn btn-primary" role="button">Class.</a></td>
                          
            </tr>
        </tbody>  
            {% endfor %}
        </table>
             

        {% if bobinagem.obs == "" %}
        <p></p>
        {% else %}
        <div class="container">
            <h2>Observações:</h2>
            <p>{{ bobinagem.obs }}</p>
            
            
        </div>
        {% endif %}
        {% if bobinagem.num_emendas > 0 %}
        <div class="container">
                <h3>Bobines originais</h3>
                {% if emenda.bobinagem != "" %}
                    <table class="table fit">
                        <tr>
                            <th></th>
                            <th>Bobine original</th>
                            <th>Consumo (m)</th>
                            <th>Emenda (m)</th>
                        </tr>
                        {% for em in emenda %}
                        <tr>
                            <td>{{ em.num_emenda }}</td>
                            <td><a href="{% url 'producao:bobine_details' em.bobine.pk %}">{{ em.bobine }}</a></td>
                            <td>{{ em.metros }}</td>
                            <td>{{ em.emenda }}</td>
                            
                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                
        
            </div>
        {% else %}
        <div class="container">
            
        
            
            
        </div>
        {% endif %}


        </div>
    </div>
    </div>
</div>


{% endblock %}