{% extends "layout.html" %}
{% load producao_tags %}

{% block head_title %}Bobinagem Detalhes{% endblock head_title %}
{% block content %}

<div class="container">
    {% if bobinagem.perfil.retrabalho == True %}
    <a href="{% url 'producao:bobinagem_retrabalho_list_v2' %}" class="btn btn-outline-primary" role="button">Voltar</a>
    {% else %}
    <a href="{% url 'producao:bobinagem_list_v3' %}" class="btn btn-outline-primary" role="button">Voltar</a>
    {% endif %}
    {% if request.user|has_group:"Produção Supervisor" and bobinagem.perfil.retrabalho == False %}
    <a href="{% url 'producao:bobinagem_edit' pk=bobinagem.pk %}" class="btn btn-outline-primary" role="button">Editar</a>
    {% endif %}

    
</div>
<br>
<div>
    <h3 class="text-center">{{ bobinagem.nome }}</h3>
</div>
<br>
<div class="container">
    <div class="container">
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Data:</label></div>
            <div class="col-2">{{ bobinagem.data|date:"d-n-Y" }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Perfil:</label></div>
            <div class="col-10">{{ bobinagem.perfil.nome }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Início:</label></div>
            <div class="col-2">{{ bobinagem.inico|date:"G:i" }}</div>
            <div class="col-2"><label class="form-label">Fim:</label></div>
            <div class="col-2">{{ bobinagem.fim|date:"G:i" }}</div>
            <div class="col-2"><label class="form-label">Duração:</label></div>
            <div class="col-2">{{ bobinagem.duracao }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Comp.:</label></div>
            <div class="col-2">{{ bobinagem.comp }} m</div>
            <div class="col-2"><label class="form-label">Diam.:</label></div>
            <div class="col-2">{{ bobinagem.diam }} mm</div>
            <div class="col-2"><label class="form-label">Área:</label></div>
            <div class="col-2">{{ bobinagem.area }} m<sup>2</sup></div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Core:</label></div>
            <div class="col-10">{{ bobinagem.perfil.core }}"</div>
        </div>
        <div class="row mt-2">
            {% if bobinagem.perfil.retrabalho == False %}
            <div class="col-2"><label class="form-label">Emenda:</label></div>
            <div class="col-2">{{ bobinagem.comp_par }} m</div>
            {% endif %}
            <div class="col-2"><label class="form-label">Desperdicio.:</label></div>
            <div class="col-2">{{ bobinagem.desper }} m<sup>2</sup></div>
        </div>
        
    </div>
    <br>
          
            
        
    
    <div class="table-responsive" style="height: 25vh;">
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Nonwoven Superior</th>
                    <th scope="col">Nonwoven Inferior</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tipo:</td>
                    {% if bobinagem.tiponwsup == '' %}<td>N/A</td>{% else %}<td>{{ bobinagem.tiponwsup }}</td>{% endif %}
                    {% if bobinagem.tiponwinf == '' %}<td>N/A</td>{% else %}<td>{{ bobinagem.tiponwinf }}</td>{% endif %}

                </tr>
                <tr>
                    <td>Lote:</td>
                    {% if bobinagem.lotenwsup == None %}<td>N/A</td>{% else %}<td>{{ bobinagem.lotenwsup }}</td>{% endif %}
                    {% if bobinagem.lotenwinf == None %}<td>N/A</td>{% else %}<td>{{ bobinagem.lotenwinf }}</td>{% endif %}
                    
                </tr>
                <tr>
                    <td>Consumo (m):</td>
                    {% if bobinagem.nwsup == None %}<td>N/A</td>{% else %}<td>{{ bobinagem.nwsup }}</td>{% endif %}
                    {% if bobinagem.nwinf == None %}<td>N/A</td>{% else %}<td>{{ bobinagem.nwinf }}</td>{% endif %}
                    
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form method="POST" action="#">
            {% csrf_token %}
            <label for="id_impressora">Impressora: </label>{{ form.impressora }}
            <label for="id_num_copias">Nº de Cópias: </label>{{ form.num_copias }}
            <input type="submit" value="Imprimir Todas" class="btn btn-outline-primary">
        </form>
    </div>
    <br>
    <div>
        <h3 class="text-center">Bobines</h3>
    </div>
    <div>
        {% if request.user|has_group:"Produção Supervisor" or request.user|has_group:"Produção Operador" or request.user|has_group:"Qualidade Supervisor" or request.user|has_group:"Qualidade Tecnico" %}
        <a href="{% url 'producao:bobinagem_classificacao' pk=bobinagem.pk%}"  class="btn btn-outline-primary" role="button">Classificar Bobinagem</a>
        {% endif %}
    </div>
    <br>
<div>
    <table class="content-table" id="defeitos">
        <thead>
            <tr>
                <th id="designacao">Bobine</th>
                <th>Largura (mm)</th>
                <th>Área (m<sup>2</sup>)</th>
                <th>Estado</th>
                <th>Largura Real (mm)</th>
                <th>Largura NOK</th>
                <th>Cónico</th>
                <th>Desc.</th>
                <th>Presa</th>
                <th>Diâm.</th>
                <th>Suj.</th>
                <th>Carro atrás</th>
                <th>Laçou</th>
                <th>Não Colou</th>
                <th>Sobretiragem</th>
                <th>Falha Corte</th>
                <th>Inicio (mm)</th>
                <th>Fim (mm)</th>
                <th>Falha Filme</th>
                <th>Início (m)</th>
                <th>Fim (m)</th>
                <th>Falha MP</th>
                <th>Furos</th>
                <th>Buracos</th>
                <th>Gram.</th>
                <th>Prop.</th>
                <th>Prop. Obs.</th>
                <th>Outros</th>
                <th>Obs.</th>
                <th>Troca</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tbody>    
                {% for b in bobine %}
                <tr>
                    <td><a href="{% url 'producao:bobine_details' pk=b.pk %}">{{ forloop.counter }}</a></td>
                    <td>{{ b.largura.largura }}</td>
                    <td>{{ b.area }}</td>
                    {% if b.estado == 'G' %}<td id="estado_good">{{ b.estado }}</td>
                    {% elif b.estado == 'R' %}<td id="estado_rejected">{{ b.estado }}</td>
                    {% elif b.estado == 'DM' %}<td id="estado_dm">{{ b.estado }}</td>
                    {% elif b.estado == 'BA' %}<td id="estado_ba">{{ b.estado }}</td>
                    {% elif b.estado == 'LAB' %}<td id="estado_lab">{{ b.estado }}</td>
                    {% elif b.estado == 'IND' %}<td id="estado_ind">{{ b.estado }}</td>
                    {% elif b.estado == 'HOLD' %}<td id="estado_hold">{{ b.estado }}</td>
                    {% elif b.estado == 'SC' %}<td id="estado_sc">{{ b.estado }}</td>{% endif %}
                    {% if b.l_real == None %}<td></td>{% else %}<td>{{ b.l_real }}</td>{% endif %}
                    {% if b.nok == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.con == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.descen == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.presa == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.diam_insuf == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.suj == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.car == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.lac == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.ncore == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.sbrt == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.fc == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.fc_diam_ini == None %}<td></td>{% else %}<td>{{ b.fc_diam_ini|floatformat }}</td>{% endif %}
                    {% if b.fc_diam_fim == None %}<td></td>{% else %}<td>{{ b.fc_diam_fim|floatformat }}</td>{% endif %}
                    {% if b.ff == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.ff_m_ini == None %}<td></td>{% else %}<td>{{ b.ff_m_ini|floatformat }}</td>{% endif %}
                    {% if b.ff_m_fim == None %}<td></td>{% else %}<td>{{ b.ff_m_fim|floatformat }}</td>{% endif %}
                    {% if b.fmp == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.furos == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.buraco == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.esp == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.prop == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.prop_obs == None %}<td></td>{% else %}<td>{{ b.prop_obs }}</td>{% endif %}
                    {% if b.outros == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if b.obs == None %}<td></td>{% else %}<td>{{ b.obs }}</td>{% endif %}
                    {% if b.troca_nw == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                   
                
                   
                   
                            
                </tr>
                {% endfor %}
            </tbody>  
        </tbody>
        </table>
</div>
<br>
<br>

<div class="content-form">
    {% if bobinagem.perfil.retrabalho == True %}
    <div class="title_block-list">
        <h2>Bobines Originais</h2>
    </div>
    <div>
        <table class="content-table" id="defeitos">
            <thead>
                <tr>
                    <th></th>
                    <th id="designacao">Bobine original</th>
                    <th>Consumo (m) </th>
                    <th>Emenda (m)</th>
                    
    
                </tr>
            </thead>
            <tbody>
                <tbody>    
                    {% for em in emenda %}
                    <tr>
                        <td>{{ em.num_emenda }}</td>
                        <td id="designacao"><a href="{% url 'producao:bobine_details' em.bobine.pk %}">{{ em.bobine }}</a></td>
                        <td>{{ em.metros }}</td>
                        <td>{{ em.emenda }}</td>
                       
                    
                       
                       
                                
                    </tr>
                    {% endfor %}
                </tbody>  
            </tbody>
            </table>
    </div>
    {% endif %}
    {% if bobinagem.obs != '' %}
    <div class="title_block-list">
        <h2>Observações</h2>
    </div>
    <div>{{ bobinagem.obs}}</div>
    {% endif %}
</div>

{% endblock %}