{% extends "layout.html" %}
{% load static %}
{% block head_title %}Bobinagem{% endblock head_title %}
{% block content %}


<div class="container ">
        <div class="row">
            <div class="container">
                <a href="{% url 'producao:bobinagens' %}" class="btn btn-primary" role="button">Voltar</a>
                
                <a href="{% url 'producao:bobinagem_create' %}"  class="btn btn-primary pull-right" role="button">Criar bobinagem</a>
                
            </div>
        </div>
    <div class="container">
        <h1 id="center">Bobinagens Linha 1</h1>
        <br>
    </div>
    <div class="container">
        <form method="GET" action=''>
            <input type="text" name="q" placeholder="Search Bobinagem"/>
            <input type="submit" class="btn btn-success" value="Procurar"/>
        </form>
    </div>
    <br>
    <div class="container-fluid col-md-12 table-responsive size-table">
    <table class="table fit">
        <thead>
            <tr>
                <th>Nome</th>
                <th id="center">Data</th>
                <th id="center">Inicio</th>
                <th id="center">Fim</th>
                <th id="center">Duração</th>
                <th id="center">Core (")</th>
                <th id="center">Comp. (m)</th>
                <th id="center">Comp. Emenda (m)</th>
                <th id="center">Comp. Cliente (m)</th>
                <th id="center">Área</th>
            </tr>
        </thead>
        <tbody>
            {% for bobinagem in bobinagens %}
                <tr>
                    <td>{{ bobinagem.nome }}</td>
                    <td id="center">{{ bobinagem.data|date:"d-n-Y" }}</td>
                    <td id="center">{{ bobinagem.inico|date:"G:i" }}</td>
                    <td id="center">{{ bobinagem.fim|date:"G:i" }}</td>
                    <td id="center">{{ bobinagem.duracao }}</td>
                    <td id="center">{{ bobinagem.perfil.core }}</td>
                    <td id="center">{{ bobinagem.comp }}</td>
                    <td id="center">{{ bobinagem.comp_par }}</td>
                    <td id="center">{{ bobinagem.comp_cli }}</td>
                    <td id="center">{{ bobinagem.area }}</td>
                    {% if bobinagem.estado == "LAB" %}
                        <td id="center"><a href="{% url 'producao:bobinagem_status' pk=bobinagem.pk operation='ap' %}" class="btn btn-success">Aprovar</a></td>     
                        <td id="center"><a href="{% url 'producao:bobinagem_status' pk=bobinagem.pk operation='rej' %}" class="btn btn-danger">Rejeitar</a></td>   
                        <td id="center"><a href="{% url 'producao:bobinagem_status' pk=bobinagem.pk operation='dm' %}" class="btn btn-warning">DM12</a></td>  
                    {% else %}
                        <td style="padding:0 0px 0 0px;"></td>
                        <td style="padding:0 0px 0 0px;"></td>
                        <td style="padding:0 0px 0 0px;"></td>
                    {% endif %}
                    <td><a href="{% url 'producao:bobinagem_delete' pk=bobinagem.pk %}" class="btn btn-danger">Apagar</a></td>
                    {% for b in bobine %}
                        {% if b.bobinagem == bobinagem %}
                            {% if b.estado == "G" %}
                                <td style="padding:14px 0px 0 0px;"><img src="{% static 'img/green_stripe.png' %}" width="4px" height="20px"></td>
                            {% elif b.estado == "DM"%}
                                <td style="padding:14px 0px 0 0px;"><img src="{% static 'img/yellow_stripe.png' %}" width="4px" height="20px"></td>
                            {% elif b.estado == "R" %}
                                <td style="padding:14px 0px 0 0px;"><img src="{% static 'img/red_stripe.png' %}" width="4px" height="20px"></td>
                            {% elif b.estado == "LAB" %}
                                <td style="padding:14px 0px 0 0px;"><img src="{% static 'img/cyan_stripe.png' %}" width="4px" height="20px"></td>
                            {% elif b.estado == "BA" %}
                                <td style="padding:14px 0px 0 0px;"><img src="{% static 'img/red_stripe.png' %}" width="4px" height="20px"></td>
                            {% elif b.estado == "IND"%}
                                <td style="padding:14px 0px 0 0px;"><img src="{% static 'img/blue_stripe.png' %}" width="4px" height="20px"></td>
                            {% elif b.estado == "HOLD"%}
                                <td style="padding:14px 0px 0 0px;"><img src="{% static 'img/purple_stripe.png' %}" width="4px" height="20px"></td>
                            {% endif %}
                    
                        {% endif%}
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr></tr>
        </tbody>
    </table>
</div>
    
</div>


{% endblock %}