{% extends "layout.html " %} 
{% load bootstrap3 %}
{% load static %}
{% load producao_tags %}
{% block title %}Bobinagens Linha 1 | {{ block.super }}{% endblock %} 
{% block content %}
<div class="container">
    <a href="{% url 'producao:producao_home' %}" class="btn btn-outline-primary" role="button">Voltar</a>
    {% if request.user|has_group:"Qualidade Supervisor" %}
    <a href="{% url 'producao:atribuir_destinos' %}" class="btn btn-outline-primary" role="button">Atribuir Destinos</a>
    {% endif %} 
    <a href="{% url 'producao:export_bobine_to_excel' %}" class="btn btn-outline-primary" role="button">Export Bobines</a>
    {% if request.user|has_group:"Produção Supervisor" or request.user|has_group:"Produção Operador" %}
    <a href="{% url 'producao:bobinagem_create' %}" class="btn btn-outline-primary" role="button">Criar Bobinagem</a>
    {% endif %} 

</div>
<br>
<div class="container">
    <div>
        <h3 class="text-center">Bobinagens Linha 1</h3>
    </div>
    <div>
        <form action="" method="GET">
            <input type="text" name="q">
            <input type="submit" value="Procurar" class="btn btn-primary">
            <a href="{% url 'producao:bobinagem_list_v3' %}" class="btn btn-outline-primary">Reset</a>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th scope="col" style="min-width: 150px;">Bobinagem</th>
                    <th scope="col" style="min-width: 100px;">Data</th>
                    <th scope="col">Início</th>
                    <th scope="col">Fim</th>
                    <th scope="col">Duração</th>
                    <th scope="col">Core</th>
                    <th scope="col">Comp(m)</th>
                    <th scope="col">Comp. Emenda(m)</th>
                    <th scope="col">Comp. Cliente</th>
                    <th scope="col">Área(m<sup>2</sup>)</th>
                    <th scope="col">Apagar</th>
                    <th style="min-width: 25px; text-align: center;">1</th>
                    <th style="min-width: 25px; text-align: center;">2</th>
                    <th style="min-width: 25px; text-align: center;">3</th>
                    <th style="min-width: 25px; text-align: center;">4</th>
                    <th style="min-width: 25px; text-align: center;">5</th>
                    <th style="min-width: 25px; text-align: center;">6</th>
                    <th style="min-width: 25px; text-align: center;">7</th>
                    <th style="min-width: 25px; text-align: center;">8</th>
                    <th style="min-width: 25px; text-align: center;">9</th>
                    <th style="min-width: 25px; text-align: center;">10</th>
                    <th style="min-width: 25px; text-align: center;">11</th>
                    <th style="min-width: 25px; text-align: center;">12</th>
                    <th style="min-width: 25px; text-align: center;">13</th>
                    <th style="min-width: 25px; text-align: center;">14</th>
                    <th style="min-width: 25px; text-align: center;">15</th>
                    <th style="min-width: 25px; text-align: center;">16</th>
                    <th style="min-width: 25px; text-align: center;">17</th>
                    <th style="min-width: 25px; text-align: center;">18</th>
                    <th style="min-width: 25px; text-align: center;">19</th>
                    <th style="min-width: 25px; text-align: center;">25</th>
                    <th style="min-width: 25px; text-align: center;">21</th>
                    <th style="min-width: 25px; text-align: center;">22</th>
                    <th style="min-width: 25px; text-align: center;">23</th>
                    <th style="min-width: 25px; text-align: center;">24</th>
                                    
                </tr>
            </thead>
            <tbody>
                {% for b in bobinagem %}
                <tr>
                    
                    <td id="designacao"><a href="{% url 'producao:bobinestatus' pk=b.pk %}">{{ b.nome }}</a></td>
                    <td>{{ b.data|date:"d-n-Y" }}</td>
                    <td>{{ b.inico|date:"G:i" }}</td>
                    <td>{{ b.fim|date:"G:i" }}</td>
                    <td>{{ b.duracao }}</td>
                    <td>{{ b.perfil.core }}</td>
                    <td>{{ b.comp }}</td>
                    <td>{{ b.comp_par }}</td>
                    <td>{{ b.comp_cli }}</td>
                    <td>{{ b.area }}</td>
                    {% if b.estado == 'LAB' %}                        
                        <td class="td-icon"><a href="{% url 'producao:bobinagem_delete' pk=b.pk %}"><i class="fas fa-trash"></i></a></td>
                    {% else %}                        
                        <td class="td-icon"><a href="{% url 'producao:bobinagem_delete' pk=b.pk %}"><i class="fas fa-trash"></i></a></td>
                    {% endif %}     
                    {% for bob in b.bobine_set.all %}  
                        {% if bob.estado == 'LAB'%}
                        <td>
                            <a href="{% url 'producao:bobine_details' pk=bob.pk %}" target="_blank">
                                <div id="bobine-lab"></div>
                            </a>
                        </td>
                        {% elif bob.estado == 'DM'%}
                        <td>
                            <a href="{% url 'producao:bobine_details' pk=bob.pk %}" target="_blank">
                                <div id="bobine-dm"></div>
                            </a>
                        </td>
                        {% elif bob.estado == 'G'%}
                        <td>
                            <a href="{% url 'producao:bobine_details' pk=bob.pk %}" target="_blank">
                                <div id="bobine-good"></div>
                            </a>
                        </td>
                        {% elif bob.estado == 'R'%}
                        <td>
                            <a href="{% url 'producao:bobine_details' pk=bob.pk %}" target="_blank">
                                <div id="bobine-r"></div>
                            </a>
                        </td>
                        {% elif bob.estado == 'IND'%}
                        <td>
                            <a href="{% url 'producao:bobine_details' pk=bob.pk %}" target="_blank">
                                <div id="bobine-ind"></div>
                            </a>
                        </td>
                        {% elif bob.estado == 'BA'%}
                        <td>
                            <a href="{% url 'producao:bobine_details' pk=bob.pk %}" target="_blank">
                                <div id="bobine-ba"></div>
                            </a>
                        </td>
                        {% elif bob.estado == 'HOLD'%}
                        <td>
                            <a href="{% url 'producao:bobine_details' pk=bob.pk %}" target="_blank">
                                <div id="bobine-hold"></div>
                            </a>
                        </td>
                        {% elif bob.estado == 'SC'%}
                        <td>
                            <a href="{% url 'producao:bobine_details' pk=bob.pk %}" target="_blank">
                                <div id="bobine-sc"></div>
                            </a>
                        </td>
                        {% endif %}            
                    
                    {% endfor %}               
                    
                </tr>
                {% endfor%}
            </tbody>
        </table>
        
    </div>
    <div class="container">
        {% if bobinagem.has_other_pages %}
        <div>
            <span>
                {% if bobinagem.has_previous %}
                    <a href="?{% if query %}q={{query}}&{% endif %}page=1"><i class="fas fa-angle-double-left"></i></a>
                    <a href="?{% if query %}q={{query}}&{% endif %}page={{ bobinagem.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
                {% endif %}
        
                <span>
                    Pág. {{ bobinagem.number }} de {{ bobinagem.paginator.num_pages }}
                </span>
        
                {% if bobinagem.has_next %}
                    <a href="?{% if query %}q={{query}}&{% endif %}page={{ bobinagem.next_page_number }}"><i class="fas fa-angle-right"></i></a>
                    <a href="?{% if query %}q={{query}}&{% endif %}page={{ bobinagem.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    
    </div>
</div>










<!-- <div class="title_block-list">
    <h1>Bobinagens Linha 1</h1>
</div>
<div class="form-search">
    <form action="" method="GET">
        <input type="text" name="q">
        <input type="submit" value="Procurar">
        <a href="{% url 'producao:bobinagem_list_v3' %}">Reset</a>
    </form>
</div> -->
<!-- <div>
    <table class="content-table">
        <thead>
            <tr>
                <th id="designacao">Bobinagem</th>
                <th>Data</th>
                <th>Início</th>
                <th>Fim</th>
                <th>Duração</th>
                <th>Core</th>
                <th>Comp(m)</th>
                <th>Comp. Emenda(m)</th>
                <th>Comp. Cliente</th>
                <th>Área(m<sup>2</sup>)</th>
                <th></th> -->
                <!-- <th></th> -->
                <!-- <th></th>
                <th></th>
                <th></th>
                <th></th> -->
            <!-- </tr>
        </thead>
        <tbody> -->
            <!-- {% for b in bobinagem %}
            <tr>
                
                <td id="designacao"><a href="{% url 'producao:bobinestatus' pk=b.pk %}">{{ b.nome }}</a></td>
                <td>{{ b.data|date:"d-n-Y" }}</td>
                <td>{{ b.inico|date:"G:i" }}</td>
                <td>{{ b.fim|date:"G:i" }}</td>
                <td>{{ b.duracao }}</td>
                <td>{{ b.perfil.core }}</td>
                <td>{{ b.comp }}</td>
                <td>{{ b.comp_par }}</td>
                <td>{{ b.comp_cli }}</td>
                <td>{{ b.area }}</td>
                {% if b.estado == 'LAB' %}
                    
                    <td class="td-icon"><a href="{% url 'producao:bobinagem_delete' pk=b.pk %}"><i class="fas fa-trash"></i></a></td>
                {% else %}
                    
                    <td class="td-icon"><a href="{% url 'producao:bobinagem_delete' pk=b.pk %}"><i class="fas fa-trash"></i></a></td>

                {% endif %}
                {% for bob in b.bobine_set.all %}
                    {% if bob.estado == 'LAB'%}
                    <td>
                        <a href="{% url 'producao:bobine_details' pk=bob.pk %}">
                            <div style="height:100%;width:100%" id="lab">{{ bob.largura.num_bobine }}</div>
                        </a>
                    </td>
                    {% elif bob.estado == 'DM'%}
                    <td id="dm">
                        <a href="{% url 'producao:bobine_details' pk=bob.pk %}">
                            <div style="height:100%;width:100%" id="dm">{{ bob.largura.num_bobine }}</div>
                        </a>
                    </td>
                    {% elif bob.estado == 'G'%}
                    <td id="good">
                        <a href="{% url 'producao:bobine_details' pk=bob.pk %}">
                            <div style="height:100%;width:100%" id="good">{{ bob.largura.num_bobine }}</div>
                        </a>
                    </td>
                    {% elif bob.estado == 'R'%}
                    <td id="rejected">
                        <a href="{% url 'producao:bobine_details' pk=bob.pk %}">
                            <div style="height:100%;width:100%" id="rejected">{{ bob.largura.num_bobine }}</div>
                        </a>
                    </td>
                    {% elif bob.estado == 'IND'%}
                    <td id="ind">
                        <a href="{% url 'producao:bobine_details' pk=bob.pk %}">
                            <div style="height:100%;width:100%" id="ind">{{ bob.largura.num_bobine }}</div>
                        </a>
                    </td>
                    {% elif bob.estado == 'BA'%}
                    <td id="ba">
                        <a href="{% url 'producao:bobine_details' pk=bob.pk %}">
                            <div style="height:100%;width:100%" id="ba">{{ bob.largura.num_bobine }}</div>
                        </a>
                    </td>
                    {% elif bob.estado == 'HOLD'%}
                    <td id="hold">
                        <a href="{% url 'producao:bobine_details' pk=bob.pk %}">
                            <div style="height:100%;width:100%" id="hold">{{ bob.largura.num_bobine }}</div>
                        </a>
                    </td>
                    {% elif bob.estado == 'SC'%}
                    <td id="sc">
                        <a href="{% url 'producao:bobine_details' pk=bob.pk %}">
                            <div style="height:100%;width:100%" id="sc">{{ bob.largura.num_bobine }}</div>
                        </a>
                    </td>
                    {% endif %}
                {% endfor%}
                
            </tr>
            {% endfor%} -->
        <!-- </tbody>
        </table> -->
            
      
                

            
            
<!-- </div>
<div class="pagination">
    {% if bobinagem.has_other_pages %}
    <div>
        <span>
            {% if bobinagem.has_previous %}
                <a role="button" class="fas fa-angle-double-left" href="?{% if query %}q={{query}}&{% endif %}page=1"></a>
                <a role="button" class="fas fa-angle-left" href="?{% if query %}q={{query}}&{% endif %}page={{ bobinagem.previous_page_number }}"></a>
            {% endif %}
    
            <span>
                Pág. {{ bobinagem.number }} de {{ bobinagem.paginator.num_pages }}
            </span>
    
            {% if bobinagem.has_next %}
                <a role="button" class="fas fa-angle-right" href="?{% if query %}q={{query}}&{% endif %}page={{ bobinagem.next_page_number }}"></a>
                <a role="button" class="fas fa-angle-double-right" href="?{% if query %}q={{query}}&{% endif %}page={{ bobinagem.paginator.num_pages }}"></a>
            {% endif %}
        </span>
    </div>
    {% endif %}

</div> -->



{% endblock %}