{% extends "layout.html "%}
{% load bootstrap3 %}

{% block title %}Bobine {{ bobine.nome }}{% endblock %}

{% block content %}
<div>
    <!-- {% if bobinagem.perfil.retrabalho == True %}
    <a href="{% url 'producao:bobinagem_retrabalho_list_v2' %}"  class="btn_back" role="button">Voltar</a>
    {% else %}
    <a href="{% url 'producao:bobinagem_list_v3' %}"  class="btn_back" role="button">Voltar</a>
    {% endif %} -->
    <input type="button" value="Voltar" id="confirm-btn" onclick="history.back()">

</div>
<div class="title_block-list">
    <h1>Bobine</h1>
    <h2>{{ bobine.nome }}</h2>
</div>
<div class="content_details">
    <div>
        <div><h3>Data: <span>{{ bobine.bobinagem.data|date:"d-n-Y" }}</span></h3></div>
        <div><h3>Comprimento: <span>{{ bobine.comp_actual }} / {{ bobine.bobinagem.comp_cli }} m</span></h3></div>
        <div><h3>Diâmetro: <span>{{ bobine.bobinagem.diam }} mm</span></h3></div>
        <div><h3>Área: <span>{{ bobine.area }} m<sup>2</sup></span></h3></div>
        <div><h3>Artigo: <span>{{ bobine.artigo.des}}</span></h3></div>
        <div><h3>Cliente: <span>{{ bobine.largura.cliente.nome }}</span></h3></div>
    </div>
    <div>
        <div><h3>Início: <span>{{ bobine.bobinagem.inico|date:"G:i" }}</span></h3></div>
        <div><h3>Fim: <span>{{ bobine.bobinagem.fim|date:"G:i" }}</span></h3></div>
        <div><h3>Duração: <span>{{ bobine.bobinagem.duracao }}</span></h3></div>
        <div><h3>Perfil: <span>{{ bobine.bobinagem.perfil.nome }}</span></h3></div>
        <div><h3>Core: <span>{{ bobine.bobinagem.perfil.core }}"</span></h3></div>
        <div><h3>Palete: <span>{{ bobine.palete.nome }}</span></h3></div>
    </div>

    

</div>
<div class="content_details">
    <div>


        <table class="content-table"> 
            <thead>
                <tr>
                    <th></th>
                    <th>Nonwoven Superior</th>
                    <th>Nonwoven Superior</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="designacao">Tipo:</td>
                    {% if bobine.bobinagem.tiponwsup == '' %}<td>N/A</td>{% else %}<td>{{ bobine.bobinagem.tiponwsup }}</td>{% endif %}
                    {% if bobine.bobinagem.tiponwinf == '' %}<td>N/A</td>{% else %}<td>{{ bobine.bobinagem.tiponwinf }}</td>{% endif %}

                </tr>
                <tr>
                    <td id="designacao">Lote:</td>
                    {% if bobine.bobinagem.lotenwsup == None %}<td>N/A</td>{% else %}<td>{{ bobine.bobinagem.lotenwsup }}</td>{% endif %}
                    {% if bobine.bobinagem.lotenwinf == None %}<td>N/A</td>{% else %}<td>{{ bobine.bobinagem.lotenwinf }}</td>{% endif %}
                    
                </tr>
                <tr>
                    <td id="designacao">Consumo (m):</td>
                    {% if bobine.bobinagem.nwsup == None %}<td>N/A</td>{% else %}<td>{{ bobine.bobinagem.nwsup }}</td>{% endif %}
                    {% if bobine.bobinagem.nwinf == None %}<td>N/A</td>{% else %}<td>{{ bobine.bobinagem.nwinf }}</td>{% endif %}
                    
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form method="POST" action="#">
            {% csrf_token %}
            <label for="id_impressora">Impressora: </label>{{ form.impressora }}
            <label for="id_num_copias">Nº de Cópias: </label>{{ form.num_copias }}
            <input type="submit" value="Imprimir Etiqueta" id="confirm-btn">
        </form>
    </div>
</div>
<div class="title_block-list">
    <h3>Defeitos</h3>
</div>
<div>
    <table class="content-table" id="defeitos">
        <thead>
            <tr>
                <th>Largura (mm)</th>
                <th>Área (m<sup>2</sup>)</th>
                <th>Estado</th>
                <th>Largura Real (mm)</th>
                <th>Largura NOK</th>
                <th>Cónico</th>
                <th>Desc.</th>
                <th>Presa</th>
                <th>Diâm.</th>
                <th>Suj.</th>
                <th>Carro atrás</th>
                <th>Laçou</th>
                <th>Não Colou</th>
                <th>Sobretiragem</th>
                <th>Falha Corte</th>
                <th>Inicio (mm)</th>
                <th>Fim (mm)</th>
                <th>Falha Filme</th>
                <th>Início (m)</th>
                <th>Fim (m)</th>
                <th>Falha MP</th>
                <th>Furos</th>
                <th>Buracos</th>
                <th>Gram.</th>
                <th>Prop.</th>
                <th>Prop. Obs.</th>
                <th>Outros</th>
                <th>Obs.</th>
                <th>Troca</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tbody>    
            
                <tr>
                    <td>{{ bobine.largura.largura }}</td>
                    <td>{{ bobine.area }}</td>
                    {% if bobine.estado == 'G' %}<td id="estado_good">{{ bobine.estado }}</td>
                    {% elif bobine.estado == 'R' %}<td id="estado_rejected">{{ bobine.estado }}</td>
                    {% elif bobine.estado == 'DM' %}<td id="estado_dm">{{ bobine.estado }}</td>
                    {% elif bobine.estado == 'BA' %}<td id="estado_ba">{{ bobine.estado }}</td>
                    {% elif bobine.estado == 'LAB' %}<td id="estado_lab">{{ bobine.estado }}</td>
                    {% elif bobine.estado == 'IND' %}<td id="estado_ind">{{ bobine.estado }}</td>
                    {% elif bobine.estado == 'HOLD' %}<td id="estado_hold">{{ bobine.estado }}</td>{% endif %}
                    {% if bobine.l_real == None %}<td></td>{% else %}<td>{{ bobine.l_real }}</td>{% endif %}
                    {% if bobine.nok == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.con == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.descen == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.presa == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.diam_insuf == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.suj == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.car == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.lac == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.ncore == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.sbrt == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.fc == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.fc_diam_ini == None %}<td></td>{% else %}<td>{{ bobine.fc_diam_ini|floatformat }}</td>{% endif %}
                    {% if bobine.fc_diam_fim == None %}<td></td>{% else %}<td>{{ bobine.fc_diam_fim|floatformat }}</td>{% endif %}
                    {% if bobine.ff == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.ff_m_ini == None %}<td></td>{% else %}<td>{{ bobine.ff_m_ini|floatformat }}</td>{% endif %}
                    {% if bobine.ff_m_fim == None %}<td></td>{% else %}<td>{{ bobine.ff_m_fim|floatformat }}</td>{% endif %}
                    {% if bobine.fmp == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.furos == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.buraco == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.esp == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.prop == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.prop_obs == None %}<td></td>{% else %}<td>{{ bobine.prop_obs }}</td>{% endif %}
                    {% if bobine.outros == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}
                    {% if bobine.obs == None %}<td></td>{% else %}<td>{{ bobine.obs }}</td>{% endif %}
                    {% if bobine.troca_nw == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}

                
                
                
                
                            
                </tr>
            
            </tbody>  
        </tbody>
        </table>
</div>

<br>
<br>

<div class="content-form">
    {% if bobine.bobinagem.perfil.retrabalho == True %}
    <div class="title_block-list">
        <h3>Bobines Originais</h3>
    </div>
    <div>
        <table class="content-table" id="defeitos">
            <thead>
                <tr>
                    <th></th>
                    <th id="designacao">Bobine original</th>
                    <th>Consumo (m) </th>
                    <th>Emenda (m)</th>
                    
    
                </tr>
            </thead>
            <tbody>
                <tbody>    
                    {% for em in emenda %}
                    <tr>
                        <td>{{ em.num_emenda }}</td>
                        <td id="designacao"><a href="{% url 'producao:bobine_details' em.bobine.pk %}">{{ em.bobine }}</a></td>
                        <td>{{ em.metros }}</td>
                        <td>{{ em.emenda }}</td>
                    
                    
                    
                    
                                
                    </tr>
                    {% endfor %}
                </tbody>  
            </tbody>
            </table>
    </div>
    {% endif %}
    {% if bobine.obs != '' %}
    <div class="title_block-list">
        <h2>Observações</h2>
    </div>
    <div>{{ bobine.obs}}</div>
    {% endif %}
</div>
<div class="title_block-list">
    <h3>Movimentos</h3>
</div>
<div>
    <table class="content-table">
        <thead>
            <tr>
                <th>Palete</th>
                <th>Data de picagem</th>
                <th>Destino</th>
            </tr>
        </thead>
        <tbody>
            <tbody> 
                {% for mov in movimentos_bobine %}   
                <tr>
                    <td>{{ mov.palete }}</td>
                    <td>{{ mov.timestamp|date:"d-m-Y G:i" }}</td>
                    <td>{{ mov.destino }}</td>
                </tr>
                {% endfor %}
            </tbody>  
        </tbody>
        </table>
</div>
            
                    
                
                
                
                
                            
                
              
{% endblock %}