{% extends "layout.html "%}
{% load producao_tags %}


{% block title %}Bobinagem | {{ block.super }}{% endblock %}
{% block content %}
<div class="title_block-list">
    <h1>Criar Bobinagem</h1>
</div>
<form method="POST" action="" onkeypress="return event.keyCode != 13;">
    <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}" id="error">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="content-form">
        <div class="content-form-2">
            <div><label for="id_perfil">Perfil: </label>{{ form.perfil }}</div>
        </div>
        <div class="form_create_bobinagem_2">
            <div><label for="id_data">Data: </label>{{ form.data }}</div>
            <div><label for="id_inico">Início: </label>{{ form.inico }}</div>
            <div><label for="id_fim">Fim: </label>{{ form.fim }}</div>
            
        </div>
        <div class="form_create_bobinagem_3">
            <div><label for="id_num_bobinagem">Bobinagem nº: </label>{{ form.num_bobinagem }}</div>
            <div><label for="id_estado">Estado: </label>{{ form.estado }}</div>
        </div>
        <div class="form_create_bobinagem_4">
            <div><label for="id_diam">Diâmetro: </label>{{ form.diam }}</div>
            <div><label for="id_comp">Comp. Final: </label>{{ form.comp }}</div>
            <div><label for="id_comp_par">Comp. Emenda: </label>{{ form.comp_par }}</div>
            <div><label for="id_tipo_desp">Tipo Desperdício: </label>{{ form.tipo_desp }}</div>
        </div>
        <div class="title_block-list">
            <h2>Nonwoven</h2>
        </div>
        <div class="form_create_bobinagem_3">
            <div><h3>Superior</h3></div>
            <div><h3>Inferior</h3></div>
        </div>
        <div class="form_create_bobinagem_3">
            <div><label for="id_tiponwsup">Tipo: </label>{{ form.tiponwsup }}</div>
            <div><label for="id_tiponwinf">Tipo: </label>{{ form.tiponwinf }}</div>
        </div>
        <div class="form_create_bobinagem_3">
            <div><label for="id_lotenwsup">Lote: </label>{{ form.lotenwsup }}</div>
            <div><label for="id_lotenwinf">Lote: </label>{{ form.lotenwinf }}</div>
        </div>
        <div class="form_create_bobinagem_3">
            <div><label for="id_nwsup">Consumo: </label>{{ form.nwsup }}</div>
            <div><label for="id_nwinf">Consumo: </label>{{ form.nwinf }}</div>
        </div>
        <div class="title_block-list">
            <h2>Observações</h2>
        </div>
        <div class="content-form-2">
            <div>{{ form.obs }}</div>
        </div>
        {% csrf_token %}
        <a href="{% url 'producao:bobinagem_list_v3' %}"  class="btn_back" role="button">Voltar</a>
        <input type="submit" id="validate-btn" value="Gravar">
    </div>

</form>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    
    $("#id_comp_par").change(function() {
        var comp_par = $("#id_comp_par").val();
        var comp = $("#id_comp").val();
        
        var desp = comp - comp_par
        var x = comp_par * 0.05
        if (desp > x) {
            $('#id_tipo_desp').css("visibility", "visible");

        } else {
            $('#id_tipo_desp').css("visibility", "hidden");
        }
        
    

    });
   

});
</script>
{% endblock %}