{% load bootstrap3 %}
<div class="conatiner size-table">
<form method="POST">
 
    <div class="container">
        <h1 id="center">Classificar bobinagem</h1><br>
    <div class="row">
            <div class="container col-sm-4">
                
                    {% bootstrap_form form %}
                    
                    
        
            </div>
            
    </div>
    
    <div class="row">    
            {% csrf_token %}
            <!-- <a href="{% url 'producao:bobinagens' %}" class="btn btn-primary pull-left" role="button">Voltar</a> -->
            <input type="submit" class="btn btn-primary pull-right" value="Gravar">
        </div>
    
</div>

    
</form>
</div>

