{% extends "layout.html "%}
{% load producao_tags %}
{% block title %}Dados Base{% endblock %}
{% block content %}

<div class="container">
    <a href="{% url 'home' %}" class="btn btn-outline-primary" role="button">Voltar</a>
    
</div>
<div class="container">
    <div>
        <h3 class="text-center">Dados Base</h3>
    </div>
    <br>
    <div class="container" id="embalamento-menu">
        <div class="row mb-2">
            <div class="col-4">            
                <a href="{% url 'producao:clientes' %}" class="btn btn-primary btn-lg" role="button"><h1 class="p-3 m-2">Clientes</h1></a>
            </div>
            <div class="col-4 text-center">
                <a href="{% url 'producao:artigos_list' %}" class="btn btn-primary btn-lg" role="button"><h1 class="p-3 m-2">Artigos</h1></a>
            </div>
            <!-- <div class="col-4 text-center">
                <a href="{% url 'producao:embalamento_home' %}" class="btn btn-primary btn-lg" role="button"><h1 class="p-3 m-2">Embalamento</h1></a>
            </div> -->
            <div class="col-4 text-center">
                <a href="{% url 'producao:transportes_list' %}" class="btn btn-primary btn-lg" role="button"><h1 class="p-3 m-2">Transporte</h1></a>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4">            
                <a href="{% url 'producao:export_bobines_originais' %}" class="btn btn-primary btn-lg" role="button"><h1 class="p-3 m-2">Export Bobines Originais</h1></a>
            </div>
            
        </div>
        <div class="row text-center">
            
            
            
        </div>
    </div>
</div>




{% endblock %}
            