{% extends "layout.html "%}
{% load producao_tags %}
{% block title %}Dados Base{% endblock %}
{% block content %}
<div>
    <a href="{% url 'home' %}" class="btn_back">Voltar</a>
</div>
<div class="title_block">
    <h1>Dados Base</h1>
</div>
<div class="menu">
    
    <div>
        <a href="{% url 'producao:clientes' %}">Clientes</a>
    </div>
    <div>
        <a href="#">Artigos</a>
    </div>
    <div>
        <a href="#">Embalamento</a>
    </div>
    <div>
        <a href="#">Transporte</a>
    </div>
    <div>
        <a href="">Métodos</a>
    </div>
    
    <!-- <div>
        <a href="{% url 'producao:artigonw_list' %}">Artigos de Nonwoven</a>
    </div> -->
    <!-- <div>
        <a href="{% url 'producao:inventario_paletes_cliente_list' %}">Inventário de Paletes Good</a>
    </div>
    <div>
        <a href="{% url 'producao:inventario_bobines_list' %}">Inventário de Bobines DM</a>
    </div> -->

    <!-- <a href="#" class="menu_btn">Fornecedores</a>
    <a href="#" class="menu_btn">Encomendas</a>
    <a href="#" class="menu_btn">Perfis de Bobinagens</a>
    <a href="#" class="menu_btn">Artigos de Nonwoven</a>
    <a href="#" class="menu_btn">Inventário de Paletes Good</a>
    <a href="#" class="menu_btn">Inventário de Bobines DM</a> -->

</div>





{% endblock %}
            