{% extends "layout.html "%}



{% block title %}Produção{% endblock %}
{% block content %}

<div class="container">
    <a href="{% url 'home' %}" class="btn btn-outline-primary" role="button">Voltar</a>
    
</div>
<div class="container">
    <div>
        <h3 class="text-center">Produção</h3>
    </div>
    <br>
    <div class="container" id="embalamento-menu">
        <div class="row mb-2">
            <div class="col-4">            
                <a href="{% url 'producao:bobinagem_list_v3' %}" class="btn btn-primary btn-lg" role="button"><h1 class="p-3 m-2">Bobinagens Linha 1</h1></a>
            </div>
            <div class="col-4 text-center">
                <a href="{% url 'producao:bobinagem_retrabalho_list_v2' %}" class="btn btn-primary btn-lg" role="button"><h1 class="p-3 m-2">Retrabalho</h1></a>
            </div>
            <div class="col-4 text-center">
                <a href="{% url 'producao:palete_list_all' %}" class="btn btn-primary btn-lg" role="button"><h1 class="p-3 m-2">Paletes</h1></a>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4">            
                <a href="{% url 'producao:paletes_retrabalho' %}" class="btn btn-primary btn-lg" role="button"><h1 class="p-3 m-2">Paletes para retrabalho</h1></a>
            </div>
            <div class="col-4 text-center">
                <a href="{% url 'producao:reciclado_home' %}" class="btn btn-primary btn-lg" role="button"><h1 class="p-3 m-2">Reciclado</h1></a>
            </div>
        </div>
    </div>
</div>
           
       



{% endblock %}