{% extends "layout.html "%}



{% block title %}Produção{% endblock %}
{% block content %}

<div>
    <a href="{% url 'home' %}" class="btn_back">Voltar</a>
</div>
<div class="title_block">
    <h1>Produção</h1>
</div>
<div class="menu">
    <div>
        <a href="{% url 'producao:bobinagem_list_v3' %}">Bobinagens Linha 1</a>
    </div>
    <div>
        <a href="{% url 'producao:bobinagem_retrabalho_list_v2' %}">Retrabalho</a>
    </div>
    <div>
        <a href="{% url 'producao:palete_list_all' %}">Paletes</a>
    </div>
    <div>
        <a href="{% url 'producao:paletes_retrabalho' %}">Paletes para retrabalho</a>
    </div>
    <!-- <div>
        <a href="{% url 'producao:produto_granulado_list' %}">Reciclado</a>
    </div> -->
    
</div>


{% endblock %}