{% extends "layout.html " %} 
{% load bootstrap3 %}
{% load static %}

{% block title %}Receções | {{ block.super }}{% endblock %} 
{% block content %}
<div class="container">
    <div class="row">
        <a href="{% url 'producao:armazem_home' %}" role="button" class="btn btn-primary">Voltar</a>
        <a href="{% url 'producao:rececao_create' %}" role="button" class="btn btn-primary pull-right">Criar Receção</a>
    </div>
    <div class="row">
        <h1 id="center">Receções</h1>
    </div>
    
    <br>

    <div class="row">
        <p><strong>Pesquisar Receção</strong></p>
        <form action="" method="GET">
            <input type="text" name="q">
            <input type="submit" class="btn btn-primary" value="Procurar">
            <a class="btn btn-primary" href="{% url 'producao:rececao_list' %}">Reset</a>
        </form>



    </div>
    
    <br>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Receção</th>
                        <th id="center">Fornecedor</th>
                        <th id="center">Data/Hora da receção</th>
                        <th id="center">Estado</th>
                        <th id="center">Quantidade</th>
                        <th id="center">Encomenda</th>
                        <th id="center">Adicionar</th>
                        <!-- <th id="center">Editar</th>
                        <th id="center">Remover</th> -->
                        <th id="center">Fechar Receção</th>
                        <th id="center">Abrir Receção</th>
                        <th id="center">Imprimir</th>
                        
                </tr>
                <tbody>
                    {% for r in rececao %}
                        <tr>
                            <td><a href="{% url 'producao:rececao_details' pk=r.pk %}">{{ r.rececao }}</a></td>
                            <td id="center">{{ r.fornecedor.designacao }}</td>
                            <td id="center">{{ r.timestamp|date:"d-m-Y G:i" }}</td>
                            {% if r.estado == 'A' %}
                                <td id="estado_good" >Aberta</td>
                            {% else %}
                                <td id="estado_rejected">Fechada</td>
                            {% endif %}
                            <td id="center">{{ r.quantidade }}</td>
                            <td id="center">{{ r.encomenda }}</td>
                            {% if r.estado == 'A' %}
                            <td id="center"><a href="{% url 'producao:rececao_insert_nw' pk=r.pk %}" role="button" class="btn btn-info glyphicon glyphicon-plus"></a></td>
                            <!-- <td id="center"><a href="#" role="button" class="btn btn-warning glyphicon glyphicon-pencil"></a></td>
                            <td id="center"><a href="#" role="button" class="btn btn-danger glyphicon glyphicon-trash"></a></td> -->
                            <td id="center"><a href="{% url 'producao:rececao_close' pk=r.pk %}" role="button" class="btn btn-success glyphicon glyphicon-ok"></a></td>
                            <td id="center"></td>
                            <td id="center"></td>

                            {% else %}
                            <td id="center"></td>
                            <!-- <td id="center"></td>
                            <td id="center"></td> -->
                            <td id="center"></td>
                            <td id="center"><a href="{% url 'producao:rececao_open' pk=r.pk %}" role="button" class="btn btn-success glyphicon glyphicon-open"></a></td>
                            <td id="center"><a href="{% url 'producao:carga_etiqueta_nonwoven_rececao' pk=r.pk %}" role="button" class="btn btn-primary glyphicon glyphicon-print"></a></td>
                            {% endif %}
                            
                            
                        </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </div>

    <div class="row">
        {% if rececao.has_other_pages %}
        <div class="pagination">
            <span class="step-links">
                {% if rececao.has_previous %}
                    <a role="button" class="btn btn-primary " href="?{% if query %}q={{query}}&{% endif %}page=1">Primeira</a>
                    <a role="button" class="btn btn-primary glyphicon glyphicon-menu-left" href="?{% if query %}q={{query}}&{% endif %}page={{ rececao.previous_page_number }}"></a>
                {% endif %}
        
                <span class="current">
                    Pág. {{ rececao.number }} de {{ rececao.paginator.num_pages }}
                </span>
        
                {% if rececao.has_next %}
                    <a role="button" class="btn btn-primary glyphicon glyphicon-menu-right" href="?{% if query %}q={{query}}&{% endif %}page={{ rececao.next_page_number }}"></a>
                    <a role="button" class="btn btn-primary" href="?{% if query %}q={{query}}&{% endif %}page={{ rececao.paginator.num_pages }}">Última</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>

       

    
</div>

{% endblock %}
                                
                            
                            