{% extends "layout.html "%} 
{% load bootstrap3 %}
{% block title %}Perfil Larguras | {{ block.super }}{% endblock %}
{% block content %}
<div>
    <input type="button" value="Voltar" id="confirm-btn" onclick="history.back()">
</div>
<div class="title_block-list">
    <h1>Classificar Bobinagem</h1>
    <h2>{{ bobinagem.nome }}</h2>
</div>
<div>
    <div>
        {% if messages %}
                
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
                <h3 id="center">ERRO!</h3>
                <p id="center"> {{message}} </p>
             </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" role="alert">
                <h3 id="center">SUCESSO!</h3>
                <p id="center"> {{message}} </p>
            </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-warning" role="alert">
                <h3 id="center">JÁ EXISTE!</h3>
                <p id="center"> {{message}} </p>
            </div>
            {% endif %}
        {% endfor %}
    
    {% endif %}
    </div>
    <form action='' method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <input type="submit" value="Validar" class="btn_create">
        <a href="{% url 'producao:bobinagem_status' pk=bobinagem.pk operation='rej' %}" class="btn_r" role="button">Rejeitar</a>
        <a href="{% url 'producao:bobinagem_status' pk=bobinagem.pk operation='dm' %}" class="btn_dm" role="button">DM</a>
        <a href="{% url 'producao:bobinagem_status' pk=bobinagem.pk operation='ap' %}" class="btn_g" role="button">Aprovar</a>
        <table class="content-table" id="defeitos">
            <thead>
                <tr>
                    <th id="designacao">Bobine</th>
                    <!-- <th>Largura</th>
                    <th>Área(m<sup>2</sup>)</th> -->
                    <th>Estado</th>
                    <th>Largura Real (mm)</th>
                    <th>Largura NOK</th>
                    <th>Cónico</th>
                    <th>Desc.</th>
                    <th>Presa</th>
                    <th>Diâm.</th>
                    <th>Suj.</th>
                    <th>Carro atrás</th>
                    <th>Laçou</th>
                    <th>Não Colou</th>
                    <th>Sobretiragem</th>
                    <th>Falha Corte</th>
                    <th>Inicio Diam. (mm)</th>
                    <th>Fim Diam. (mm)</th>
                    <th>Falha Filme</th>
                    <th>Início Metros Desbobinagem (m)</th>
                    <th>Fim Metros Desbobinagem (m)</th>
                    <th>Falha MP</th>
                    <th>Furos</th>
                    <th>Buracos</th>
                    <th>Gram.</th>
                    <th>Prop.</th>
                    <th>Prop. Obs.</th>
                    <th>Outros</th>
                    <th>Obs.</th>
                    <th>Troca</th>
                  


                </tr>
            </thead>
            <tbody>
                <tbody>    
                    <!-- {{ formset }} -->
                    {% for form in formset %}
                        <tr>
                            <td>{{ forloop.counter}}</td>
                            {% for field in form %}
                            <td>{{ field }}</td>
                            {% endfor %}
                            <!-- <td>{{ form.estado }}</td>
                            <td>{{ form.l_real }}</td>
                            <td>{{ form.con }}</td>
                            <td>{{ form.descen }}</td>
                            <td>{{ form.presa }}</td>
                            <td>{{ form.diam_insuf }}</td>
                            <td>{{ form.furos }}</td>
                            <td>{{ form.buraco }}</td>
                            <td>{{ form.esp }}</td>
                            <td>{{ form.troca_nw }}</td>
                            <td>{{ form.nok }}</td>
                            <td>{{ form.fc }}</td>
                            <td>{{ form.fc_diam_ini }}</td>
                            <td>{{ form.fc_diam_fim }}</td>
                            <td>{{ form.ff }}</td>
                            <td>{{ form.ff_m_ini }}</td>
                            <td>{{ form.ff_m_fim }}</td>
                            <td>{{ form.fmp }}</td>
                            <td>{{ form.suj }}</td>
                            <td>{{ form.car }}</td>
                            <td>{{ form.lac }}</td>
                            <td>{{ form.ncore }}</td>
                            <td>{{ form.sbrt }}</td>
                            <td>{{ form.prop }}</td>
                            <td>{{ form.prop_obs }}</td>
                            <td>{{ form.outros }}</td>
                            <td>{{ form.obs }}</td> -->
                                  
                        
                            
                            
                            
                        </tr>
                    {% endfor %}
                                
                </tbody>  
            </tbody>
        </table>
    </form>
</div>

{% endblock %}
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                