{% extends "layout.html "%} 
{% load bootstrap3 %}
{% load producao_tags %}
{% block title %}Editar Bobine | {{ block.super }}{% endblock %}
{% block content %}
{% if request.user|has_group:"Produção Supervisor" %}
<div class="title_block-list">
    <h1>Editar Bobine</h1>
    <h2>{{ bobine.nome }}</h2>
</div>
{% if messages %}
    <div>
        
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="error_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="success_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div>
                    <p>{{message}} </p>
                </div>
            {% endif %}
    {% endfor %}

</div>
{% endif %}
<div>
    {% if has_palete == False %}
    <form method="POST" action="" onkeypress="return event.keyCode != 13;">
        <div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}" id="error">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="content-form">
            
                     
            <div class="form_create_bobinagem_2">
                <div><label for="id_cliente">Cliente: </label>{{ form.cliente }}</div>
                
            </div>
            <div class="form_create_bobinagem_2">
                <div><label for="id_designacao_prod">Produto: </label>{{ form.designacao_prod }}</div>
                
            </div>
                     
            <div class="form_create_bobinagem_3">
                <div><label for="id_artigo">Artigo: </label>{{ form.artigo }}</div>
            </div>
            <div class="form_create_bobinagem_3">
                <div><label for="id_comp">Comp.: </label>{{ form.comp }}</div>
            </div>
            <div class="form_create_bobinagem_3">
                <div><label for="id_diam">Diâmetro: </label>{{ form.diam }}</div>
            </div>
           
            {% csrf_token %}
            <a href="{% url 'producao:bobine_details' pk=bobine.pk %}"  class="btn_back" role="button">Voltar</a>
            <input type="submit" id="validate-btn" value="Validar">
        </div>
    
    </form>
    {% else %}
    <h3>Não é possivel editar a bobine {{ bobine.nome }} porque já se encontra atribuida a uma palete.</h3>
    <a href="{% url 'producao:bobine_details' pk=bobine.pk %}"  class="btn_back" role="button">Voltar</a>
    {% endif %}
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

</script>
{% else %}
<div class="title_block-list">
    <h1>Acesso Restrito</h1>
</div>
{% endif %}



{% endblock %}