{% extends "layout.html "%}

{% load producao_tags %}


{% block title %}Criar Produto Granulado | {{ block.super }}{% endblock %}
{% block content %}

<div class="container">
    <a href="{% url 'producao:produto_granulado_list' %}" class="btn btn-outline-primary" role="button">Voltar</a>
</div>
<div class="container">
    <div class="container">
        <h3 class="text-center">Criar Produto Granulado</h3>
    </div>
    {% if messages %}
    <div>
        
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="error_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="success_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div>
                    <p>{{message}} </p>
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endif %}
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="container">
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Produto:</label></div>
                <div class="col-3 form-control-sm">{{ form.produto_granulado }}</div>        
            
                
            <div class="row mt-2">
                <button type="submit" class="btn btn-outline-primary">Submeter</button>
            </div>

        </div>
    </form>

</div>
<!--       
<div>
    <input type="button" value="Voltar" id="confirm-btn" onclick="history.back()">
</div>
<div class="title_block-list">
    <h1>Criar Produto Granulado</h1>
</div>
{% if messages %}
    <div>
        
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="error_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="success_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div>
                    <p>{{message}} </p>
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endif %}

<form action="" method="POST" class="submission-form">
    {% csrf_token %}
    <label for="id_cliente">Produto</label>{{ form.produto_granulado }}
    <input type="submit" value="Criar" id="validate-btn">
</form> -->
{% endblock %}