{% extends "layout.html "%}

{% load producao_tags %}


{% block title %}Pesar Reciclado | {{ block.super }}{% endblock %}
{% block content %}


<div class="container">
    <a href="{% url 'producao:reciclado_list' %}" class="btn btn-outline-primary" role="button">Voltar</a>
</div>
<div class="container">
    <div class="container">
        <h3 class="text-center">Pesar Reciclado</h3>
    </div>
    {% if messages %}
    <div>
        
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="error_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="success_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div>
                    <p>{{message}} </p>
                </div>
            {% endif %}
        {% endfor %}

    </div>
    {% endif %}
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="container">
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Produto:</label></div>
                <div class="col-4 form-control-sm">{{ form.produto_granulado }}</div>
                <div class="col-2"><label class="form-label">Número:</label></div>
                <div class="col-4 form-control-sm">{{ form.num }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Estado:</label></div>
                <div class="col-4 form-control-sm">{{ form.estado }}</div>
                <div class="col-2"><label class="form-label">Peso:</label></div>
                <div class="col-4 form-control-sm">{{ form.peso }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Tara 1:</label></div>
                <div class="col-4 form-control-sm">{{ form.tara }}</div>
                <div class="col-2"><label class="form-label">Tara 2:</label></div>
                <div class="col-4 form-control-sm">{{ form.tara2 }}</div>
                
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Observações:</label></div>
                <div class="col-10 form-control-sm">{{ form.obs }}</div>
                
            </div>
            
                
            <div class="row mt-2">
                <button type="submit" class="btn btn-outline-primary">Submeter</button>
            </div>

        </div>
    </form>

</div>
      
<!-- <div>
    <a href="{% url 'producao:reciclado_list' %}"  class="btn_back" role="button">Voltar</a>
</div>
<div class="title_block-list">
    <h1>Pesar Reciclado</h1>
</div>
{% if messages %}
    <div>
        
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="error_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="success_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div>
                    <p>{{message}} </p>
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endif %}

<form action="" method="POST" class="submission-form">
    {% csrf_token %}
    <label for="id_cliente">Produto</label>{{ form.produto_granulado }}
    <label for="id_cliente">Número</label>{{ form.num }}
    <label for="id_cliente">Estado</label>{{ form.estado }}
    <label for="id_cliente">Peso</label>{{ form.peso }}
    <label for="id_tara">Tara</label>{{ form.tara }}
    <label for="id_tara">Tara2</label>{{ form.tara2 }}
    <label for="id_cliente">Observações</label>{{ form.obs }}
    <input type="submit" value="Criar" id="validate-btn">
</form> -->
{% endblock %}