{% extends "layout.html "%}

{% load producao_tags %}


{% block title %}Pesar Reciclado | {{ block.super }}{% endblock %}
{% block content %}
      
<div>
    <a href="{% url 'producao:reciclado_list' %}"  class="btn_back" role="button">Voltar</a>
</div>
<div class="title_block-list">
    <h1>Pesar Reciclado</h1>
</div>
{% if messages %}
    <div>
        
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="error_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="success_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div>
                    <p>{{message}} </p>
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endif %}

<form action="" method="POST" class="submission-form">
    {% csrf_token %}
    <label for="id_cliente">Produto</label>{{ form.produto_granulado }}
    <label for="id_cliente">Número</label>{{ form.num }}
    <label for="id_cliente">Estado</label>{{ form.estado }}
    <label for="id_cliente">Peso</label>{{ form.peso }}
    <label for="id_tara">Tara</label>{{ form.tara }}
    <label for="id_cliente">Observações</label>{{ form.obs }}
    <input type="submit" value="Criar" id="validate-btn">
</form>
{% endblock %}