{% extends "layout.html "%}
{% load producao_tags %}
{% block title %}Adicionar Paltes para retrabalho| {{ block.super }}{% endblock %}
{% block content %}
<div>
    <a href="{% url 'planeamento:details_ordem' pk=op.pk %}"  class="btn_back" role="button">Cancelar</a>
    <a href="{% url 'planeamento:submit_paletes_para_retrabalho' pk=op.pk %}"  class="btn_create" role="button">Seguinte</a>
</div>
<div class="title_block-list">
    
    <h1>Adicionar paletes para retrabalho à ordem {{ op.op }}</h1>
</div>
<br>
<div>
     
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="error_classificacao">
                <p>{{message}} </p>
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="success_classificacao">
                <p>{{message}} </p>
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div>
                <p>{{message}} </p>
            </div>
        {% endif %}
    {% endfor %}

</div>
  
   
    <div class="flex-container">
        <div>
            <table>
                <h2>Paletes DM</h2>
                <thead>
                    <tr>
                        <th>Palete</th>
                        <th>Bobines</th>
                        <th>Destino</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for pal in paletes_dm %}
                    <tr>
                        <td>{{ pal.nome }}</td>
                        <td>{{ pal.num_bobines_act }}</td>
                        {% if pal.destino == None%}
                        <td>s/ Destino </td>
                        {% else %}
                        <td>{{ pal.destino }}</td>
                        {% endif %}
                        
                        <td class="td-icon"><a href="{% url 'planeamento:add_palete_retrabalho' pk_ordem=op.pk pk_palete=pal.pk %}"><i class="fas fa-arrow-right"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <h2>Paletes para retrablho</h2>
                <thead>
                    <tr>
                        <th></th>
                        <th>Palete</th>
                        <th>Bobines</th>
                        <th>Destino</th>
                        
                    </tr>
                        
                </thead>
                <tbody>
                    {% for pal in paletes_ordem %}
                    <tr>
                        <td class="td-icon"><a href="{% url 'planeamento:remove_palete_retrabalho' pk=pal.pk %}"><i class="fas fa-arrow-left"></i></a></td>
                        <td>{{ pal.palete.nome }}</td>
                        <td>{{ pal.palete.num_bobines_act }}</td>
                        {% if pal.destino == None %}
                        <td>s/ Destino</td>
                        {% else %}
                        <td>{{ pal.palete.destino }}</td>
                        {% endif %}
                      
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
 
    

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

</script>
{% endblock %}