{% extends "layout.html "%}
{% load producao_tags %}
{% block title %}Detalhes Ordem de Fabrico | {{ block.super }}{% endblock %}
{% block content %}
<div class="container">
    <a href="{% url 'planeamento:list_ordem' %}" class="btn btn-outline-primary" role="button">Voltar</a>
    {% if ordem.retrabalho == False %}
    <a href="{% url 'planeamento:ordem_add_stock' pk=ordem.pk %}"  class="btn btn-outline-primary" role="button">Adicionar Paletes em Stock</a>
    {% else %}
    <a href="{% url 'planeamento:add_paletes_retrabalho' pk=ordem.pk %}"  class="btn btn-outline-primary" role="button">Paletes a retrabalhar</a>
    {% endif %}
    {% if ordem.completa == False and request.user|has_group:"Logistica Supervisor" or request.user|has_group:"Qualidade Supervisor" %}
    <a href="{% url 'planeamento:edit_ordem' pk=ordem.pk %}"  class="btn btn-outline-primary" role="button">Editar Ordem de Fabrico</a>
    {% elif ordem.completa == False and request.user|has_group:"Qualidade Supervisor"%}
    <a href="{% url 'planeamento:edit_ordem' pk=ordem.pk %}"  class="btn btn-outline-primary" role="button">Editar Ordem de Fabrico</a>
    {% endif %}
</div>       
<br>
<div>
    <h3 class="text-center">Ordem de Produção</h3>
</div>
<div class="container">
    <div class="container">
        <div class="row mt-2">
                        
            {% if ordem.completa == True and ordem.ativa == False %}
            <div class="ordem-finalizada"><h2>Ordem Finalizada</h2></div>
            {% elif ordem.ativa == True and ordem.completa == False %}
            <div class="ordem-ativa"><h2>Em Progresso</h2> {% if request.user|has_group:"Logistica Supervisor" %}<a href="{% url 'planeamento:ordem_cancelar' pk=ordem.pk %}"  class="cancelar-ordem" role="button">Cancelar</a>{% endif %}</div>
            <div class="container"><h1>Faltam produzir em linha <u>{{ paletes_em_falta }}</u> paletes.</h1></div>
            <div class="container"><h1>Faltam adicionar <u>{{ paletes_em_falta_stock }}</u> paletes de stock.</h1></div>
            {% elif ordem.ativa == False and ordem.completa == False %}
            <div class="ordem-aguardar"><h2>Aguardando Início</h2> {% if request.user|has_group:"Produção Supervisor" %}<a href="{% url 'planeamento:ordem_iniciar' pk=ordem.pk %}"  class="iniciar-ordem" role="button">Iniciar</a>{% endif %}</div>
            {% endif %}
            
            {% if request.user|has_group:"Produção Supervisor" and ordem.ativa == True and ordem.completa == False %}
            <a href="{% url 'planeamento:finalizar_ordem' pk=ordem.pk %}"  class="btn btn-outline-primary" role="button">Finalizar Ordem de Produção</a>
            {% elif request.user|has_group:"Produção Supervisor" and ordem.ativa == False and ordem.completa == True %}
            <a href="{% url 'planeamento:reabrir_ordem' pk=ordem.pk %}"  class="btn btn-outline-primary" role="button">Reabrir Ordem de Produção</a>
            {% endif %}
            
        </div>
        

        <div class="row mt-2">
            {% if ordem.res_prod %}
            <div class="col-2"><a href="{{ ordem.res_prod.url }}" class="btn btn-outline-primary" role="button" target="_blank">Resumo de Produção</a></div>
            {% endif %}
            {% if ordem.ori_qua %}
            <div class="col-2"><a href="{{ ordem.ori_qua.url }}" class="btn btn-outline-primary" role="button" target="_blank">Orientação Qualidade</a></div>
            {% endif %}
            {% if ordem.ficha_processo %}
            <div class="col-2"><a href="{{ ordem.ficha_processo.url }}" class="btn btn-outline-primary" role="button" target="_blank">Ficha de processo</a></div>
            {% endif %}
            {% if ordem.ficha_tecnica %}
            <div class="col-2"><a href="{{ ordem.ficha_tecnica.url }}" class="btn btn-outline-primary" role="button" target="_blank">Ficha Técnica</a></div>
            {% endif %}
            {% if ordem.of %}
            <div class="col-2"><a href="{{ ordem.of.url }}" class="btn btn-outline-primary" role="button" target="_blank">OF</a></div>
            {% endif %}
            {% if ordem.pack_list %}
            <div class="col-2"><a href="{{ ordem.pack_list.url }}" class="btn btn-outline-primary" role="button" target="_blank">Packing List</a></div>
            {% endif %}

        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="container">
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Ordem de Produção:</label></div>
            <div class="col-10">{{ ordem }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Encomenda:</label></div>
            <div class="col-10">{{ ordem.enc }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Cliente:</label></div>
            <div class="col-4">{{ ordem.cliente }}</div>
            <div class="col-2"><label class="form-label">Artigo:</label></div>
            <div class="col-4">{{ ordem.artigo }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Data prevista de inicio:</label></div>
            <div class="col-4">{{ ordem.data_prevista_inicio|date:"d-n-Y" }} {{ ordem.hora_prevista_inicio|date:"G:i" }}</div>
            <div class="col-2"><label class="form-label">Data prevista de fim:</label></div>
            <div class="col-4">{{ ordem.data_prevista_fim|date:"d-n-Y" }} {{ ordem.hora_prevista_fim|date:"G:i" }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Data de inicio:</label></div>
            <div class="col-4">{{ ordem.inicio|date:"d-n-Y" }} {{ ordem.inicio|date:"G:i"  }}</div>
            <div class="col-2"><label class="form-label">Data de fim:</label></div>
            <div class="col-4">{{ ordem.fim|date:"d-n-Y" }} {{ ordem.fim|date:"G:i"  }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Largura:</label></div>
            <div class="col-4">{{ ordem.largura }}</div>
            <div class="col-2"><label class="form-label">Core("):</label></div>
            <div class="col-4">{{ ordem.core }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Diâmetro mínimo:</label></div>
            <div class="col-4">{{ ordem.diam_min }}</div>
            <div class="col-2"><label class="form-label">Diâmetro máximo:</label></div>
            <div class="col-4">{{ ordem.diam_max }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Nº de paletes a Produzir:</label></div>
            <div class="col-4">{{ ordem.num_paletes_produzidas }} / {{ ordem.num_paletes_produzir }}</div>
            <div class="col-2"><label class="form-label">Nº de paletes em stock:</label></div>
            <div class="col-4">{{ ordem.num_paletes_stock_in }} / {{ ordem.num_paletes_stock }}</div>
            
        </div>
        <div class="row mt-2">            
            <div class="col-2"><label class="form-label">Nº de paletes Total:</label></div>
            <div class="col-4">{{ ordem.num_paletes_total }}</div>
        </div>
        
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Tipo Palete:</label></div>
            <div class="col-4">{{ ordem.tipo_paletes }}</div>
            <div class="col-2"><label class="form-label">Paletes por palete:</label></div>
            <div class="col-4">{{ ordem.palete_por_palete }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Bobine Palete Superior:</label></div>
            <div class="col-4"> {{ ordem.bobines_por_palete }}</div>
            <div class="col-2"><label class="form-label">Bobine Palete inferior:</label></div>
            <div class="col-4">{{ ordem.bobines_por_palete_inf }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Sentido Enrolamento:</label></div>
            <div class="col-4">{{ ordem.enrolamento }}</div>
            <div class="col-2"><label class="form-label">Folha indentificação Palete:</label></div>
            <div class="col-4">{% if ordem.folha_id == True %}<td class="td-icon"><i class="fas fa-check"></i></td>{% else %}<td class="td-icon"><i class="fas fa-times"></i></td>{% endif %}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Stock:</label></div>
            <div class="col-4">{% if ordem.stock == True %}<td class="td-icon"><i class="fas fa-check"></i></td>{% else %}<td class="td-icon"><i class="fas fa-times"></i></td>{% endif %}</div>      
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Emendas:</label></div>
            <div class="col-4">{{ ordem.emendas }}</div>      
        </div>
        <div class="row mt-2">
            <div class="col-4"><label class="form-label">Frequência amostragem(p/ Bobinagem):</label></div>
            <div class="col-6">{{ ordem.freq_amos }}</div>
            
        </div>
        
    </div>
</div>
<br>
<div class="container">
    <div>
        <h3 class="text-center">Esquema de paletização</h3>
    </div>
    <br>
    <div class="container">
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Tipo de Transporte:</label></div>
            <div class="col-10">{{ ordem.tipo_transporte }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Nº Paletes / Camião:</label></div>
            <div class="col-10">{{ ordem.paletes_camiao }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Altura máx. Palete:</label></div>
            <div class="col-4">{{ ordem.altura_max }}</div>
            
        </div>
        
        
    </div>
</div>
<div class="container">
    <div>
        <h3 class="text-center">Paletes Produzidas</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th scope="col">Palete</th>
                    <th scope="col">Nº</th>
                    <th scope="col">Data</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Bobines</th>
                    <th scope="col">Core</th>
                    <th scope="col">Largura</th>
                    <th scope="col">Área (m<sup>2</sup>)</th>
                    <th scope="col">Comprimento (m)</th>
                </tr>
                </tr>
            </thead>
            <tbody>
                {% for pal in palete %}
                <tr>
                    
                    <td id="designacao"><a href="{% url 'producao:addbobinepalete' pk=pal.pk %}">{{ pal.nome }}</a></td>
                    <td>{{ pal.num }}</td>
                    <td>{{ pal.data_pal|date:"d-n-Y" }}</td>
                    {% if pal.estado == 'G' %}<td id="estado_good">{{ pal.estado }}</td>
                    {% elif pal.estado == 'DM' %}<td id="estado_dm">{{ pal.estado }}</td>{% endif %}
                    <td>{{ pal.num_bobines_act }} / {{ pal.num_bobines }}</td>
                    <td>{{ pal.core_bobines }}</td>
                    <td>{{ pal.largura_bobines }}</td>
                    <td>{{ pal.area }}</td>
                    <td>{{ pal.comp_total }}</td>
                    {% if request.user|has_group:"Produção Supervisor" or request.user|has_group:"Produção Operador" %}
                    {% endif %}
    
                    
                </tr>
                {% endfor%}
                   
              
            </tbody>
        </table>
    </div>
</div>
<br>
{% if ordem.retrabalho == True %}
<div class="container">
    <div>
        <h3 class="text-center">Bobines a retrabalhar</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th scope="col">Bobine</th>
                    <th scope="col">Palete</th>
                    <th scope="col">Retrabalhar</th>
                    <th scope="col">Utilizada</th>
                </tr>
                </tr>
            </thead>
            <tbody>
                {% for bob in bobines_para_retrabalho %}
                <tr>                    
                    <td>{{ bob.bobine.nome }}</td>
                    <td>{{ bob.bobine.palete.nome }}</td>
                    {% if bob.retrabalhar == True %}<td class="td-icon"><i class="fas fa-check"></i></td>{% else %}<td class="td-icon"><i class="fas fa-times"></i></td>{% endif %}
                    {% if bob.bobine.recycle == True %}<td class="td-icon"><i class="fas fa-check"></i></td>{% else %}<td class="td-icon"><i class="fas fa-times"></i></td>{% endif %}
                </tr>
                {% endfor%}
                   
              
            </tbody>
        </table>
    </div>
</div>
{% endif%}






<!-- 
<br>
<div class="flex-container">
    <div>
        {% if ordem.completa == True and ordem.ativa == False %}
        <div class="ordem-finalizada"><h2>Ordem Finalizada</h2></div>
        {% elif ordem.ativa == True and ordem.completa == False %}
        <div class="ordem-ativa"><h2>Em Progresso</h2> {% if request.user|has_group:"Logistica Supervisor" %}<a href="{% url 'planeamento:ordem_cancelar' pk=ordem.pk %}"  class="cancelar-ordem" role="button">Cancelar</a>{% endif %}</div>
        {% elif ordem.ativa == False and ordem.completa == False %}
        <div class="ordem-aguardar"><h2>Aguardando Início</h2> {% if request.user|has_group:"Produção Supervisor" %}<a href="{% url 'planeamento:ordem_iniciar' pk=ordem.pk %}"  class="iniciar-ordem" role="button">Iniciar</a>{% endif %}</div>
       
        {% endif %}
    </div>
    
    <div>
        <div><h2>Documentos</h2></div>
        {% if ordem.res_prod %}
        <a href="{{ ordem.res_prod.url }}" class="btn_create" role="button" target="_blank">Resumo de Produção</a>
        {% endif %}
        {% if ordem.ori_qua %}
        <a href="{{ ordem.ori_qua.url }}" class="btn_create" role="button" target="_blank">Orientação Qualidade</a>
        {% endif %}
        {% if ordem.ficha_processo %}
        <a href="{{ ordem.ficha_processo.url }}" class="btn_create" role="button" target="_blank">Ficha de processo</a>
        {% endif %}
        {% if ordem.ficha_tecnica %}
        <a href="{{ ordem.ficha_tecnica.url }}" class="btn_create" role="button" target="_blank">Ficha Técnica</a>
        {% endif %}
        {% if ordem.of %}
        <a href="{{ ordem.of.url }}" class="btn_create" role="button" target="_blank">OF</a>
        {% endif %}
        {% if ordem.pack_list %}
        <a href="{{ ordem.pack_list.url }}" class="btn_create" role="button" target="_blank">Packing List</a>
        {% endif %}
        
        
        
    </div>
    <div>
        {% if request.user|has_group:"Produção Supervisor" and ordem.ativa == True and ordem.completa == False %}
        <a href="{% url 'planeamento:finalizar_ordem' pk=ordem.pk %}"  class="finalizar-ordem" role="button">Finalizar Ordem de Produção</a>
        {% elif request.user|has_group:"Produção Supervisor" and ordem.ativa == False and ordem.completa == True %}
        <a href="{% url 'planeamento:reabrir_ordem' pk=ordem.pk %}"  class="finalizar-ordem" role="button">Reabrir Ordem de Produção</a>
        {% endif %}
    </div>
</div>
 <br> -->
<!-- 
<div class="content-form">
    <div class="flex-container border">
        <div>
            {% if ordem.enc != None and ordem.cliente != None %}
            <div><h2>Encomenda</h2></div>
            <div><h3>Encomenda:</h3> {{ ordem.enc }}</div>             
            <div><h3>Cliente:</h3> {{ ordem.cliente }}</div>  
            {% elif ordem.enc == None and ordem.cliente != None %}   
            <div><h2>Encomenda</h2></div>
            <div><h3>Encomenda:</h3> S/ Encomenda atribuida</div>            
            <div><h3>Cliente:</h3> {{ ordem.cliente }}</div>          
            {% endif %}
            <div><h3>Artigo:</h3> {{ ordem.artigo }}</div>   
            <div><h3>Data prevista de início:</h3> {{ ordem.data_prevista_inicio|date:"d-n-Y" }} {{ ordem.hora_prevista_inicio|date:"G:i" }}</div>   
            <div><h3>Data prevista de fim:</h3> {{ ordem.data_prevista_fim|date:"d-n-Y" }} {{ ordem.hora_prevista_fim|date:"G:i" }}</div> 
            {% if ordem.inicio == None %}  
            <div><h3>Data de inicio:</h3> Por iniciar</div>   
            {% else %}
            <div><h3>Data de inicio:</h3> {{ ordem.inicio|date:"d-n-Y" }} {{ ordem.inicio|date:"G:i"  }}</div>   
            {% endif %}
            {% if ordem.fim == None %}  
            <div><h3>Data de fim:</h3> Em progresso</div>   
            {% else %}
            <div><h3>Data de fim:</h3> {{ ordem.fim|date:"d-n-Y" }} {{ ordem.fim|date:"G:i"  }}</div>   
            {% endif %}
            

            <div><h3>Largura:</h3> {{ ordem.largura }}</div>   
            <div><h3>Diâmetro mínimo:</h3> {{ ordem.diam_min }}</div>   
            <div><h3>Diâmetro máximo:</h3> {{ ordem.diam_max }}</div>   
            <div><h3>Core("):</h3> {{ ordem.core }}</div>   
            <div><h3>Nº Paletes Produzir:</h3> {{ ordem.num_paletes_produzidas }} / {{ ordem.num_paletes_produzir }}</div>   
            {% if ordem.retrabalho == False %}
            <div><h3>Nº Paletes stock:</h3> {{ ordem.num_paletes_stock_in }} / {{ ordem.num_paletes_stock }}</div>  
            {% endif %}  
            <div><h3>Nº Paletes Total:</h3> {{ ordem.num_paletes_total }}</div>  
            <div><h3>Emendas:</h3> {{ ordem.emendas }}</div>  
            
        </div>
        <div>
            <div><h2>Requisitos</h2></div>
            {% if ordem.retrabalho == False %}
            <div><h3>Nonwoven Superior:</h3> {{ ordem.nwsup }}</div>           
            <div><h3>Nonwoven Inferior:</h3> {{ ordem.nwinf }}</div>
            {% endif %} 
            <div><h3>Tipo de Palete:</h3> {{ ordem.tipo_paletes }}</div>
            <div><h3>Paletes por palete:</h3> {{ ordem.palete_por_palete }}</div> 
            {% if ordem.palete_por_palete == 1 %}
            <div><h3>Bobines por palete:</h3> {{ ordem.bobines_por_palete }}</div>
            {% else %}
            <div><h3>Bobines por palete superior:</h3> {{ ordem.bobines_por_palete }}</div>
            <div><h3>Bobines por palete inferior:</h3> {{ ordem.bobines_por_palete_inf }}</div>
            {% endif %}

            <div><h3>Sentido Enrolamento:</h3> {{ ordem.enrolamento }}</div> 
            <div><h3>Folha identificação Palete:</h3> {% if ordem.folha_id == True %}<td class="td-icon"><i class="fas fa-check"></i></td>{% else %}<td class="td-icon"><i class="fas fa-times"></i></td>{% endif %}</div>  
            <div><h3>Frequência amostragem(p/ Bobinagem):</h3> {{ ordem.freq_amos }}</div>  
            {% if b.nok == True %}<td class="td-icon"><i class="fas fa-times"></i></td>{% else %}<td></td>{% endif %}

            <div><h3>Stock:</h3> {% if ordem.stock == True %}<td class="td-icon"><i class="fas fa-check"></i></td>{% else %}<td class="td-icon"><i class="fas fa-times"></i></td>{% endif %}</div>  
        </div>
        
    </div>
    
    <div class="flex-container border">
        
        <div>
            <div><h2>Esquema de Paletização</h2></div>
            {% if ordem.retrabalho == False %}
            <div><h3>Tipo de transporte:</h3> {{ ordem.tipo_transporte }}</div>
            <div><h3>Nº Paletes / Camião:</h3> {{ ordem.paletes_camiao }}</div>
            {% endif %}
            <div><h3>Altura máx. Palete:</h3> {{ ordem.altura_max }}</div>
            
        </div>             
      
    </div>
    
    
    <div>
        <h2>Paletes Produzidas</h2>
        <table class="content-table">
            <thead>
                <tr>
                    <th id="designacao">Palete</th>
                    <th>Nº</th>
                    <th>Data</th>
                    <th>Estado</th>
                    <th>Bobines</th>
                    <th>Core</th>
                    <th>Largura</th>
                    <th>Área (m<sup>2</sup>)</th>
                    <th>Comprimento (m)</th>
                </tr>
            </thead>
            <tbody>
                {% for pal in palete %}
                <tr>
                    
                    <td id="designacao"><a href="{% url 'producao:addbobinepalete' pk=pal.pk %}">{{ pal.nome }}</a></td>
                    <td>{{ pal.num }}</td>
                    <td>{{ pal.data_pal|date:"d-n-Y" }}</td>
                    {% if pal.estado == 'G' %}<td id="estado_good">{{ pal.estado }}</td>
                    {% elif pal.estado == 'DM' %}<td id="estado_dm">{{ pal.estado }}</td>{% endif %}
                    <td>{{ pal.num_bobines_act }} / {{ pal.num_bobines }}</td>
                    <td>{{ pal.core_bobines }}</td>
                    <td>{{ pal.largura_bobines }}</td>
                    <td>{{ pal.area }}</td>
                    <td>{{ pal.comp_total }}</td>
                    {% if request.user|has_group:"Produção Supervisor" or request.user|has_group:"Produção Operador" %}
                    {% endif %}
    
                    
                </tr>
                {% endfor%}
            </tbody>
            </table>
    </div>
    {% if ordem.retrabalho == True %}
    <div>
        <h2>Bobines a retrabalhar</h2>
        <table class="content-table">
            <thead>
                <tr>
                    <th id="designacao">Bobine</th>
                    <th>Palete</th>
                    <th>Retrabalhar</th>
                    <th>Utilizada</th>
                </tr>
            </thead>
            <tbody>
                {% for bob in bobines_para_retrabalho %}
                <tr>
                    
                    <td id="designacao">{{ bob.bobine.nome }}</td>
                    <td>{{ bob.bobine.palete.nome }}</td>
                    {% if bob.retrabalhar == True %}<td class="td-icon"><i class="fas fa-check"></i></td>{% else %}<td class="td-icon"><i class="fas fa-times"></i></td>{% endif %}
                    {% if bob.bobine.recycle == True %}<td class="td-icon"><i class="fas fa-check"></i></td>{% else %}<td class="td-icon"><i class="fas fa-times"></i></td>{% endif %}
                    
    
                    
                </tr>
                {% endfor%}
            </tbody>
            </table>
    </div>
    {% endif %} -->
    
    
    
    
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

</script>
{% endblock %}