{% extends "layout.html "%}
{% load producao_tags %}
{% block title %}Editar Ordem de Fabrico | {{ block.super }}{% endblock %}
{% block content %}
<div class="container">
    <a href="{% url 'planeamento:details_ordem' pk=ordem.pk %}" class="btn btn-outline-primary" role="button">Voltar</a>
</div>
<div class="container">
    <div class="container">
        <h3 class="text-center">Editar Ordem {{ordem}}</h3>
    </div>
    <br>
    {% if ordem.ativa == False and ordem.completa == False %}
    <form method="POST" id="ordemForm" data-artigos-url="{% url 'planeamento:load_artigos' %}" data-cliente-url="{% url 'planeamento:load_cliente' %}"  action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% if messages %}
        <div>            
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="error_classificacao">
                        <p>{{message}} </p>
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="success_classificacao">
                        <p>{{message}} </p>
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div>
                        <p>{{message}} </p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
        <div class="container">
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Artigo:</label></div>
                <div class="col-3 form-control-sm">{{ form.artigo }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Data prevista de inicio:</label></div>
                <div class="col-3 form-control-sm">{{ form.data_prevista_inicio }}</div>
                <div class="col-2"><label class="form-label">Hora prevista de inicio:</label></div>
                <div class="col-3 form-control-sm">{{ form.hora_prevista_inicio }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Horas previstas de produção:</label></div>
                <div class="col-3 form-control-sm">{{ form.horas_previstas_producao }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Largura:</label></div>
                <div class="col-3 form-control-sm">{{ form.largura }}</div>
                <div class="col-2"><label class="form-label">Core:</label></div>
                <div class="col-3 form-control-sm">{{ form.core }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Diam. Minimo:</label></div>
                <div class="col-3 form-control-sm">{{ form.diam_min }}</div>
                <div class="col-2"><label class="form-label">Diam. Máximo:</label></div>
                <div class="col-3 form-control-sm">{{ form.diam_max }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Paletes a produzir:</label></div>
                <div class="col-3 form-control-sm">{{ form.num_paletes_produzir }}</div>
                <div class="col-2"><label class="form-label">Paletes em stock:</label></div>
                <div class="col-3 form-control-sm">{{ form.num_paletes_stock }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Emendas:</label></div>
                <div class="col-3 form-control-sm">{{ form.emendas }}</div>
            </div>
            <div class="row mt-2">
                <h3 class="text-center">Requisitos</h3>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Nonwoven Inferior:</label></div>
                <div class="col-3 form-control-sm">{{ form.nwinf }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Nonwoven Superior:</label></div>
                <div class="col-3 form-control-sm">{{ form.nwsup }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Tipo de Palete:</label></div>
                <div class="col-3 form-control-sm">{{ form.tipo_paletes }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Paletes por palete:</label></div>
                <div class="col-3 form-control-sm">{{ form.palete_por_palete }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Bobines por palete Superior ou Única:</label></div>
                <div class="col-3 form-control-sm">{{ form.bobines_por_palete }}</div>
                <div class="col-2"><label class="form-label">Bobines por palete Inferior:</label></div>
                <div class="col-3 form-control-sm">{{ form.bobines_por_palete_inf }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Sentido Enrolamento:</label></div>
                <div class="col-3 form-control-sm">{{ form.enrolamento }}</div>
                <div class="col-2"><label class="form-label">Folha de identificação de Palete:</label></div>
                <div class="col-3 form-control-sm">{{ form.folha_id }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Frequência de amostragem(p/Bobinagem):</label></div>
                <div class="col-3 form-control-sm">{{ form.freq_amos }}</div>
                
            </div>
            <br>
            <div class="row mt-2">
                <h3 class="text-center">Esquema de paletização</h3>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Tipo de transporte:</label></div>
                <div class="col-3 form-control-sm">{{ form.tipo_transporte }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Nº Paletes / Camião:</label></div>
                <div class="col-3 form-control-sm">{{ form.paletes_camiao }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Altura máxima Palete:</label></div>
                <div class="col-3 form-control-sm">{{ form.altura_max }}</div>
            </div>
            <br>
            <div class="row mt-2">
                <h3 class="text-center">Documentos</h3>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Ficha de processo:</label></div>
                <div class="col-3 form-control-sm">{{ form.ficha_processo }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Ficha Técnica:</label></div>
                <div class="col-3 form-control-sm">{{ form.ficha_tecnica }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">OF:</label></div>
                <div class="col-3 form-control-sm">{{ form.of }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Packing List:</label></div>
                <div class="col-3 form-control-sm">{{ form.pack_list }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Resumo de Produção:</label></div>
                <div class="col-3 form-control-sm">{{ form.res_prod }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Orientação Qualidade:</label></div>
                <div class="col-3 form-control-sm">{{ form.ori_qua }}</div>
            </div>
            <br>
            <div class="row mt-2">
                <button type="submit" class="btn btn-outline-primary">Submeter</button>
            </div>

        </div>
    </form>
    {% elif ordem.completa == True %}
    <h1>A ordem {{ ordem }} não pode ser editada porque já foi finalizada.</h1>
    {% elif ordem.ativa == True and ordem.completa == False %}
    <form method="POST" id="ordemForm" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% if messages %}
        <div>            
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="error_classificacao">
                        <p>{{message}} </p>
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="success_classificacao">
                        <p>{{message}} </p>
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div>
                        <p>{{message}} </p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
        <div class="container">
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Paletes a produzir:</label></div>
                <div class="col-3 form-control-sm">{{ form_inc.num_paletes_produzir }}</div>
                <div class="col-2"><label class="form-label">Paletes em stock:</label></div>
                <div class="col-3 form-control-sm">{{ form_inc.num_paletes_stock }}</div>
            </div>
            <br>
            <div class="row mt-2">
                <h3 class="text-center">Documentos</h3>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Ficha de processo:</label></div>
                <div class="col-3 form-control-sm">{{ form_inc.ficha_processo }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Ficha Técnica:</label></div>
                <div class="col-3 form-control-sm">{{ form_inc.ficha_tecnica }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">OF:</label></div>
                <div class="col-3 form-control-sm">{{ form_inc.of }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Packing List:</label></div>
                <div class="col-3 form-control-sm">{{ form_inc.pack_list }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Resumo de Produção:</label></div>
                <div class="col-3 form-control-sm">{{ form_inc.res_prod }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Orientação Qualidade:</label></div>
                <div class="col-3 form-control-sm">{{ form_inc.ori_qua }}</div>
            </div>
            <br>
            <div class="row mt-2">
                <button type="submit" class="btn btn-outline-primary">Submeter</button>
            </div>

        </div>
    </form>
    {% endif %}

</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
   

// $("#id_enc").change(function () {
//     var url = $("#ordemForm").attr("data-artigos-url");  
//     var encId = $(this).val();  
    
//     $.ajax({                       
//         url: url,                   
//         data: {
//             'enc_id': encId      
//         },
//         success: function (data) { 
//             $("#id_artigo").html(data);  
//             // console.log(data)
//         }
//     });

// });

// $("#id_enc").change(function () {
//     var url = $("#ordemForm").attr("data-cliente-url");  
//     var encId = $(this).val();  
    
//     $.ajax({                       
//         url: url,                   
//         data: {
//             'enc_id': encId      
//         },
//         success: function (data) { 
//             $("#id_cliente").html(data);  
//             // console.log(data)
//         }
//     });

// });
            

$("#id_palete_por_palete").change(function() {
    var element = $("#palete_inferior")
    if (element.hasClass('visible')) {
        element.removeClass('visible')
        $("#id_bobines_por_palete_inf").val(0)
    } else {
        element.addClass('visible')
    }
    
})

$("#id_artigo").change(function() {
    autoFillArtigo($(this).val())
})
$("#id_artigo").change(function() {
    var id_artigo = $(this).val()
        
    $.ajax({
        type: "GET",
        dataType: "json",
        url: "/api/artigo/" + id_artigo,
        success: function(data) {
            
            $("#id_largura").val(parseFloat(data.lar))
            $("#id_diam_min").val(parseFloat(data.diam_ref))
            $("#id_diam_max").val(parseFloat(data.diam_ref))
            if(data.core === '3'){
                $("#id_core").val('3"')
            } else if (data.core === '6') {
                $("#id_core").val('6"')
            }  
            
        }
    })
})


</script>

{% endblock %}