{% extends "layout.html "%}
{% load producao_tags %}
{% block title %}Editar Ordem de Fabrico | {{ block.super }}{% endblock %}
{% block content %}
<div class="title_block-list">
    <h1>Editar Ordem de Fabrico</h1>
</div>
<br>
<form method="POST" id="ordemForm" data-artigos-url="{% url 'planeamento:load_artigos' %}" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {% if messages %}
    <div>
        
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="error_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="success_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div>
                    <p>{{message}} </p>
                </div>
            {% endif %}
    {% endfor %}

    </div>
    {% endif %}
    <div class="content-form">
        <div class="flex-container">
            <div>
                <div><h1>{{ ordem.op }}</h1></div>             
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="content-form">
        <div class="flex-container">
            <div>
                <div>Resumo de Produção:</div> <div>{{ form.res_prod }}</div>             
                <div>Orientação Qualidade:</div> <div>{{ form.ori_qua }}</div>  
            </div>
        </div>
    </div>

    <div class="flex-container">
        <div><a href="{% url 'planeamento:details_ordem' pk=ordem.pk %}"  class="btn_back" role="button">Voltar</a></div>
        <div><input type="submit" id="validate-btn" value="Guardar"></div>
    </div>

</form>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
   



$("#id_enc").change(function () {
    var url = $("#ordemForm").attr("data-artigos-url");  
    var encId = $(this).val();  
    
    $.ajax({                       
        url: url,                   
        data: {
            'enc_id': encId      
        },
        success: function (data) { 
            $("#id_artigo").html(data);  
            // console.log(data)
        }
    });

});
            

$("#id_palete_por_palete").change(function() {
    var element = $("#palete_inferior")
    if (element.hasClass('visible')) {
        element.removeClass('visible')
        $("#id_bobines_por_palete_inf").val(0)
    } else {
        element.addClass('visible')
    }
    
})

$("#id_artigo").change(function() {
    autoFillArtigo($(this).val())
})
// $("#id_artigo").change(function() {
//     var id_artigo = $(this).val()
        
//     $.ajax({
//         type: "GET",
//         dataType: "json",
//         url: "/api/artigo/" + id_artigo,
//         success: function(data) {
            
//             $("#id_largura").val(parseFloat(data.lar))
//             $("#id_diam_min").val(parseFloat(data.diam_ref))
//             $("#id_diam_max").val(parseFloat(data.diam_ref))
//             if(data.core === '3'){
//                 $("#id_core").val('3"')
//             } else if (data.core === '6') {
//                 $("#id_core").val('6"')
//             }  
            
//         }
//     })
// })


</script>
{% endblock %}