{% extends "layout.html "%}

{% block title %}Detalhes Encomenda{% endblock %}

{% block content %}


<div class="container">
    <a href="{% url 'producao:encomenda_list' %}" class="btn btn-outline-primary" role="button">Voltar</a>
    <a href="{% url 'producao:encomenda_edit' pk=enc.pk %}" class="btn btn-outline-primary" role="button">Editar</a>
</div>
<br>
<div>
    <h3 class="text-center">Detalhes da Encomenda {{ enc.eef }}</h3>
</div>
<br>
<div class="container">
    <div class="container">
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Data:</label></div>
            <div class="col-10">{{ enc.data|date:"d-n-Y" }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Cliente:</label></div>
            <div class="col-10">{{ enc.cliente }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Proforma:</label></div>
            <div class="col-4">{{ enc.prf }}</div>
            <div class="col-2"><label class="form-label">Order Number:</label></div>
            <div class="col-4">{% if enc.order_num != None %}{{ enc.order_num }}{% else %}N/A{% endif %}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">SQM:</label></div>
            <div class="col-4">{{ enc.sqm }}</div>
            <div class="col-2"><label class="form-label">Nº de Paletes:</label></div>
            <div class="col-4">{{ enc.num_paletes_actual }} / {{ enc.num_paletes }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Nº de Cargas:</label></div>
            <div class="col-4">{{ enc.num_cargas_actual }}</div>
        </div>
        
        
    </div>
</div>
<br>
<div class="container">
    <div>
        <h3 class="text-center">Linhas Encomendas</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th scope="col">Linha</th>
                    <th scope="col">Cód. Artigo</th>
                    <th scope="col">Artigo</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Preço</th>   
                                  
                </tr>
            </thead>
            <tbody>
                {% for linha in linhas %}
                <tr>
                    <td>{{ linha.linha }}</a></td>
                    <td>{{ linha.artigo }}</td>
                    <td>{{ linha.artigo.des }}</td>
                    <td>{{ linha.qtd }}</td>
                    <td>{{ linha.prc }}</td>
                   
                </tr>
                {% endfor%}         
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div>
        <h3 class="text-center">Cargas</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th scope="col">Carga</th>
                    <th scope="col">Encomenda</th>
                    <th scope="col">Data</th>
                    <th scope="col">M<sup>2</sup></th>   
                    <th scope="col">Tipo</th>
                    <th scope="col">Nº Paletes</th>    
                    <th scope="col">Estado</th>     
                                  
                </tr>
            </thead>
            <tbody>
                {% for carga in cargas %}
                <tr>
                    <td><a href="{% url 'producao:carga_detail' pk=carga.pk%}">{{ carga.carga }}</a></td>
                    <td>{{ carga.enc }}</td>
                    <td>{{ carga.data|date:"d-n-Y" }}</td>
                    <td>{{ carga.sqm }}</td>
                    <td>{{ carga.tipo }}</td>
                    <td>{{ carga.num_paletes_actual }} / {{ carga.num_paletes }}</td>
                    {% if carga.estado == 'C' %}
                    <td><i class="fas fa-truck"></i></td>
                    {% else %}
                    <td><i class="fas fa-truck-loading"></i></td>
                    {% endif %}
                </tr>
                {% endfor%}       
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div>
        <h3 class="text-center">Paletes Produzidas</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th scope="col">Palete</th>
                    <th scope="col">Ordem de Fabrico</th>
                    <th scope="col">Data</th>
                    <th scope="col">Core(")</th>   
                    <th scope="col">Largura(mm)</th>
                    <th scope="col">Comprimento(m)</th>    
                    <th scope="col">Área(m<sup>2</sup>)</th>
                    <th scope="col">Carga</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for pal in paletes %}
                <tr>
                    <td><a href="#">{{ pal.nome }}</a></td>
                    <td>{{ pal.ordem }}</td>
                    <td>{{ pal.data_pal|date:"d-n-Y" }}</td>
                    <td>{{ pal.core_bobines }}</td>
                    <td>{{ pal.largura_bobines }}</td>
                    <td>{{ pal.comp_total }}</td>
                    <td>{{ pal.area }}</td>
                    {% if pal.carga == None%}
                    <td>s/ carga atribuida</td>
                    {% else %}
                    <td>{{ pal.carga }}</td>
                    {% endif %}
                    
                </tr>
                {% endfor%}       
            </tbody>
        </table>
    </div>
</div>






<!-- <div>
    <form>
        <input type="button" value="Voltar" id="confirm-btn" onclick="history.back()">
    </form>
</div>
<div class="title_block-list">
    <h1>Encomenda</h1>
    <h2>{{ enc.eef }}</h1>
</div> -->
<!-- <div class="content_details">
    <div>
        <div><h3>Proforma: <span>{{ enc.prf }}</span></h3></div>
        <div><h3>Order Number: {% if enc.order_num != None %}<span>{{ enc.order_num }}</span>{% else %}<span>N/A</span>{% endif %}</h3></div>
        <div><h3>M<sup>2</sup>: <span>{{ enc.sqm }}</span></h3></div>
        <div><h3>Nº de Paletes: <span>{{ enc.num_paletes_actual }} / {{ enc.num_paletes }}</span></h3></div>
    </div>
    <div>
        <div><h3>Data: <span>{{ enc.data|date:"d-n-Y" }}</span></h3></div>
        <div><h3>Cliente: <span>{{ enc.cliente }}</span></h3></div>
        <div><h3>Nº de Cargas: <span>{{ enc.num_cargas_actual }}</span></h3></div>
    </div>
</div> -->
<!-- <div class="title_block-list">
    <h2>Linhas Encomenda</h2>
</div> -->
<!-- <div class="form-search">
    <form action="" method="GET">
        <input type="text" name="q">
        <input type="submit" value="Procurar">
        <a href="{% url 'producao:encomenda_list' %}">Reset</a>
    </form>
</div> -->
<!-- <div>
    <table class="content-table">
        <thead>
            <tr>
                <th id="designacao">Linha</th>
                <th id="designacao">Cód. Artigo</th>
                <th id="designacao">Artigo</th>
                <th>Quantidade</th>
                <th>Preço</th>   
                              
            </tr>
        </thead>
        <tbody>
            {% for linha in linhas %}
            <tr>
                <td id="designacao">{{ linha.linha }}</a></td>
                <td id="designacao">{{ linha.artigo }}</td>
                <td id="designacao">{{ linha.artigo.des }}</td>
                <td>{{ linha.qtd }}</td>
                <td>{{ linha.prc }}</td>
               
            </tr>
            {% endfor%}
        </tbody>
        </table> -->

<!-- </div>
<div class="title_block-list">
    <h2>Cargas</h2>
</div>
<div>
    <table class="content-table">
        <thead>
            <tr>
                <th id="designacao">Carga</th>
                <th id="designacao">Encomenda</th>
                <th>Data</th>
                <th>M<sup>2</sup></th>   
                <th>Tipo</th>
                <th>Nº Paletes</th>    
                <th>Estado</th>
                
            </tr>
        </thead>
        <tbody>
            {% for carga in cargas %}
            <tr>
                <td><a href="{% url 'producao:carga_detail' pk=carga.pk%}">{{ carga.carga }}</a></td>
                <td>{{ carga.enc }}</td>
                <td>{{ carga.data|date:"d-n-Y" }}</td>
                <td>{{ carga.sqm }}</td>
                <td>{{ carga.tipo }}</td>
                <td>{{ carga.num_paletes_actual }} / {{ carga.num_paletes }}</td>
                {% if carga.estado == 'C' %}
                <td><i class="fas fa-truck"></i></td>
                {% else %}
                <td><i class="fas fa-truck-loading"></i></td>
                {% endif %}
            </tr>
            {% endfor%}
        </tbody>
        </table>

</div> -->
<!-- <div class="title_block-list">
    <h2>Paletes Produzidas</h2>
</div>
<div>
    <table class="content-table">
        <thead>
            <tr>
                <th id="designacao">Palete</th>
                <th>Ordem de Fabrico</th>
                <th>Data</th>
                <th>Core(")</th>   
                <th>Largura(mm)</th>
                <th>Comprimento(m)</th>    
                <th>Área(m<sup>2</sup>)</th>
                <th>Carga</th>
                
            </tr>
        </thead>
        <tbody>
            {% for pal in paletes %}
            <tr>
                <td id="designacao"><a href="#">{{ pal.nome }}</a></td>
                <td>{{ pal.ordem }}</td>
                <td>{{ pal.data_pal|date:"d-n-Y" }}</td>
                <td>{{ pal.core_bobines }}</td>
                <td>{{ pal.largura_bobines }}</td>
                <td>{{ pal.comp_total }}</td>
                <td>{{ pal.area }}</td>
                {% if pal.carga == None%}
                <td>s/ carga atribuida</td>
                {% else %}
                <td>{{ pal.carga }}</td>
                {% endif %}
                
            </tr>
            {% endfor%}
        </tbody>
        </table>

</div>
 -->

  

{% endblock %}