{% extends "layout.html "%}

{% block title %}Bobine {{ bobine.nome }}{% endblock %}

{% block content %}

<div class="container">
    
    <div class="container">
        <a href="{% url 'producao:encomenda_list' %}"class="btn btn-primary" role="button">Voltar</a>      

    </div><br>
    <h1>Detalhes {{ enc.eef }}</h1>
    <p id="encomenda_id" data-catid="{{ enc.id }}" hidden>{{ enc.id }}</p> 
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="container col-sm-6">
                <table>
                    <tr>
                       <th>Encomenda:</th>
                       <td id="right">{{ enc.eef}}</td>
                    </tr>
                   
                    <tr>
                        <th>Proforma:</th>
                        <td id="right">{{ enc.prf }}</td>
                    </tr>
                    <tr>
                        <th>M2:</th>
                        <td id="right">{{ enc.sqm }} m2</td>
                    </tr>
                   
                         
                    
                </table>
            </div>
            <div class="container col-sm-6">
                <table>
                    <tr>
                       <th>Data:</th>
                       <td id="right">{{ enc.data|date:"d-n-Y" }}</td>
                    </tr>
                   
                    <tr>
                        <th>Cliente:</th>
                        <td id="right">{{ enc.cliente }}</td>
                    </tr>
                    <tr>
                        <th>Nº de Cargas:</th>
                        <td id="right">{{ enc.num_cargas_actual }} / {{ enc.num_cargas }}</td>
                    </tr>
                   
                         
                    
                </table>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="container table-responsive size-table">
        <h3>Cargas</h3>
        <table class="table fit" id="myTable">
            <thead>
                <tr>
                    <th>Carga</th>
                    <th>Encomenda</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Data</th>
                    <th>Nº Paletes</th>    
                    <th>M2</th>                              
                </tr>
            </thead>
            <tbody id="cargas-list">
                
            </tbody>
            
        </table>
    
</div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(window).load(function() {

    var id = $("#encomenda_id").attr("data-catid");

    $.ajax({ 
        type: "GET",
        dataType: "json",
        url: "/api/encomenda/" + id,
        success: function(cargas){ 

            if(!cargas || cargas.length === 0) {
                    return;
                }
            var cargas_length = cargas.length
            for (i=0; i < cargas_length; i++ ){
            
                if(cargas[i].carga != '0'){

                    var a1=$(document.createElement("a")).text(cargas[i].carga), td1=$(document.createElement("td"));
                    var td2=$(document.createElement("td"))
                    var td3=$(document.createElement("td")).attr('id', "center")
                    var td4=$(document.createElement("td")).attr('id', "center")
                    var td5=$(document.createElement("td")).attr('id', "center")
                    var td6=$(document.createElement("td")).attr('id', "center")
                    var td7=$(document.createElement("td")).attr('id', "center")

                    td1.append(a1);
                    td2.text(cargas[i].enc.eef);
                    td3.text(cargas[i].tipo);
                    if (cargas[i].estado === "I"){
                        td4.text("Incompleto").attr('id', 'estado_rejected');
                    }else{
                        td4.text("Completo").attr('id', 'estado_good');
                    }
                    // td4.text(cargas[i].estado);
                    td5.text(cargas[i].data);
                    td6.text(cargas[i].num_paletes_actual + " / " + cargas[i].num_paletes );
                    td7.text(cargas[i].sqm);

                    var tr=$(document.createElement("tr"));
                    var tr = tr.append(td1).append(td2).append(td3).append(td4).append(td5).append(td6).append(td7);

                    $("#cargas-list").append(tr);

                    }
                }
        
        }   
    })
})
</script>


{% endblock %}