{% extends "layout.html "%}
{% load producao_tags %}


{% block title %}Encomenda | {{ block.super }}{% endblock %}
{% block content %}
<div>
    <!-- <a href="{% url 'producao:encomenda_list' %}"  class="btn_back" role="button">Voltar</a> -->
    <form>
        <input type="button" value="Voltar" id="confirm-btn" onclick="history.back()">
    </form>
</div>
<div class="title_block-list">
    <h1>Nova Encomenda</h1>
</div>
<form action="" method="POST" class="submission-form">
    {% csrf_token %}
    <label for="id_data">Data</label>{{ form.data }}
    <label for="id_eef">Encomenda</label>{{ form.eef }}
    <label for="id_prf">Proforma</label>{{ form.prf }}
    <label for="id_cliente">Cliente</label>{{ form.cliente }}
    <label for="id_sqm">Metros Quadrados</label>{{ form.sqm }}
    <label for="id_num_cargas">Nº de Cargas</label>{{ form.num_cargas }}
    <label for="id_order_num">Order Number</label>{{ form.order_num }}
    <input type="submit" value="Validar" id="validate-btn">
</form>



<!-- 
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% encomenda_form form %}
            
            
            
        </div>
        <div class="col-md-6">
            

        </div>

    </div>
</div> -->
{% endblock %}