{% extends "layout.html "%}

{% block title %}Detalhes Encomenda{% endblock %}

{% block content %}
<div>
    <form>
        <input type="button" value="Voltar" id="confirm-btn" onclick="history.back()">
    </form>
</div>
<div class="title_block-list">
    <h1>Encomenda</h1>
    <h2>{{ enc.eef }}</h1>
</div>
<div class="content_details">
    <div>
        <div><h3>Proforma: <span>{{ enc.prf }}</span></h3></div>
        <div><h3>Order Number: {% if enc.order_num != None %}<span>{{ enc.order_num }}</span>{% else %}<span>N/A</span>{% endif %}</h3></div>
        <div><h3>M<sup>2</sup>: <span>{{ enc.sqm }}</span></h3></div>
        <div><h3>Nº de Paletes: <span>{{ enc.num_paletes_actual }} / {{ enc.num_paletes }}</span></h3></div>
    </div>
    <div>
        <div><h3>Data: <span>{{ enc.data|date:"d-n-Y" }}</span></h3></div>
        <div><h3>Cliente: <span>{{ enc.cliente }}</span></h3></div>
        <div><h3>Nº de Cargas: <span>{{ enc.num_cargas_actual }}</span></h3></div>
    </div>
</div>
<div class="title_block-list">
    <h2>Linhas Encomenda</h2>
</div>
<!-- <div class="form-search">
    <form action="" method="GET">
        <input type="text" name="q">
        <input type="submit" value="Procurar">
        <a href="{% url 'producao:encomenda_list' %}">Reset</a>
    </form>
</div> -->
<div>
    <table class="content-table">
        <thead>
            <tr>
                <th id="designacao">Linha</th>
                <th id="designacao">Cód. Artigo</th>
                <th id="designacao">Artigo</th>
                <th>Quantidade</th>
                <th>Preço</th>   
                              
            </tr>
        </thead>
        <tbody>
            {% for linha in linhas %}
            <tr>
                <td id="designacao">{{ linha.linha }}</a></td>
                <td id="designacao">{{ linha.artigo }}</td>
                <td id="designacao">{{ linha.artigo.des }}</td>
                <td>{{ linha.qtd }}</td>
                <td>{{ linha.prc }}</td>
               
            </tr>
            {% endfor%}
        </tbody>
        </table>

</div>
<div class="title_block-list">
    <h2>Cargas</h2>
</div>
<div>
    <table class="content-table">
        <thead>
            <tr>
                <th id="designacao">Carga</th>
                <th id="designacao">Encomenda</th>
                <th>Data</th>
                <th>M<sup>2</sup></th>   
                <th>Tipo</th>
                <th>Nº Paletes</th>    
                <th>Estado</th>
                
            </tr>
        </thead>
        <tbody>
            {% for carga in cargas %}
            <tr>
                <td id="designacao"><a href="{% url 'producao:carga_detail' pk=carga.pk%}">{{ carga.carga }}</a></td>
                <td id="designacao">{{ carga.enc }}</td>
                <td>{{ carga.data|date:"d-n-Y" }}</td>
                <td>{{ carga.sqm }}</td>
                <td>{{ carga.tipo }}</td>
                <td>{{ carga.num_paletes_actual }} / {{ carga.num_paletes }}</td>
                {% if carga.estado == 'C' %}
                <td><i class="fas fa-truck"></i></td>
                {% else %}
                <td><i class="fas fa-truck-loading"></i></td>
                {% endif %}
            </tr>
            {% endfor%}
        </tbody>
        </table>

</div>
<div class="title_block-list">
    <h2>Paletes Produzidas</h2>
</div>
<div>
    <table class="content-table">
        <thead>
            <tr>
                <th id="designacao">Palete</th>
                <th>Ordem de Fabrico</th>
                <th>Data</th>
                <th>Core(")</th>   
                <th>Largura(mm)</th>
                <th>Comprimento(m)</th>    
                <th>Área(m<sup>2</sup>)</th>
                <th>Carga</th>
                
            </tr>
        </thead>
        <tbody>
            {% for pal in paletes %}
            <tr>
                <td id="designacao"><a href="#">{{ pal.nome }}</a></td>
                <td>{{ pal.ordem }}</td>
                <td>{{ pal.data_pal|date:"d-n-Y" }}</td>
                <td>{{ pal.core_bobines }}</td>
                <td>{{ pal.largura_bobines }}</td>
                <td>{{ pal.comp_total }}</td>
                <td>{{ pal.area }}</td>
                {% if pal.carga == None%}
                <td>s/ carga atribuida</td>
                {% else %}
                <td>{{ pal.carga }}</td>
                {% endif %}
                
            </tr>
            {% endfor%}
        </tbody>
        </table>

</div>


  

{% endblock %}