{% extends "layout.html "%} 
{% block title %}Bobinagens | {{ block.super }}{% endblock %}
{% load producao_tags %}
{% block content %}

<div>
    
    <form>
        {% if request.user|has_group:"Logistica Supervisor"%}
        <a href="{% url 'producao:encomenda_create' %}"  class="btn_create" role="button">Nova Encomenda</a>
        {% endif %}
        <input type="button" value="Voltar" id="confirm-btn" onclick="history.back()">
    </form>
</div>
<div class="title_block-list">
    <h1>Encomendas</h1>
</div>
<div class="form-search">
    <form action="" method="GET">
        <input type="text" name="q">
        <input type="submit" value="Procurar">
        <a href="{% url 'producao:encomenda_list' %}">Reset</a>
    </form>
</div>
<div>
    <table class="content-table">
        <thead>
            <tr>
                <th id="designacao">Encomenda</th>
                <th id="designacao">Cliente</th>
                <th>Proforma</th>
                <th>Data</th>
                <th>M<sup>2</sup></th>    
                <th>Nº de Cargas</th>                              
                <th>Nº de Paletes</th>                              
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for e in encomenda %}
            <tr>
                <td id="designacao"><a href="{% url 'producao:encomenda_detail' pk=e.pk %}">{{ e.eef }}</a></td>
                <td id="designacao">{{ e.cliente }}</td>
                <td>{{ e.prf }}</td>
                <td>{{ e.data|date:"d-n-Y" }}</td>
                <td>{{ e.sqm }}</td>
                <td>{{ e.num_cargas_actual }}</td>
                <td>{{ e.num_paletes_actual }} / {{ e.num_paletes }}</td>
                {% if e.estado == 'A' %}
                    <td class="td-icon"><i class="fas fa-box-open"></i></td>
                {% else %}
                    <td class="td-icon"><i class="fas fa-box"></i></td>
                {% endif %}
            </tr>
            {% endfor%}
        </tbody>
        </table>
            
      
                

            
            
</div>
<div class="pagination">
    {% if encomenda.has_other_pages %}
    <div>
        <span>
            {% if encomenda.has_previous %}
                <a role="button" class="" href="?{% if query %}q={{query}}&{% endif %}page=1"><<</a>
                <a role="button" class="" href="?{% if query %}q={{query}}&{% endif %}page={{ encomenda.previous_page_number }}"><</a>
            {% endif %}
    
            <span>
                Pág. {{ encomenda.number }} de {{ encomenda.paginator.num_pages }}
            </span>
    
            {% if encomenda.has_next %}
                <a role="button" class="" href="?{% if query %}q={{query}}&{% endif %}page={{ encomenda.next_page_number }}">></a>
                <a role="button" href="?{% if query %}q={{query}}&{% endif %}page={{ encomenda.paginator.num_pages }}">>></a>
            {% endif %}
        </span>
    </div>
    {% endif %}

</div>



{% endblock %}
