{% load bootstrap3 %}
<div class="container size-table">
<form method="POST" action="{% url 'producao:encomenda_create' %}" onkeypress="return event.keyCode != 13;">
   
    <div class="container">
        <h1 id="center">Nova Encomenda</h1><br>
    <div class="row">
            <div class="container col-sm-4">
                    {% bootstrap_field form.data %}
                    
                    
                    
        
            </div>
            <div class="container col-sm-4">
                    {% bootstrap_field form.data_prevista %}
                    
                    
                    
                    
        
            </div>
            <div class="container col-sm-4">
                    {% bootstrap_field form.eef %}
                    
                    
                    
                    
        
            </div>
            <div class="container col-sm-4">
                    {% bootstrap_field form.prf %}
                    
                    
        
            </div>
    </div>
    <div class="row">
            <div class="container col-sm-4">
                    {% bootstrap_field form.cliente %}
                    
                    
        
            </div>
            <div class="container col-sm-4">
                    {% bootstrap_field form.sqm %}
                    
                    
        
            </div>
            <div class="container col-sm-4">
                    {% bootstrap_field form.num_paletes %}
                    
                    
        
            </div>
    </div>
    <div class="row">
        <div class="container col-sm-4">
                {% bootstrap_field form.order_num %}
                    
                    
        
           
        </div>
    </div>
    
    </br>
    <div class="row">    
            {% csrf_token %}
            <a href="{% url 'producao:encomenda_list' %}" class="btn btn-primary pull-left" role="button">Voltar</a>
            <input type="submit" class="btn btn-primary pull-right" value="Submeter">
        </div>
    
</div>

    
</form>
</div>