{% extends "layout.html "%}
{% load producao_tags %}
{% block title %}Carregar carga | {{ block.super }}{% endblock %}
{% block content %}
<div>
    <a href="#"  class="btn_back" role="button">Cancelar</a>
    <a href="{% url 'producao:finalizar_carga' pk=carga.pk %}"  class="btn_create" role="button">Finalizar</a>
    <a href="#"  class="btn_create" role="button">Reset</a>
</div>
<div class="title_block-list">
    
    <h1>Carregar carga</h1>
    <h2>{{ carga }}</h2>
</div>
<br>
<div>
     
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="error_classificacao">
                <p>{{message}}</p>
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="success_classificacao">
                <p>{{message}}</p>
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div>
                <p>{{message}}</p>
            </div>
        {% endif %}
    {% endfor %}

</div>
<div class="flex-container">
    <div>Paletes inseridas: {{ carga.num_paletes_actual }} de {{ carga.num_paletes}}</div>
</div>
    
   
    <div class="flex-container">
        <div>
            <table>
                <h2>Paletes da encomenda {{ enc }}</h2>
                <thead>
                    <tr>
                        <th>Palete</th>
                        <th>Cliente</th>
                        <th>Ordem</th>
                        <th>Core</th>
                        <th>Largura</th>
                        <th>Carga</th>
                        <th></th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for pal in paletes_enc %}
                    <tr>
                        <td>{{ pal.nome }}</td>
                        <td>{{ pal.cliente }}</td>
                        {% if pal.ordem == None %}
                        <td>s/ Ordem</td>
                        {% else %}
                        <td>{{ pal.ordem }}</td>
                        {% endif %}
                        <td>{{ pal.core_bobines }}</td>
                        <td>{{ pal.largura_bobines }}</td>
                        {% if pal.carga == None %}
                        <td>s/ Carga</td>
                        {% else %}
                        <td>{{ pal.carga }}</td>
                        {% endif %}
                        <td class="td-icon"><a href="{% url 'producao:add_palete_carga' pk_carga=carga.pk pk_palete=pal.pk %}"><i class="fas fa-arrow-right"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <h2>Paletes inseridas</h2>
                <thead>
                    <tr>
                        <th></th>
                        <th>Palete</th>
                        <th>Cliente</th>
                        <th>Ordem</th>
                        <th>Core</th>
                        <th>Largura</th>
                        
                    </tr>
                        
                </thead>
                <tbody>
                    {% for pal in paletes_carga %}
                    <tr>
                        <td class="td-icon"><a href="{% url 'producao:remove_palete_carga' pk_carga=carga.pk pk_palete=pal.pk %}"><i class="fas fa-arrow-left"></i></a></td>
                        <td>{{ pal.nome }}</td>
                        <td>{{ pal.cliente }}</td>
                        {% if pal.ordem == None %}
                        <td>s/ Ordem</td>
                        {% else %}
                        <td>{{ pal.ordem }}</td>
                        {% endif %}
                        <td>{{ pal.core_bobines }}</td>
                        <td>{{ pal.largura_bobines }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
 
    

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

</script>
{% endblock %}