{% extends "layout.html "%}
{% load producao_tags %}

{% block title %}Carga {{ carga.carga }}{% endblock %}

{% block content %}
<div>
    <a href="{% url 'producao:carga_list' %}"  class="btn_back" role="button">Voltar</a>
    {% if request.user|has_group:"Logistica Supervisor" or request.user|has_group:"Logistica Operador" %}
        {% if carga.estado == 'I' %}
        <a href="{% url 'producao:carga_carregar' pk=carga.pk %}"  class="btn_create" role="button">Carregar</a>
        {% endif %}
    {% endif %}
</div>
<div class="title_block-list">
    <h1>Carga</h1>
    <h2>{{ carga.carga }}</h2>
</div>
<div class="content_details">
    <div>
        <div><h3>Encomenda: <span>{{ carga.enc }}</span></h3></div>
        <div><h3>Proforma: <span>{{ carga.enc.prf }}</span></h3></div>
        <div><h3>Cliente: <span>{{ carga.enc.cliente }}</span></h3></div>
        <div><h3>Nº Carga: <span>{{ carga.num_carga }}</span></h3></div>
        <div><h3>Data: <span>{{ carga.data|date:"d-n-Y" }}</span></h3></div>
        <div><h3>Tipo: <span>{{ carga.tipo }}</span></h3></div>
        <div><h3>Nº de paletes: <span>{{ carga.num_paletes_actual }} / {{ carga.num_paletes }} </span></h3></div>
    </div>
    <div>
        <div><h3>Área Tota (m<sup>2</sup>): <span>{{ carga.sqm }}</span></h3></div>
        <div><h3>Comp. Total (m): <span>{{ carga.metros }}</span></h3></div>
        <div><h3>Bobine mais antiga: <span>{{ data_inicial|date:"d-n-Y" }}</span></h3></div>
        <div><h3>Bobine mais recente: <span>{{ data_final|date:"d-n-Y" }}</span></h3></div>
        <div><h3>Relação kg/m<sup>2</sup> (Média): <span>{{ som }}%</span></h3></div>
        <div><h3>Comp. / Peso (m): <span>{{ som_comp }}</span></h3></div>
        <div><h3>Área / Peso (m<sup>2</sup>): <span>{{ som_area }}</span></h3></div>
        <div><h3>Largura Real Minima (mm): <span>{{ l_real_min }}</span></h3></div>
        <div><h3>Largura Real Máxima (mm): <span>{{ l_real_max }}</span></h3></div>
    </div>
   

    
    
    
</div>
<div class="content_details">
    <div></div>
    <div>
        {% if request.user|has_group:"Logistica Supervisor" or request.user|has_group:"Logistica Operador" %}
        <form method="POST" action="#">
            {% csrf_token %}
            <h3>Imprimir Etiqueta Final</h3>
            <label for="id_num_copias">Nº de Cópias: </label>{{ form.num_copias }}
            <input type="submit" value="Imprimir Todas" id="confirm-btn">
        </form>
        {% endif %}
    </div>
</div>
<div>
    <a href="{% url 'producao:carga_packinglist_details' pk=carga.pk %}" class="btn_back" target="_blank">Packinglist detalhado</a>
</div>
<div class="title_block-list">
    <h2>Paletes</h2>
    
</div>
<div>
    <table class="content-table" id="defeitos">
        <thead>
            <tr>
                <th>Palete nº</th>
                <th id="designacao">Palete</th>
                <th>Data</th>
                <th>Core(")</th>
                <th>Largura(mm)</th>
                <th>Comprimento(m)</th>
                <th>Área(m2)</th>    
                <th>Peso liquido(Kg)</th>
                <th>Relação kg/m2</th>      
                <th>Comp./Peso (m)</th>                               
                <th>Área/Peso (m2)</th> 
                {% if request.user|has_group:"Logistica Supervisor" or request.user|has_group:"Logistica Operador" %}  
                <th>Imprimir</th>
                {% endif %}   

            </tr>
        </thead>
        <tbody>
            <tbody>    
                {% for pal in paletes %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td id="designacao"><a href="{% url 'producao:addbobinepalete' pk=pal.pk %}">{{ pal.nome }}</a></td>
                    <td>{{ pal.data_pal|date:"d-n-Y" }}</td>
                    <td>{{ pal.core_bobines }}</td>
                    <td>{{ pal.largura_bobines }}</td>
                    <td>{{ pal.comp_total }}</td>
                    <td>{{ pal.area }}</td>
                    <td>{{ pal.peso_liquido }}</td>
                    <td>{{ relacoes|index:forloop.counter0 }}%</td>
                    <td>{{ realcoes_comp|index:forloop.counter0 }}</td>
                    <td>{{ relacoes_area|index:forloop.counter0 }}</td>
                    {% if request.user|has_group:"Logistica Supervisor" or request.user|has_group:"Logistica Operador" %}
                    <td class="td-icon"><a href="{% url 'producao:carga_etiqueta_palete' pk=pal.pk %}"><i class="fas fa-print"></i></a></td>      
                    {% endif %}           
                   
                
                   
                   
                            
                </tr>
                {% endfor %}
            </tbody>  
        </tbody>
        </table>
</div>

{% endblock %}