{% extends "layout.html "%}
{% load producao_tags %}


{% block title %}Carga | {{ block.super }}{% endblock %}
{% block content %}
<div>
    <input type="button" value="Voltar" id="confirm-btn" onclick="history.back()">
</div>
<div class="title_block-list">
    <h1>Nova Carga</h1>
</div>
<form action="" method="POST" class="submission-form">
    {% csrf_token %}
    <label for="id_enc">Encomenda</label>{{ form.enc }}
    <label for="id_data">Data</label>{{ form.data }}
    <label for="id_data_prevista">Data prevista de expedição</label>{{ form.data_prevista }}
    <label for="id_num_carga">Carga Nº</label>{{ form.num_carga }}
    <label for="id_num_paletes">Número de paletes total</label>{{ form.num_paletes }}
    <label for="id_tipo">Tipo de carga</label>{{ form.tipo }}
    <input type="submit" value="Validar" id="validate-btn">
</form>

{% endblock %}