{% extends "layout.html "%}
{% load producao_tags %}

{% block title %}Carga {{ carga.carga }}{% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'producao:carga_list' %}" class="btn btn-outline-primary" role="button">Voltar</a>
    <a href="{% url 'producao:carga_packinglist_details' pk=carga.pk %}" class="btn btn-outline-primary" target="_blank">Packinglist detalhado</a>
    <a href="{% url 'producao:export_packing_list_carga_excel' pk=carga.pk %}" class="btn btn-outline-primary">Packinglist detalhado EXCEL</a>
    {% if request.user|has_group:"Logistica Supervisor" or request.user|has_group:"Logistica Operador" %}
        {% if carga.estado == 'I' %}
        <a href="{% url 'producao:carga_carregar' pk=carga.pk %}" class="btn btn-outline-primary" role="button">Carregar</a>
        {% elif carga.estado == 'C' %}
        <a href="{% url 'producao:carga_reabir' pk=carga.pk %}" class="btn btn-outline-primary" role="button">Reabrir Carga</a>
        {% endif %}
    {% endif %}
    
</div>
<br>
<div>
    <h3 class="text-center">Detalhes da Carga {{ carga.carga }}</h3>
</div>
<br>
<div class="container">
    <div class="container">
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Data:</label></div>
            <div class="col-10">{{ carga.data|date:"d-n-Y" }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Encomenda:</label></div>
            <div class="col-4">{{ carga.enc }}</div>
            <div class="col-2"><label class="form-label">Proforma:</label></div>
            <div class="col-4">{{ carga.enc.prf }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Cliente:</label></div>
            <div class="col-4">{{ carga.enc.cliente }}</div>
            <div class="col-2"><label class="form-label">Nº Carga:</label></div>
            <div class="col-4">{{ carga.num_carga }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Tipo:</label></div>
            <div class="col-4">{{ carga.tipo }}</div>
            <div class="col-2"><label class="form-label">Nº Paletes:</label></div>
            <div class="col-4">{{ carga.num_paletes_actual }} / {{ carga.num_paletes }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Comp. Total (m):</label></div>
            <div class="col-4">{{ carga.metros }}</div>
            <div class="col-2"><label class="form-label">Área Tota (m<sup>2</sup>):</label></div>
            <div class="col-4">{{ carga.sqm }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Comp. / Peso (m):</label></div>
            <div class="col-4">{{ som_comp }}</div>
            <div class="col-2"><label class="form-label">Área / Peso (m<sup>2</sup>):</label></div>
            <div class="col-4">{{ som_area }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Relação kg/m<sup>2</sup> (Média):</label></div>
            <div class="col-4">{{ som }}%</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Largura Real Minima (mm):</label></div>
            <div class="col-4">{{ l_real_min }}</div>
            <div class="col-2"><label class="form-label">Largura Real Máxima (mm):</label></div>
            <div class="col-4">{{ l_real_max }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2"><label class="form-label">Bobine mais antiga:</label></div>
            <div class="col-4">{{ data_inicial|date:"d-n-Y" }}</div>
            <div class="col-2"><label class="form-label">Bobine mais recente:</label></div>
            <div class="col-4">{{ data_final|date:"d-n-Y" }}</div>
        </div>
        
        
    </div>
</div>

<div class="container">
    <div class="row mt-2">
        {% if request.user|has_group:"Logistica Supervisor" or request.user|has_group:"Logistica Operador" %}
        <div class="col-2">
            <label class="form-label">Imprimir Etiqueta Final:</label>
        </div>
        <div class="col-4">
                <form method="POST" action="#">
                    {% csrf_token %}
                    {{ form.num_copias }} 
                    <input type="submit" value="Imprimir Todas" class="btn btn-outline-primary">
                </form>
            </div>
        {% endif %}
    </div>            
</div>
<div class="container">
    <div>
        <h3 class="text-center">Paletes</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th scope="col">Palete nº</th>
                    <th scope="col" id="designacao">Palete</th>
                    <th scope="col">Data</th>
                    <th scope="col">Core(")</th>
                    <th scope="col">Largura(mm)</th>
                    <th scope="col">Comprimento(m)</th>
                    <th scope="col">Área(m2)</th>    
                    <th scope="col">Peso liquido(Kg)</th>
                    <th scope="col">Relação kg/m2</th>      
                    <th scope="col">Comp./Peso (m)</th>                               
                    <th scope="col">Área/Peso (m2)</th> 
                    {% if request.user|has_group:"Logistica Supervisor" or request.user|has_group:"Logistica Operador" %}  
                    <th scope="col">Imprimir</th>
                    {% endif %}   
    
                </tr>
            </thead>
            <tbody>
                {% for pal in paletes %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td id="designacao"><a href="{% url 'producao:addbobinepalete' pk=pal.pk %}">{{ pal.nome }}</a></td>
                    <td>{{ pal.data_pal|date:"d-n-Y" }}</td>
                    <td>{{ pal.core_bobines }}</td>
                    <td>{{ pal.largura_bobines }}</td>
                    <td>{{ pal.comp_total }}</td>
                    <td>{{ pal.area }}</td>
                    <td>{{ pal.peso_liquido }}</td>
                    <td>{{ relacoes|index:forloop.counter0 }}%</td>
                    <td>{{ realcoes_comp|index:forloop.counter0 }}</td>
                    <td>{{ relacoes_area|index:forloop.counter0 }}</td>
                    {% if request.user|has_group:"Logistica Supervisor" or request.user|has_group:"Logistica Operador" %}
                    <td class="td-icon"><a href="{% url 'producao:carga_etiqueta_palete' pk=pal.pk %}"><i class="fas fa-print"></i></a></td>      
                    {% endif %}           
                </tr>
                {% endfor %}
                   
                
                   
                   
              
            </tbody>
        </table>
    </div>
</div>
    
    


{% endblock %}