{% extends "layout.html "%} 
{% block title %}Cargas Completas | {{ block.super }}{% endblock %}
{% load producao_tags %}
{% block content %}
<div>
    <input type="button" value="Voltar" id="confirm-btn" onclick="history.back()">
    {% if request.user|has_group:"Logistica Supervisor" %}
    <a href="{% url 'producao:carga_create' %}"  class="btn_create" role="button">Nova Carga</a>
    {% endif %}
    <a href="{% url 'producao:carga_list' %}"  class="btn_create" role="button">Cargas Incompletas</a>
    

</div>
<div class="title_block-list">
    <h1>Cargas Completas</h1>
</div>
<div class="form-search">
    <form action="" method="GET">
        <input type="text" name="q">
        <input type="submit" value="Procurar">
        <a href="{% url 'producao:carga_list' %}">Reset</a>
    </form>
</div>
<div>
    <table class="content-table">
        <thead>
            <tr>
                <th id="designacao">Carga</th>
                <th>Encomenda</th>
                <th>Tipo</th>
                <th>Data</th>
                <th>Nº de Paletes</th>
                <th>M<sup>2</sup></th>
                <th>Data prevista de expedição</th>
                <th>Data e Hora de expedição</sup></th>
                <th>Expedida</th>
                <th>Estado</th>
                
            </tr>
        </thead>
        <tbody>
            {% for ca in carga %}
            <tr>
                
                <td id="designacao"><a href="{% url 'producao:carga_detail' pk=ca.pk%}">{{ ca.carga }}</a></td>
                <td>{{ ca.enc }}</td>
                <td>{{ ca.tipo }}</td>
                <td>{{ ca.data|date:"d-n-Y" }}</td>
                <td>{{ ca.num_paletes_actual }} / {{ ca.num_paletes }}</td>
                <td>{{ ca.sqm }}</td>
                <td>{{ ca.data_prevista|date:"d-n-Y" }}</td>
                {% if ca.data_expedicao == None %}
                <td></td>
                {% else %}
                <td>{{ ca.data_expedicao|date:"d-n-Y" }} - {{ ca.hora_expedicao|date:"G:i" }}</td>
                {% endif %}
                {% if ca.expedida == True %}<td class="td-icon"><i class="fas fa-check"></i></td>{% else %}<td></td>{% endif %}
                <td><i class="fas fa-truck"></i></td>
                
                
            </tr>
            {% endfor%}
        </tbody>
        </table>
            
      
                

            
            
</div>
<div class="pagination">
    {% if carga.has_other_pages %}
    <div>
        <span>
            {% if carga.has_previous %}
                <a role="button" class="fas fa-angle-double-left" href="?{% if query %}q={{query}}&{% endif %}page=1"></a>
                <a role="button" class="fas fa-angle-left" href="?{% if query %}q={{query}}&{% endif %}page={{ carga.previous_page_number }}"></a>
            {% endif %}
    
            <span>
                Pág. {{ carga.number }} de {{ carga.paginator.num_pages }}
            </span>
    
            {% if carga.has_next %}
                <a role="button" class="fas fa-angle-right" href="?{% if query %}q={{query}}&{% endif %}page={{ carga.next_page_number }}"></a>
                <a role="button" class="fas fa-angle-double-right" href="?{% if query %}q={{query}}&{% endif %}page={{ carga.paginator.num_pages }}"></a>
            {% endif %}
        </span>
    </div>
    {% endif %}

</div>

{% endblock %}