{% extends "layout.html "%}
{% load bootstrap3 %}

{% block title %}Fornecedor Delete | {{ block.super }}{% endblock %}
{% block content %}

<div class="container">
    
    {% if can_delete == True %}
    <div class="row">
            <h1 id="center">Deseja apagar o Fornecedor {{ fornecedor.designacao }}?</h1>
    </div>
    <div class="row">
        <form action="." method="POST">
            {% csrf_token %}
            <p id="center"><input type="submit" class="btn btn-block btn-danger" value="Sim"> <a href="{% url 'producao:fornecedor_list' %}" class="btn btn-block btn-primary" role="button">Cancelar</a></p>
            
        </form>
    </div>

    {% else %}
    <div class="row">
        <h1 id="center">O Fornecedor não pode ser apagado porque existem Nonwoven assosciados.</h1>
        <!-- <ul id="center" style="list-style-type: none">
            {% for b in bobinagem %}
            <li>{{ b.nome }}</li>
            {% endfor%}    
        </ul>   -->
        <a href="{% url 'producao:fornecedor_list' %}" class="btn btn-block btn-primary" role="button">Cancelar</a>


    </div>
    {% endif %}
</div>


{% endblock %}