{% extends "layout.html "%}
{% load bootstrap3 %}

{% block title %}Fornecedor Create | {{ block.super }}{% endblock %}
{% block content %}
<div>
    <a href="{% url 'producao:fornecedor_list' %}"  class="btn_back" role="button">Voltar</a>
</div>
<div class="title_block-list">
    <h1>Criar Fornecedor</h1>
</div>
<form action="" method="POST" class="submission-form">
    {% csrf_token %}
    <label for="id_cod">Código cliente</label>{{ form.cod }}
    <label for="id_abv">Abreviatura</label>{{ form.abv }}
    <label for="id_designacao">Designação</label>{{ form.designacao }}
    <input type="submit" value="Validar" id="validate-btn">
</form>

{% endblock %}