{% extends "layout.html "%}

{% load producao_tags %}


{% block title %}Exportar para Excel | {{ block.super }}{% endblock %}
{% block content %}

<div class="container">
    <a href="{% url 'producao:bobinagem_list_v3' %}" class="btn btn-outline-primary" role="button">Voltar</a>
</div>
<div class="container">
    <div class="container">
        <h3 class="text-center">Exportar Bobines para excel</h3>
    </div>
    {% if messages %}
    <div>
        
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="error_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="success_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div>
                    <p>{{message}} </p>
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endif %}
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="container">
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Abreviatura Cliente:</label></div>
                <div class="col-3 form-control-sm">{{ form.abv }}</div>
                
            </div>
            <div class="row mt-2">
                
                <div class="col-2"><label class="form-label">De:</label></div>
                <div class="col-3 form-control-sm">{{ form.data_inicial }}</div>
                <div class="col-2"><label class="form-label">A:</label></div>
                <div class="col-3 form-control-sm">{{ form.data_final }}</div>
            </div>
            
                
            <div class="row mt-2">
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </div>

        </div>
    </form>

</div>



<!-- <div>
    <a href="{% url 'producao:bobinagem_list_v3' %}"  class="btn_back" role="button">Voltar</a>
</div>
<div class="title_block-list">
    <h1>Exportar Bobines para excel</h1>
</div>
{% if messages %}
    <div>
        
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="error_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="success_classificacao">
                    <p>{{message}} </p>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div>
                    <p>{{message}} </p>
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endif %}

<form action="" method="POST" class="submission-form">
    {% csrf_token %}
    <label for="id_cliente">Abreviatura Cliente:</label>{{ form.abv }}
    <label for="id_data_inicial">De:</label>{{ form.data_inicial }}
    <label for="id_data_final">A:</label>{{ form.data_final }}
    
    <input type="submit" value="Exportar" id="validate-btn">
</form> -->
{% endblock %}