{% extends "layout.html "%}
{% load bootstrap3 %}
{% load producao_tags %}
{% block title %}Associar Artigo a Cliente  | {{ block.super }}{% endblock %}
{% block content %}
<!-- {% if request.user|has_group:"Logistica Supervisor"%}
<div>
    <a href="{% url 'producao:cliente_details' pk=cliente.pk %}"  class="btn_back" role="button">Voltar</a>
</div>
<div class="title_block-list">
    <h1>Associar Artigo a Cliente</h1>
    <h2>{{ cliente.nome }}</h2>

</div>
<div>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div role="alert">
                    <h3>ERRO!</h3>
                    <p> {{message}} </p>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    
</div>
<form action="" method="POST" class="submission-form">
    {% csrf_token %}
    <label for="id_cod">Artigo</label>{{ form.artigo }}
    <label for="id_abv">Código do Cliente</label>{{ form.cod_client }}
    <input type="submit" value="Adicionar" id="validate-btn">
</form>      
{% else %}         
<h3>Acesso Restrito</h3>       
{% endif %}  -->

<div class="container">
    <a href="{% url 'producao:cliente_details' pk=cliente.pk %}" class="btn btn-outline-primary" role="button">Voltar</a>
</div>
{% if request.user|has_group:"Logistica Supervisor"%}
<div class="container">
    <div class="container">
        <h3 class="text-center">Associar Artigo a Cliente</h3>
    </div>
    <div>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div role="alert">
                        <h3>ERRO!</h3>
                        <p> {{message}} </p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        
    </div>
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="container">
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Artigo:</label></div>
                <div class="col-3 form-control-sm">{{ form.artigo }}</div>
                <div class="col-2"><label class="form-label">Cód. Cliente:</label></div>
                <div class="col-5 form-control-sm">{{ form.cod_client }}</div>
            </div>
            <!-- <div class="row mt-2">
                <div class="col-2"><label class="form-label">Tipo de emenda:</label></div>
                <div class="col-3 form-control-sm">{{ form.tipoemenda }}</div>
                <div class="col-2"><label class="form-label">Nº de emendas por bobine:</label></div>
                <div class="col-5 form-control-sm">{{ form.num_emendas_bobine }}</div>
            </div>
            <br>
            <div class="row mt-2">
                <p class="text-center">Embalamento</p>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Palete embalamento:</label></div>
                <div class="col-3 form-control-sm">{{ form_embal.paletemb }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Filme:</label></div>
                <div class="col-5 form-control-sm">{{ form_embal.filme}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Cinta:</label></div>
                <div class="col-3 form-control-sm">{{ form_embal.cinta }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Core:</label></div>
                <div class="col-5 form-control-sm">{{ form_embal.core }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">MDF:</label></div>
                <div class="col-4 form-control-sm">{{ form_embal.mdf }}</div>
                <div class="col-1"><label class="form-label">Qtd MDF:</label></div>
                <div class="col-3 form-control-sm">{{ form_embal.qtd_mdf }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Cartão:</label></div>
                <div class="col-4 form-control-sm">{{ form_embal.cartao }}</div>
                <div class="col-1"><label class="form-label">Qtd Cartão:</label></div>
                <div class="col-3 form-control-sm">{{ form_embal.qtd_cartao }}</div>
            </div> -->
                
          
            
            <div class="row mt-2">
                <button type="submit" class="col-12 btn btn-primary">Submit</button>
            </div>

        </div>
    </form>

</div>
{% else %}
<h3>Acesso Restrito</h3>       
{% endif %}
    


{% endblock %}