{% extends "layout.html "%}
{% load bootstrap3 %}
{% block title %}Associar Artigo a Cliente  | {{ block.super }}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-9 col-lg-9">  
                <a href="{% url 'producao:cliente_details' pk=cliente.pk %}" class="btn btn-primary">Voltar</a>
                
        </div>
        
    </div>
    <br>
    <br>
    <div class="row">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">
                        <h3 id="center">ERRO!</h3>
                        <p id="center"> {{message}} </p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        
    </div>

    <div class="row">
        <h1 id="center">Associar Artigo a Cliente</h1>
    </div>
    <div class="row">
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-block btn-primary pull-right" value="Criar">
                
            </form>
    </div>
                
</div>        
                
               
    


{% endblock %}