{% extends "layout.html "%}

{% block title %}Cliente Detalhes | {{ block.super }}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <a href="#"  class="btn btn-primary" role="button">Voltar</a>
        <a href="{% url 'producao:cliente_add_artigo' pk=cliente.pk %}"  class="btn btn-primary pull-right" role="button">Associar Artigo a Cliente</a>
    </div>
    <br>
    <div class="row">
        <h1 id="center">Detalhes {{ cliente.nome }}</h1>
        <br>
        <h2>Limite inferior: {{ cliente.liminf }}</h2>
        <h2>Limite superior: {{ cliente.limsup }}</h2>
        <h2>Diâmâmetro de referência: {{ cliente.diam_ref }}</h2>
       
        
    </div>
    <br>
    <br>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th id="center">Cód.</th>
                        <th>Descrição</th>
                        <th id="center">Cód. do Cliente</th id="center">
                       
                        
                    </tr>
                </thead>
                <tbody>
                    {% for ac in artigos_cliente %}
                        <tr>
                           <td id="center">{{ ac.artigo.cod }}</td>
                           <td>{{ ac.artigo.des }}</td>
                           {% if ac.cod_client == None %}
                               <td id="center">N/A</td>                            
                           {% else %}
                               <td id="center">{{ ac.cod_client }}</td>                            
                               <td id="center">{{ ac.cod_client }}</td>                            
                           {% endif%}
                        </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </div>
    
    
</div>




{% endblock %}