{% load bootstrap3 %}

<form method="POST" action="#" onkeypress="return event.keyCode != 13;">

    <div class="container size-table">
        <h1 id="center">Cliente</h1><br>
    <div class="row">
            <div class="col-md-3"></div>
            <div class="container col-sm-3">
                    {% bootstrap_field form.cod %}
                    
                    
        
            </div>
            <div class="container col-sm-3">
                {% bootstrap_field form.nome %}
                
                
    
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
            <div class="container col-sm-3">
                    {% bootstrap_field form.liminf %}
                    
                    
        
            </div>
            <div class="container col-sm-3">
                {% bootstrap_field form.limsup %}
                
                
    
        </div>
        <div class="col-md-3"></div>  
        
    </div>
    
      
    <br>
    <div class="row">  
            <div class="col-md-3"></div>  
            {% csrf_token %}
            <div class="col-md-6">
                <a href="{% url 'producao:clientes' %}" class="btn btn-primary pull-left" role="button">Voltar</a>
                <input type="submit" class="btn btn-primary pull-right" value="Submeter">
            </div>
            <div class="col-md-3"></div>
        </div>
    
</div>

    
</form>