{% extends "layout.html "%}
{% load producao_tags %}


{% block title %}Criar cliente | {{ block.super }}{% endblock %}
{% block content %}
<!-- <div>
    <a href="{% url 'producao:clientes' %}"  class="btn_back" role="button">Voltar</a>
</div>
{% if request.user|has_group:"Logistica Supervisor"%}
<div class="title_block-list">
    <h1>Criar Cliente</h1>
</div>
<form action="" method="POST" class="submission-form">
    {% csrf_token %}
    <label for="id_cod">Código cliente</label>{{ form.cod }}
    <label for="id_nome">Designação</label>{{ form.nome }}
    <label for="id_abv">Abreviatura</label>{{ form.abv }}
    <label for="id_limsup">Limite Superior</label>{{ form.limsup }}
    <label for="id_liminf">Limite Inferior</label>{{ form.liminf }}
    <label for="id_diam_ref">Diâmetro de referência</label>{{ form.diam_ref }}
    <input type="submit" value="Validar" id="validate-btn">
</form>
{% else %}
<h3>Acesso Restrito</h3>       
{% endif %}  -->

<div class="container">
    <a href="{% url 'producao:clientes' %}" class="btn btn-outline-primary" role="button">Voltar</a>
</div>
{% if request.user|has_group:"Logistica Supervisor"%}
<div class="container">
    <div class="container">
        <h3 class="text-center">Criar Cliente</h3>
    </div>
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="container">
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Cód. Cliente:</label></div>
                <div class="col-3 form-control-sm">{{ form.cod }}</div>
                <div class="col-2"><label class="form-label">Abreviatura:</label></div>
                <div class="col-5 form-control-sm">{{ form.abv }}</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Designação:</label></div>
                <div class="col-10 form-control-sm">{{ form.nome }}</div>
                
            </div>
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Limite Superior:</label></div>
                <div class="col-3 form-control-sm">{{ form.limsup }}</div>
                <div class="col-2"><label class="form-label">Limite Inferior:</label></div>
                <div class="col-3 form-control-sm">{{ form.liminf }}</div>
                <div class="col-1"><label class="form-label">Diam. Referência:</label></div>
                <div class="col-1 form-control-sm">{{ form.diam_ref }}</div>
            </div>
            
            <div class="row mt-2">
                <button type="submit" class="col-12 btn btn-primary">Submit</button>
            </div>

        </div>
    </form>

</div>
{% else %}
<h3>Acesso Restrito</h3>       
{% endif %}

{% endblock %}