{% extends "layout.html "%}
{% load bootstrap3 %}
{% block title %}Associar Artigo a Cliente  | {{ block.super }}{% endblock %}
{% block content %}
  
<div>
    <a href="{% url 'producao:cliente_details' pk=cliente.pk %}"  class="btn_back" role="button">Voltar</a>
</div>
<div class="title_block-list">
    <h1>Associar Artigo a Cliente</h1>
    <h2>{{ cliente.nome }}</h2>

</div>
<div>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div role="alert">
                    <h3>ERRO!</h3>
                    <p> {{message}} </p>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    
</div>
<form action="" method="POST" class="submission-form">
    {% csrf_token %}
    <label for="id_cod">Artigo</label>{{ form.artigo }}
    <label for="id_abv">Código do Cliente</label>{{ form.cod_client }}
    <input type="submit" value="Adicionar" id="validate-btn">
</form>               
               
    


{% endblock %}