{% extends "layout.html "%}
{% load bootstrap3 %}

{% block title %}Editar Artigo Nonwoven | {{ block.super }}{% endblock %}
{% block content %}
{% if can_edit == True %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-9 col-lg-9">  
                <a href="{% url 'producao:artigonw_list' %}" class="btn btn-primary">Voltar</a>
                
        </div>
        
    </div>
  
    


    <div class="row">
        <h1 id="center">Editar Artigo Nonwoven</h1>
    </div>
    <div class="row">
            <form method="POST">
                {% csrf_token %}

                <div class="row">
                    <div class="row">
                        <div class="col-md-4">
                            {% bootstrap_field form.cod %}
                        </div>
                        <div class="col-sm-4">
                            {% bootstrap_field form.designacao %}
                        </div>
                        <div class="col-sm-4">
                            {% bootstrap_field form.fornecedor %}
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {% bootstrap_field form.largura %}
                        </div>
                        <div class="col-sm-4">
                            {% bootstrap_field form.gsm %}
                        </div>
                       

                    </div>
                   
                    
                    
                </div>
                               
               
                <input type="submit" class="btn btn-block btn-primary pull-right" value="Guardar">
                
            </form>
    </div>
                
    </div>        
    
</div>
{% else %}
<div class="container">
    <div class="row">

        <h1 id="center">O Artigo Nonwoven não pode ser editado porque já tem Nonwovens associados</h1>
        <a href="{% url 'producao:artigonw_list' %}" class="btn btn-block btn-primary" role="button">Cancelar</a>

    </div>
    
</div>
{% endif %}
{% endblock %}