{% extends "layout.html" %} 
{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Bem vindo ao Sistema de Gestão Industrial da Elastictek</h1>
           <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a> -->
        </p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Indicador 1</h2>
            <p>Em construção</p>
            <p>
                <!--<a class="btn btn-default" href="#" role="button">View details &raquo;</a> -->
            </p>
        </div>
        <div class="col-md-4">
            <h2>Indicador 2</h2>
            <p>Em construção</p>
            <p>
               <!-- <a class="btn btn-default" href="#" role="button">View details &raquo;</a> -->
            </p>
        </div>
        <div class="col-md-4">
            <h2>Indicador 3</h2>
            <p>Em construção</p>
            <p>
               <!-- <a class="btn btn-default" href="#" role="button">View details &raquo;</a> -->
            </p>
        </div>
    </div>



    {% endblock %}