{% extends "layout.html " %} 
{% load bootstrap3 %}

{% block title %}Retrabalho | {{ block.super }}{% endblock %} 
{% block content %}
<div class="container">
    <div class="row">
        <h1 id="center">Bobinagens Retrabalhadas</h1>
    </div>
    <br>
    <div class="row" id="search_form">
              
        <p><strong>Pesquisar</strong></p>
        <form method="post" id="myForm">
            <div class="row">

                {% csrf_token %}
                <div class="col-sm-4">
                    {% bootstrap_form form %} <span><input type="submit" onclick="submit()" class="btn btn-primary pull-right" value="Procurar"></span>
                <a class="btn btn-primary" href="{% url 'producao:perfil_list_v2' %}">Reset</a>
                  
                   
                </div>
                
            </div>
            
            
            
        </form>
        <!-- <form method="GET" >
            <div class="input-field">
                    {% bootstrap_form form %}

                <button class="btn" type="submit" name="action">Search</button>
            </div>
        </form> -->
    </div>
    <br>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Bobinagem</th>
                        <th>Emendas</th>
                        <th>Nº de bobines</th>
                        <th>Comp.(m)</th>
                        <th>Área(m<sup>2</sup>)</th>
                        <th></th>
                        
                </tr>
                <tbody>
                    {% for b in bobinagem %}
                        <tr>
                            <td><a href="{% url 'producao:bobinestatus' pk=b.pk %}">{{ b.nome }}</a></td>
                            <td>{{ b.num_emendas }}</td>
                            <td>{{ b.perfil.num_bobines }}</td>
                            <td>{{ b.comp_cli }}</td>
                            <td>{{ b.area }}</td>
                            <td><a href="#" role="button" class="btn btn-warning">Refazer</a>
                            <a href="#" role="button" class="btn btn-danger glyphicon glyphicon-trash"></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </div>

    <div class="row">
        {% if bobinagem.has_other_pages %}
        <div class="pagination">
            <span class="step-links">
                {% if bobinagem.has_previous %}
                    <a role="button" class="btn btn-primary " href="?page=1">Primeira</a>
                    <a role="button" class="btn btn-primary glyphicon glyphicon-menu-left" href="?page={{ contacts.previous_page_number }}"></a>
                {% endif %}
        
                <span class="current">
                    Pág. {{ bobinagem.number }} de {{ bobinagem.paginator.num_pages }}
                </span>
        
                {% if bobinagem.has_next %}
                    <a role="button" class="btn btn-primary glyphicon glyphicon-menu-right" href="?page={{ bobinagem.next_page_number }}"></a>
                    <a role="button" class="btn btn-primary" href="?page={{ bobinagem.paginator.num_pages }}">Última</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>

       

    
</div>

{% endblock %}