{% load bootstrap3 %}

<form method="POST" action="#">
         
    <div class="row">
            <div class="container col-sm-4">
                    {% bootstrap_field form.inico %}
                    
                    
        
            </div>
            <div class="container col-sm-4">
                {% bootstrap_field form.fim %}
                
                
    
        </div>
        
    </div>
    <div class="row">
        <div class="container col-sm-4">
                {% bootstrap_field form.diam %}
                
                
    
        </div>
            
            
            
    </div>
   
   
    </br>
    <div class="row">    
            {% csrf_token %}

            <input type="submit" class="btn btn-primary pull-right" value="Finalizar">
        </div>
    
</div>

    
</form>



