{% extends "layout.html " %} 
{% load producao_tags %}
{% block title %}Retrabalho | {{ block.super }}{% endblock %} 
{% block content %}
<div class="container">
    <a href="{% url 'producao:retrabalho_home' %}" class="btn btn-primary" role="button">Voltar</a>
    
    

</div>
<div class="container">
    <div class="row">
        <h1>Bobinagem: {{ bobinagem.nome }}</h1>
        <div class="container">
            <form method="GET" action='' >{% csrf_token %}
                    <input type="text" name='l' placeholder="Largura" autofocus/>
                    <input type="submit" class="btn btn-success" value="Pesquisar"/>
            </form>
        </div>

    </div>
    <div class="row">
        
        <div class="container table-responsive col-md-5 bobines">
                
                <table class="table fit">
                    <thead>
                        <tr>
                            <th>Palete</th>
                            <th>Estado</th>
                            <th>Nº de Bobines</th>
                            <th>Largura bobines</th>
                            
                            
                            

                        </tr>
                    </thead>
                    <tbody> 
                        
                        {% for p in palete %}
                        {% if not p.num == 0 %}
                        <tr> 
                            <td><a class="palete-bobine" data-href="{% url 'api:bobine-list2' p.pk %}">{{ p.nome }}</a></td>
                            <td id='estado_dm'>{{ p.estado }}</td>
                            <td>{{ p.num_bobines_act }}/{{ p.num_bobines }}</td>
                            <td>{{ p.largura_bobines }}</td>
                         
                        </tr>
                        {% endif %}
                        {% endfor %}
                        
                </tbody>
             </table>
            
            
        </div>
        <div class="container table-responsive col-md-7 bobines">
                <h2 id="palete">Palete</h2>
                <table class="table fit">
                       <thead>
                           <tr>
                               <th>Bobine</th>
                               <th>Estado</th>
                               <th>Largura</th>
                               <th>Comp. actual/Comp. Inicial </th>                               
                               <th>Produto</th>
                               <th>Motivo</th>
                               <th>Observações</th>
                               <th>Observações Bobinagem</th> 

                           </tr>
                       </thead>
                       <tbody id="jsonresp">
                           
                       </tbody>
                       
                </table>
                
    </div>
    <div class="row">
        {% if bobinagem.num_emendas != 3%}
            <div class="container table-responsive col-md-5">
                
                {% emendas_form form %}
                <br>
                {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                    <li class="{{ message.tags }}" id="error">{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
                        
            </div>
            {% endif %}
            
            <div class="container table-responsive col-md-7 pull-right">
                    <h2>Emendas</h2>
                    <table class="table fit">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Bobine original</th>
                                <th>Metros consumidos (m)</th>
                                
                                
                                <th>Emenda (m)</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in emenda %}
                            <tr>
                                <td>{{ e.num_emenda }}</td>
                                <td>{{ e.bobine }}</td>
                                <td>{{ e.metros }}</td>
                                <td>{{ e.emenda }}</td>
                                <td><a href="{% url 'producao:emenda_delete' pk=e.pk %}" class="btn btn-primary" role="button">Apagar</a></td>

                                
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                        
                        
                    </table>  
                    
                    <h3 class="pull-right">Comp. Total (m): {{ bobinagem.comp }}</h3>
                    
                    
                </div>
                {% if bobinagem.num_emendas != 0 %}
                <div class="container pull-right">
                    <a href="{% url 'producao:finalizar_retrabalho' pk=bobinagem.pk %}" class="btn btn-primary pull-right" role="button">Terminar retrabalho</a>
                </div>
                {% endif %}
    </div>
   
    
    
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
   
    
    $('.palete-bobine').click(function() {
        
        var this_= $(this)
        var url = this_.attr("data-href")
        
        $.ajax({
            url: url,
            dataType: "json",
            success: function (data){
                $("#jsonresp").empty()
                var data_length = data.length
                
                for ( i = 0; i < data_length; i++){
                    var causa = ""
                    if (data[i].con == true) {
                        var causa = "Cónico"
                    } 
                    if (data[i].descen == true) {
                        var causa = causa + " Descentrado"
                    } 
                    if (data[i].presa == true) {
                        var causa = causa + " Presa"
                    } 
                    if (data[i].diam_insuf == true) {
                        var causa = causa + " Diâmetro insuficiente"
                    } 
                    if (data[i].furos == true) {
                        var causa = causa + " Furos"
                    } 
                    if (data[i].esp == true) {
                        var causa = causa + " Gramagem"
                    } 
                    if (data[i].troca_nw == true) {
                        var causa = causa + " TrocaNW"
                    } 
                    if (data[i].outros == true) {
                        var causa = causa + " Outros"
                    } 

                    $("#jsonresp").append(
                        "<tr><td><a id='bobine'>" + data[i].nome + "</a></td><td id='estado_dm'>" + data[i].estado + "</td><td>" + data[i].largura.largura + "</td><td>" + data[i].comp_actual + "  /  " + data[i].bobinagem.comp +  
                            "</td><td>" + data[i].largura.perfil.produto + "</td><td>" + causa + "</td><td>" + data[i].obs + "</td><td>" + data[i].bobinagem.obs + "</td></tr>")
                    
                }
                $("#palete").empty()
                $("#palete").append(
                    "<h2>" + data[0].palete.nome + "</h2>"
                )
                
                
                
            }
            


        })
    })

    


 
    
    
    
</script>




{% endblock %}
