{% extends "layout.html " %} 
{% block title %}Finalizar retrabalho | {{ block.super }}{% endblock %} 
{% load producao_tags %}
{% block content %}
<div class="container">
    <a href="{% url 'producao:refazer_bobinagem_dm' bobinagem.pk %}" class="btn btn-primary" role="button">Cancelar retrabalho</a>
       

</div>
<div class="container">
    <h1>Finalizar Bobinagem  nº {{ bobinagem.num_bobinagem }} de {{ bobinagem.data|date:"d-n-Y" }}</h1>
    <p id="atencao">Atenção: Se a hora de inicio do retrabalho for antes da meia noite e a hora fim do retrabalho for depois da meia noite, a bobinagem gerada será a primeira do dia seguinte ao introduzido no inicio do retrabalho.</p>
    {% final_form form %}
            
        
    
</div>



{% endblock %}