{% extends "layout.html "%}
{% load bootstrap3 %}



{% block title %}Retrabalho | {{ block.super }}{% endblock %}
{% block content %}

<div class="container">    
        <h1 id="center">Retrabalhar</h1><br>
        <!-- <h2 id="center">{{ bobinagem.nome }}</h2><br> -->
<form method="POST" action=''>{% csrf_token %}
    {{ formset.management_form }}
    
        
    {% for form in formset %}
        
            <p name='q'>{% bootstrap_field form.bobine %}</p>
            <p name='p'>{% bootstrap_field form.metros %}</p>
           
    {% endfor %}
    
         
    </table>
    <input type="submit" class="btn btn-primary" value="Criar">
</form>
</div>
       

{% endblock %}
