{% extends "layout.html "%}
{% load producao_tags %}


{% block title %}Retrabalho | {{ block.super }}{% endblock %}
{% block content %}
<div>
    <input type="button" value="Voltar" id="confirm-btn" onclick="history.back()">
</div>
<div class="title_block-list">
    <h1>Criar Bobinagem de Retrabalho</h1>
</div>
<form action="" method="POST" class="submission-form">
    {% csrf_token %}
    <label for="id_data">Data:</label>{{ form.data }}
    <label for="id_num_bobinagem">Bobinagem nº</label>{{ form.num_bobinagem }}
    <label for="id_perfil">Perfil</label>{{ form.perfil }}
    <label for="id_limsup">Início</label>{{ form.inico }}
     <input type="submit" value="Criar" id="validate-btn">
</form>

{% endblock %}