{% extends "layout.html "%}
{% load producao_tags %}


{% block title %}Retrabalho | {{ block.super }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
            <h1 id="center">Criar bobinagem de Retrabalho</h1>
        <div class="col-md-6">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}" id="error">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% retrabalho_form form %}
        </div>
        <div class="col-md-6">
            

        </div>

    </div>
</div>
{% endblock %}