{% extends "layout.html " %} 
{% block title %}Retrabalho | {{ block.super }}{% endblock %} 
{% block content %}
<div class="container">
    <a href="{% url 'producao:producao_home' %}" class="btn btn-primary" role="button">Voltar</a>
    {% comment %} <a  href="#" class="btn btn-primary pull-right" role="button">Retrabalhar</a> {% endcomment %}
    <a href="{% url 'producao:retrabalho_bobinagem' %}" class="btn btn-primary pull-right" role="button">Retrabalhar</a>
    
    

</div>
<div class="container size-table">
        <h1 id="center">Bobinagens retrabalhadas</h1><br>
       
    </div>

<script>
$(document).ready(function(){
    $.ajax({ 
        type: "GET",
        dataType: "json",
        url: "/api/bobinagem/list/dm",
        success: function(bobinagem_dm){ 
            if(!bobinagem_dm || bobinagem_dm.length === 0) {
                    return;
            }
            var bobinagem_dm_length = bobinagem_dm.length
            for(i=0; i < bobinagem_dm_length)

        }
    })




})

</script>



{% endblock %}