{% extends "layout.html "%} 
{% block title %}Cintas | {{ block.super }}{% endblock %}
{% block content %}

<div class="container">
    <a href="{% url 'producao:embalamento_home' %}" class="btn btn-outline-primary" role="button">Voltar</a>
    <a href="{% url 'producao:cinta_create' %}" class="btn btn-outline-primary" role="button">Criar Cinta</a>
    
</div>
<div class="container">
    <div>
        <h3 class="text-center">Cintas</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th scope="col">Cód. Cintas</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Apagar</th>
                    </tr>
            </thead>
            <tbody>
                {% for cinta in cintas %}
                <tr>                   
                    <td>{{ cinta.cod }}</td>
                    <td>{{ cinta.des }}</td>
                    <td><a href="#"><i class="fas fa-edit"></i></a></td>
                    <td><a href="#"><i class="fas fa-trash"></i></a></td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}