{% extends "layout.html "%} 
{% block title %}Criar Palete Embalamento | {{ block.super }}{% endblock %}
{% block content %}

<div class="container">
    <a href="{% url 'producao:paletes_emb_list' %}" class="btn btn-outline-primary" role="button">Voltar</a>
    <!-- <a href="#" class="btn btn-outline-primary" role="button">Criar Artigo</a> -->
    
</div>
<div class="container">
    <div class="container">
        <h3 class="text-center">Criar Palete Embalamento</h3>
    </div>
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="container">
            <div class="row mt-2">
                <div class="col-2"><label class="form-label">Cód. Palete Embalamento:</label></div>
                <div class="col-3 form-control-sm">{{ form.cod }}</div>
                <div class="col-2"><label class="form-label">Descrição:</label></div>
                <div class="col-5 form-control-sm">{{ form.des }}</div>
            </div>
           
                
            <div class="row mt-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </div>
    </form>

</div>

{% endblock %}